.spinner {
  margin: auto;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 0.714em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.spinner > div {
  background-color: #01374d;
  height: 100%;
  width: 4px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
  background-color: $brand-default;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    -webkit-transform: scaleY(0.4) ;
  
  }  
  20% { 
    -webkit-transform: scaleY(1.0) 
  }
  
}

@keyframes sk-stretchdelay {

  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  background-color: #01374d;
  }

  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
    background-color: #d3dee3;
  }
}

.form-box{
  margin-top: 30px;
}

.help-block{
  color: $help-block-color;
  font-size: 0.857em;
}

.form-group.form-group-line{
  label{
    color: $form-label-color;
    font-size: 0.857em;
    margin-bottom: 0;
    font-weight:normal;
    pointer-events:none;
  }
  .form-control{
    color: $form-input-text-color;
    font-size: 1.143em;
    padding: 4px 0;
    height: 35px;
    border:none;
    background-color: transparent;
    border-bottom:1px solid $form-input-border-color;
    @include border-radius(0);
    @include box-shadow(none);
    > option{
        color: $white;
        background-color: $gray-darker;
    }
    &:focus{
      outline:none;
      @include box-shadow(none);
    }
  }
}

.form-group-placeholder{
  position: relative;
  label{
    color: $form-label2-color;
    font-size: 0.857em;
    margin-bottom: 0;
    font-weight:normal;
    pointer-events:none;
    top: 11px;
    position: absolute;
  }
  .form-control{
    color: $form-input-text-color;
    font-size: 1.143em;
    padding: 8px 0 8px 30px;
    border:none;
    background-color: transparent;
    border-bottom:1px solid $form-input-border-color;
    @include border-radius(0);
    @include box-shadow(none);
    > option{
        color: $white;
        background-color: $gray-darker;
    }
    &:focus{
      outline:none;
      @include box-shadow(none);
    }
  }
}

.page-title{
  margin-bottom: 15px;
  h3{
    color: $page-title-header-color;
    font-size: 1.286em;
    margin-top: 0;
    margin-bottom: 0;
    a{
      margin-left: 10px;
      color: $page-title-help-color;
    }
  }
  p{
    font-size: 0.786em;
    line-height: 1.429em;
    color: $page-title-text-color;
    max-width: 90%;
    margin: 0 auto 10px;
    display: block;
  }
}

.table-container,
.form-container{
  padding-top: 16px;
}

.wallet-box{
  text-align: center;
  margin: -16px -8px 16px;
  padding: 8px;
  background: darken($body-bg, 2%);
  h4{
    font-size: 1em;
    font-weight: normal;
    line-height: 1.429em;
    color: $text-color;
    margin-top: 0;
    margin-bottom: 0;
  }
  p{
    font-size: 1.286em;
    line-height: 1.071em;
    color: $brand-alt;
    margin-bottom: 0;
  }
  span{
    font-size: 0.857em;
    line-height: 1.818em;
    color: darken($text-color, 40%);
    display: block;
  }
}

.table{
  >thead>tr>th,
  >thead>tr>td,
  >tbody>tr>th,
  >tbody>tr>td,
  >tfoot>tr>th,
  >tfoot>tr>td {
    color: $text-alt;
    padding: 16px 0;
    vertical-align: middle;
    border-top: 1px solid desaturate(lighten($body-bg, 5%), 40%);
  }
  .table-entry-type{
    color: $text-alt;
    font-size: 1.143em;
    line-height: 1.286em;
    display: block;
  }
  .table-date{
    font-size: 0.857em;
    color: darken($text-alt, 40%);
    line-height: 1.818em;
    display: block;
  }
  .table-status{
    @extend .table-date;
    font-weight: 700;
    display: inline;
  }
}

.language-box{
  text-align: center;
  a{
    margin-bottom: 15px;
    display: block;
  }
  img{
    width: 60%;
    max-width: 150px;
    margin: 0 auto 5px;
    display: block;
  }
  span{
    color: $text-alt;
    font-size: 0.786em;
    display: inline-block;
  }
}

.datePicker {
    padding: 4px 0;
    position: relative;
}

div.hasDatepicker {
    margin-top: 10px!important;
    max-width: 414px !important;
}

.ui-datepicker .ui-datepicker-title {
    padding: 5px;
}
       
.ui-datepicker .ui-datepicker-next{
    right: -2px !important;
}

.ui-datepicker-calendar th {
    text-align: center;
}

#tblHistory td div.pointDetailMainHeader {
    background: none repeat scroll 0 0 #01405a;
    display: block;
    font-weight: bold !important;
    line-height: 40px;
    position: relative;
    text-align: left;
    padding: 0 5pt;
    font-size: 9pt;
    font-family: Tahoma;
}

#tblHistory td div.pointsLink {
    background: none repeat scroll 0 0 #023348;
    display: block;
    line-height: 40px;
    padding: 0 5pt;
    font-size: 9pt;
}

#tblHistory td div.points {
    background: none repeat scroll 0 0 #023348;
    display: block;
    line-height: 40px;
    padding: 0 5pt;
    font-size: 9pt;
}

#tblHistory tr {
    border: solid;
    border-width: 1px 0;
}

#transactions td div.pointDetailMainHeader {
    background: none repeat scroll 0 0 #216f93;
    display: block;
    font-size: 10pt;
    font-weight: bold !important;
    min-height: 35px;
    padding: 18px 5px;
    position: relative;
    height: 62px;
    text-align: center;
}

#transactions td div.points {
    background: none repeat scroll 0 0 #023348;
    display: block;
    line-height: 13px;
    padding: 29px 5px;
    font-size: 9pt;
    height: 69px;
    text-align: center;
}

#transactions tr {
    border: solid;
    border-width: 1px 0;
    height: 63px;
}

#transactions td {
    padding: 0 1px;
}

.flags {
    width: 100%;
    max-width: 150px;
    margin: 0 auto 40px;
    display: block !important;
    height: 55px;
    background-size: contain !important;
    font-size: 11px;
}

#en-us {background: url(/_Static/Css/images/flags/en.jpg) no-repeat center;}
#en-my {background: url(/_Static/Css/images/flags/my.jpg) no-repeat center;}
#zh-cn {background: url(/_Static/Css/images/flags/cn.jpg) no-repeat center;}
#zh-my {background: url(/_Static/Css/images/flags/my.jpg) no-repeat center;}
#id-id {background: url(/_Static/Css/images/flags/id.jpg) no-repeat center;}
#ja-jp {background: url(/_Static/Css/images/flags/jp.jpg) no-repeat center;}
#km-kh {background: url(/_Static/Css/images/flags/kh.jpg) no-repeat center;}
#ko-kr {background: url(/_Static/Css/images/flags/kr.jpg) no-repeat center;}
#th-th {background: url(/_Static/Css/images/flags/th.jpg) no-repeat center;}
#vi-vn {background: url(/_Static/Css/images/flags/vn.jpg) no-repeat center;}

#en-us:after {content: 'English'; top: 60px; position: relative;}
#en-my:after {content: 'English'; top: 60px; position: relative;}
#zh-cn:after {content: '简体中文'; top: 60px; position: relative;}
#zh-my:after {content: '简体中文'; top: 60px; position: relative;}
#id-id:after {content: 'Bhs Indonesia'; top: 60px; position: relative;}
#km-kh:after {content: 'ខ្មែរ'; top: 60px; position: relative;}
#ko-kr:after {content: '한국어'; top: 60px; position: relative;}
#ja-jp:after {content: '日本語'; top: 60px; position: relative;}
#th-th:after {content: 'ไทย'; top: 60px; position: relative;}
#vi-vn:after {content: 'Tiếng Việt'; top: 60px; position: relative;}