<div class="history-full-header">
    <h5>{%-tplData.result.Type%} {%-tplData.result.DateTime%}</h5>
    <a href="#" onclick="javascript: w88Mobile.History.closeModal()"><span class="icon ion-ios-close-empty"></span></a>
</div>
<div class="history-full-content">
    <div>
        <p><small id="transId-lbl"></small></p>
        <h5>{%-tplData.result.TransactionId%}</h5>
    </div>
    <div>
        <p><small id="cat-lbl"></small></p>
        <h5>{%-tplData.result.Category%}</h5>
    </div>
    <div>
        <p><small id="prod-lbl"></small></p>
        <h5>{%-tplData.result.Product%}</h5>
    </div>
    <div>
        <p><small id="msg-lbl"></small></p>
        <h5>{%-tplData.result.Message%}</h5>
    </div>
    <div>
        <p><small id="subAmt-lbl"></small></p>
        <h5>{%-tplData.result.SubmittedAmount%}</h5>
    </div>
    <div>
        <p><small id="status-lbl"></small></p>
        <h5>{%-tplData.result.Status%}</h5>
    </div>
</div>
