<div class="history-full-header">
    <h5>{%-tplData.result.PaymentType%} {%-tplData.result.DateTime%}</h5>
    <a href="#" onclick="javascript: w88Mobile.History.closeModal()"><span class="icon icon-close"></span></a>
</div>
<div class="history-full-content">
    <div>
        <p><small id="method-lbl"></small></p>
        <h5>{%-tplData.result.PaymentMethod%}</h5>
    </div>
    <div>
        <p><small id="transId-lbl"></small></p>
        <h5>{%-tplData.result.TransactionId%}</h5>
    </div>
    <div>
        <p><small id="recAmt-lbl"></small></p>
        <h5>{%-tplData.result.ReceivedAmount%}</h5>
    </div>
    <div>
        <p><small id="subAmt-lbl"></small></p>
        <h5>{%-tplData.result.SubmittedAmount%}</h5>
    </div>
    <div>
        <p><small id="status-lbl"></small></p>
        <h5>{%-tplData.result.Status%}</h5>
    </div>
</div>
