<div class="history-full">
    <div class="history-full-header">
        <h5>{%-history.result.DateTime%}</h5>
        <a href="#" onclick="javascript: w88Mobile.History().closeModal()"><span class="icon ion-ios-close-empty"></span></a>
    </div>
    <div class="history-full-content">
        <div>
            <p><small id="transId-lbl"></small></p>
            <h5>{%-history.result.TransactionId%}</h5>
        </div>
        <div>
            <p><small id="from-lbl"></small></p>
            <h5>{%-history.result.FromWalletId%}</h5>
        </div>
        <div>
            <p><small id="to-lbl"></small></p>
            <h5>{%-history.result.ToWalletId%}</h5>
        </div>
        <div>
            <p><small id="amt-lbl"></small></p>
            <h5>{%-history.result.TransferAmount%}</h5>
        </div>
        <div>
            <p><small id="status-lbl"></small></p>
            <h5>{%-history.result.Status%}</h5>
        </div>
        <div>
            <p><small id="source-lbl"></small></p>
            <h5>{%-history.result.CreatedBy%}</h5>
        </div>
    </div>
</div>