<div class="history-data">
    {% if (tplData.result) { %}
    {% _.each(tplData.result, function(item) { %}
    <div class="history-data-row">
        <div>
            <h5 class="h-title">{%-item.SubjectCode%}</h5>
            <p class="h-date"><small>{%-item.SubmissionDate%}</small></p>
        </div>
    </div>
    {% }); %}
    {% } else { %}
    <div class="history-not-found">
        <span>{%-tplData.dateFrom%} - {%-tplData.dateTo%}</span>
        <br />
        <span> {%-tplData.message%}</span>
    </div>
    {% }%}
</div>