<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="OperatorGroupSettings">
      <section name="W88" type="System.Configuration.NameValueSectionHandler"/>
      <section name="W88_Iovation" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>

    <sectionGroup name="WalletGroupSettings">
      <section name="main" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="asports" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="lottery" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="casino" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="playtech" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="binary" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="poker" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="sbtech" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
		  <section name="netent" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="pmahjong" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>

  <WalletGroupSettings>
    <main walletId="0" orderBy="1" />
    <lottery walletId="1" orderBy="3" />
    <asports walletId="2" orderBy="2" />
    <casino walletId="3" orderBy="4" />
    <playtech walletId="4" orderBy="5" />
    <binary walletId="5" orderBy="6" />
    <poker walletId="6" orderBy="7" />
    <sbtech walletId="7" orderBy="8" />
	  <netent walletId="12" orderBy="10" />
    <pmahjong walletId="8" orderBy="11" />
  </WalletGroupSettings>
  <OperatorGroupSettings>
    <W88>
      <add key="OperatorId" value="1"/>
      <add key="LanguageSelection" value="en-us | zh-cn | vi-vn | th-th | km-kh | id-id | ko-kr | ja-jp"/>
      <add key="DefaultSelectedLanguage" value="en-us"/>
      <add key="BlockedCountries" value="- | HK | PH | SG | TW | US | FR"/>
      <add key="Products" value="main | asports | netent | sbtech | casino | playtech | lottery | poker | pmahjong" />
      <add key="Currencies" value="IDR | MYR | RMB | THB | USD | VND" />
	  <add key="ASportsUrl" value="http://ismart.w88id.com/Deposit_ProcessLogin.aspx?lang={LANG}&amp;st={TOKEN}" />
      <add key="ESportsUrl" value="http://mobile.w88cdn.agent1818.com/?LangID={LANG}&amp;ExternalToken={TOKEN}&amp;oddsstyleid=1" />
      <add key="VSportsUrl-Basketball" value="http://casino.w88uat.com/sportbooks/rgsMobile?op=W88&amp;token={TOKEN}&amp;gameType=VBL&amp;oddType=Dec&amp;language={LANG}" />
      <add key="VSportsUrl-Tennis" value="http://casino.w88uat.com/sportbooks/rgsMobile?op=W88&amp;token={TOKEN}&amp;gameType=VTO&amp;oddType=Dec&amp;lang={LANG}" />
      <add key="VSportsUrl-HorseRacing" value="http://casino.w88uat.com/sportbooks/rgsMobile?op=W88&amp;token={TOKEN}&amp;gameType=VHC&amp;oddType=Dec&amp;lang={LANG}" />
      <add key="VSportsUrl-Football" value="http://casino.w88uat.com/sportbooks/rgsMobile?op=W88&amp;token={TOKEN}&amp;gameType=VFL&amp;oddType=Dec&amp;language={LANG}" />
      <add key="VSportsUrl-DogRacing" value="http://casino.w88uat.com/sportbooks/rgsMobile?op=W88&amp;token={TOKEN}&amp;gameType=VDR&amp;oddType=Dec&amp;lang={LANG}" />
      <add key="ClubCrescendoUrl" value="https://crescendo.w88.com/mobile-games/launcher.htm" />
      <add key="ClubBravadoFunUrl" value="http://mslots.w88uat.com/{GAME}/?fun=1" />
      <add key="ClubBravadoRealUrl" value="http://mslots.w88uat.com/{GAME}/?fun=0" />
      <add key="ClubBravadoThirdPartyFunUrl" value="https://caostage.playngonetwork.com/casino/playmobile?pid=168&amp;gid={GAME}&amp;lang={LANG}&amp;practice=1&amp;=http://m.w88uat.com/ClubBravado" />
      <add key="ClubBravadoThirdPartyRealUrl" value="https://caostage.playngonetwork.com/casino/playmobile?pid=168&amp;gid={GAME}&amp;lang={LANG}&amp;ticket={TOKEN}&amp;lobby=http://m.w88uat.com/ClubBravado" />

      <!--<add key="ClubBravadoThirdPartyFunUrl" value="https://asicw.playngonetwork.com/casino/PlayMobile?pid=168&amp;gid={GAME}&amp;lang={LANG}&amp;practice=1&amp;lobby=http://m.w88bet.com/ClubBravado" />
      <add key="ClubBravadoThirdPartyRealUrl" value="https://asicw.playngonetwork.com/casino/PlayMobile?pid=168&amp;gid={GAME}&amp;lang={LANG}&amp;ticket={TOKEN}&amp;lobby=http://m.w88bet.com/ClubBravado" />-->

      <add key="ClubDivinoFunUrl" value="http://lobby-w88.discreetgaming.com/cwguestlogin.do?bankId=613&amp;gameId={GAMEID}&amp;lang={LANG}&amp;homeUrl=http://{HOMEURL}/ClubDivino&amp;cashierUrl=http://m.{CASHIERURL}.com/FundTransfer/" />
      <add key="ClubDivinoRealUrl" value="http://lobby-w88.discreetgaming.com/cwstartgamev2.do?bankId=613&amp;mode=real&amp;gameId={GAMEID}&amp;lang={LANG}&amp;token={TOKEN}&amp;homeUrl=http://{HOMEURL}/ClubDivino&amp;cashierUrl=http://{CASHIERURL}/FundTransfer/" />
      <add key="ClubWUrl" value="http://casino.w88uat.com/mobile/casinolite.html" />
      <add key="KenoUrl" value="https://mlotto.{DOMAIN}/Login" />
      <!--<add key="ClubMassimoFunUrl" value="http://casinointegration1.installprogram.eu/MobileWebServices/Casino/Game/Launch/template" />
      <add key="ClubMassimoRealUrl" value="http://casinointegration1.installprogram.eu/MobileWebServices/Casino/Game/Launch/W88" />-->
      <add key="ClubMassimoFunUrl" value="http://mobile22.gameassists.co.uk/MobileWebServices/casino/game/launch/W88" />
      <add key="ClubMassimoRealUrl" value="http://mobile22.gameassists.co.uk/MobileWebServices/casino/game/launch/W88" />
      <add key="DemoDomains" value=".w88bet.com | .w88uat.com | .bet8uat.com | .w88dev.com | .bet8dev.com" />
      <add key="LPNumber" value="P19506071" />
      <add key="LPAppKey" value="a9OZlNl2/fx9yk+ERIxOWEmSRiDQzOKDJD3a1BPcAsFXYsVoDH2+ZpUflmx4Mo52YLvr3y8E1dt/ch9YBQbyvSMLxeEhTCYw2TuVm7ZlpQeYEOTXGuzxNbaTk87MdZGT4ZPESY6P39M=" />
      <add key="IndexPromoPageSize" value="3"/>
      <add key="SplashUrl" value="http://m.w88.com" />
      <add key="Lobby" value="http://m.w88988.com/ClubMassimo" />
      <add key="SDPay_MerchantAccount" value="rV6rVAYjTiVQ5RjpV/+Ct/TygyH5mvmV" />
      <add key="SDPay_ServerReturnUrl" value="http://callbackuat.luxhall.com/api/SdPay.ashx" />
      <add key="SDPay_PostUrl" value="http://api.m.sdpay.officenewline.org:11403/PMToService.aspx" />
      <add key="SDPay_Key1" value="Au0rclR74j5lpfpHyVPV6PTSKnOiWrfe5HUM54aP9mZl3jWmAzTj4yyE08VDND7Q" />
      <add key="SDPay_Key2" value="xf9FnCe+9Rwbdl/QxWEIsDl3nXuGS0Xi48KdQmH2mlI0GH9yy46PWjaxpYdfXPEr" />
      <add key="SDPay_MD5" value="Ljqsi4fGTjP1PwZS2BEOWyJliEt5TBxO1F7NDjey6Fodwf5hIuZAyDmUjpeAZU2QeRXKUJJv3DdI0/lnQSYwkcheY+lCk03DY6JCEXHKyCzFy/TfvekRA8iswcTtUMxgIWg33Sf3//0=" />
      <!-- Help2Pay UAT Settings Start -->
      <add key="Help2Pay_ip" value="61.14.177.254|61.64.48.206|209.9.49.214"/>
      <add key="Help2Pay_check_url" value="http://api.racethewind.net/Services/Merchants/{0}/TransferStatus/{1}" />
      <add key="Help2Pay_merchantaccount" value="2VP2mlOURjZGA2H02Drvaw==" />
      <add key="Help2Pay_posturl" value="http://api.besthappylife.biz/MerchantTransfer" />
      <add key="Help2Pay_serverreturnurl" value="http://callback.luxhall.com/api/Help2Pay.ashx" />
      <add key="Help2Pay_key" value="PkisDuCpeY3tKQKhLfLIX7QJtPmc7Uascz6oBKkOOQYaA1kYFxFEUzUXN2pVsMMI" />
      <add key="Help2Pay_frontreturnurl" value="http://m.w88uat.com/" />
      <!-- Help2Pay UAT Settings End   -->
      <!-- Help2Pay Live Settings Start -->
      <!--<add key="Help2Pay_ip" value="61.14.177.254|61.64.48.206|209.9.49.214"/>
      <add key="Help2Pay_check_url" value="http://api.racethewind.net/Services/Merchants/{0}/TransferStatus/{1}" />
      <add key="Help2Pay_merchantaccount" value="gnSq8My0bLpInrH9ANDi5A==" />
      <add key="Help2Pay_posturl" value="https://api.racethewind.net/MerchantTransfer" />
      <add key="Help2Pay_serverreturnurl" value="http://ccb.aqzbo.com/api/Help2Pay.ashx" />
      <add key="Help2Pay_key" value="QGAYpIHpKd3e0FejD3XOzBFXmwJLP5WpOqf0PWPHu/CTPIuD6QTJ7mZDKlj3qW9Z" />
      <add key="Help2Pay_frontreturnurl" value="http://m.w88.com/" />-->
      <!-- Help2Pay Live Settings End   -->
      <add key="ClubBravadoFunUrl_MR" value="http://mrslots.{DOMAIN}.com/{GAME}/?fun=1" />
      <add key="ClubBravadoRealUrl_MR" value="http://mrslots.{DOMAIN}.com/{GAME}/?fun=0" />

      <add key="ClubGallardoFunUrl" value="http://casino.{DOMAIN}/sportbooks/isb?op=W88&amp;game_code={GAME}&amp;language={LANG}&amp;playmode=fun&amp;cur={CURCODE}&amp;lobbyURL={LOBBYURL}" />
      <add key="ClubGallardoRealUrl" value="http://casino.{DOMAIN}/sportbooks/isb?op=W88&amp;game_code={GAME}&amp;language={LANG}&amp;ticket={TOKEN}&amp;playmode=real&amp;lobbyURL={LOBBYURL}" />
      
    </W88>
    <W88_Iovation>
      <add key="CheckTransactionUrl" value="https://ci-snare.iovation.com/api/CheckTransaction" />
      <add key="GetEvidenceUrl" value="https://ci-snare.iovation.com/api/GetEvidenceDetails" />
      <add key="AccountPrefix" value="W88_" />
      <add key="SubscriberId" value="952002" />
      <add key="SubscriberAccount" value="OLTP" />
      <add key="SubscriberPassCode" value="2WTGH4X1" />
      <add key="ServiceDays" value="30" />
      <add key="ServiceEnabled" value="true" />
      <add key="Exceptions" value="office | office2" />
    </W88_Iovation>
  </OperatorGroupSettings>
  <appSettings>
    <add key="AuditLog" value="yes"/>
    <add key="AuditLogFolder" value="D:\WebServerLogs\W88.m" />
    <add key="PrivateKey" value="6USIJ9xT"/>
    <add key="privateKey_daddyPay" value="6USIJ9xT" />
    <add key="privateKey_nextPay" value="6USIJ9xT" />
    <add key="PaymentPrivateKey" value="6USIJ9xT"/>
    <add key="EncryptionKey" value="M41n$YsT3mVone"/>
    <add key="Operator" value="W88" />
    <add key="ClearWebCache" value="true" />
    <add key="DisplayDateFormat" value="dd/MM/yyyy"/>
    <add key="DisplayDateTimeFormat" value="dd/MM/yyyy HH:mm:ss"/>
    <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="DecimalFormat" value="###,###,###,##0.00" />
    <!--<add key="CheckPromoUrl" value="http://integration.ms1dev.com/internalApis/Promotion/checkPromo.aspx" />
    <add key="CheckClaimUrl" value="http://integration.ms1dev.com/internalApis/Promotion/checkClaim.aspx" />
    <add key="SMTPHOST" value="192.168.1.199" />-->


    <add key="CheckPromoUrl" value="http://integration.aqzbouat.com/internalApis/Promotion/checkPromo.aspx" />
    <add key="CheckClaimUrl" value="http://integration.aqzbouat.com/internalApis/Promotion/checkClaim.aspx" />
    <add key="SMTPHOST" value="192.168.86.191" />


    <add key="CN_domain" value="(.w88uat|.w88cn|.88vv.asia|.w88wcn|.w88vipcn|.w88top)"/>

    <add key="ProductWS" value="http://ws.aqzbouat.com/productWS.asmx"/>
    <add key="W88_Operator" value="1"/>

    <add key="WebHandler" value="http://www.{0}.com/common/livechat.ashx?url="/>
    <add key="WebHandler2" value="http://www.{0}.{1}/common/livechat.ashx?url="/>
    <add key="LivePersonMobile" value="https://m.{0}.com/LivePerson/Default.aspx"/>
    <add key="LivePersonMobile2" value="https://m.{0}.{1}/LivePerson/Default.aspx"/>

    <add key="DaddyPay_posturl" value="http://52.68.221.77/Mownecum_API/Deposit?format=json"/>


    <add key="BankList_en" value="2-CMB,3-CCB,30-ALIPAYQR"/>
    <add key="BankList_cn" value="2-招商银行,3-中国建设银行,30-支付宝(二维码)"/>



    <add key="country_domain_cn" value=".w88vipcn.com,.w88asia.com,.w88cn.com,.w88chn.com,.w88wasia.com,.w88wcn.com,.w88wchn.com,.W88981.com,.W88982.com,.W88983.com,.W88984.com,.W88985.com,.W88986.com,.W88987.com,.W88989.com" />
    <add key="country_domain_vn" value=".w88vipvn.com,.w88ap.com,.w88vn.com,.w88vnm.com,.w88play.com,.w88wvn.com,.w88wap.com,.w88wvnm.com,.w88goal.com" />
    <add key="country_domain_th" value=".w88vipth.com,.w88top.com,.w88th.com,.w88tha.com,.w88ok.com,.w88club.com,.w88wth.com,.w88wtop.com,.w88wtha.com,.w88ka.com,.w88kub.com,.w88wow.com,.w88bkk.com" />
    <add key="country_domain_id" value=".w88vipid.com,.w88world.com,.w88id.com,.w88idn.com,.w88asyik.com,.w88bagus.com,.vv88id.com,.vv88world.com,.w88wid.com,.w88wworld.com,.w88widr.com,.w88yes.com,.w88d.com" />
    <add key="country_domain_my" value=".w88vipmy.com,.w88my.com,.w88mys.com,.w88boleh.com,.w88wmys.com,.w8890.com" />
    <add key="country_domain_kr" value=".w88vipkr.com,.w88kr.com,.w88hankook.com,.w88kor.com,.w88wkr.com,.w88wkor.com,.w88fin.com,.w88cup.com,.88vv.asia,.vv88vv.asia" />
    <add key="country_domain_kh" value=".w88vipkh.com,localhost" />
    <add key="country_domain_jp" value=".w88win.com,.w88nihon.com,.w88nippon.com,.w88jp.com" />

    <add key="ClubBravadoFunUrl_MR" value="http://mrslots.{0}.com/{GAME}/?fun=1" />
    <add key="ClubBravadoRealUrl_MR" value="http://mrslots.{0}.com/{GAME}/?fun=0" />

	<add key="palazzo_url_real" value="http://hub.gf175488.com/igaming/?gameId={0}&amp;real=1&amp;username={1}&amp;lang={2}&amp;nolobby=1&amp;tempToken=&quot;+ temptoken"/>
	<add key="palazzo_url_fun" value="http://hub.gf175488.com/igaming/?gameId={0}&amp;real=0&amp;&amp;lang={1}&amp;nolobby=1&amp;tempToken=&quot;+ temptoken"/>
	<add key="palazzo_account_prefix" value="W88UAT" />

    <add key="NextPay_callbackurl" value="http://www.merchantwebsite.com/return.asp" />
    <add key="NextPay_posturl" value="http://www.chinapnr.asia/payment/ppay.aspx" />
    <add key="NextPay_merchantid" value="11ynEs4rOF6NpOtZv6cuP+ZkpwWwtIwbmqf9rgit20Bz0GYQv0/WeDAmrd3aWjSACAeXvPtlg4EXMxIZCaIzGhEOI6R/Uj6TMO85+pNpAcezFx6OU975e97SMVpydDWP" />

	<add key="AllDebit_merchantid" value="20751" />
	<add key="AllDebit_Visa" value="HntgrErxmqYlD99GdBr0YKLOSA07Wxbeu7IKkBmP318=" />
	<add key="AllDebit_Master" value="OFVKWYA1oJ2hLWG08LAE9xmhH1ZJOm6jLUvHgOnzvqA=" />
	<add key="AllDebit_posturl" value="https://online-safest.com/TestDirectInterface"/>
	<add key="AllDebit_callbackURL" value="http://callbackuat.luxhall.com/secure/AllDebit.ashx"/>
	  
    <add key="Poker_AndroidURL_EN" value="http://a.p2p-game.co.uk/m/n/W88_EN/Poker_installer.apk"/>
    <add key="Poker_AndroidURL_CN" value="http://a.p2p-game.co.uk/m/n/W88_CN/Poker_installer.apk"/>
    <add key="Poker_AndroidURL_ID" value="http://a.p2p-game.co.uk/m/n/W88_ID/Poker_installer.apk"/>
    <add key="Poker_AndroidURL_JA" value="http://a.p2p-game.co.uk/m/n/W88_JA/Poker_installer.apk"/>

    <add key="Poker_IOSURL_EN" value="itms-services://?action=download-manifest&amp;url=https://ssl.p2p-game.co.uk/m/n/W88_EN/Poker_installer.plist"/>
    <add key="Poker_IOSURL_CN" value="itms-services://?action=download-manifest&amp;url=https://ssl.p2p-game.co.uk/m/n/W88_CN/Poker_installer.plist"/>
    <add key="Poker_IOSURL_ID" value="itms-services://?action=download-manifest&amp;url=https://ssl.p2p-game.co.uk/m/n/W88_ID/Poker_installer.plist"/>
    <add key="Poker_IOSURL_JA" value="itms-services://?action=download-manifest&amp;url=https://ssl.p2p-game.co.uk/m/n/W88_JA/Poker_installer.plist"/>

	<add key="ClubMassimoDL" value="http://download.gp2cache.com/Massimo/W88MassimoSlots.apk"/>
	<add key="ClubWAPK" value="http://casino.{DOMAIN}/mob/app-prod-release-1.5.0.apk"/>

	<add key="TexasMahjongIOS_URL" value="itms-services://?action=download-manifest&amp;url=https://tm.gp2play.com/mobile/ios/manifest.plist"/>
	<add key="TexasMahjongAndroid_URL" value="https://tm.gp2play.com/mobile/android/install.html"/>

	<add key="SDAPayAlipayBankUrl" value="https://www.alipay.com/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="3145728" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFundTransfer" />
        <binding name="BasicHttpBinding_IDeposit" />
        <binding name="BasicHttpBinding_IMS1" />
        <binding name="BasicHttpBinding_IWithdrawal" />
        <binding name="memberWSSoap" />
        <binding name="productWSSoap" />
        <binding name="productWSSoap1" />
        <binding name="memberWSSoap1" />
        <binding name="BasicHttpBinding_IRewardsServices" />
        <binding name="ServiceSoap" />
        <binding name="BasicHttpBinding_IMember" />
      </basicHttpBinding>
    </bindings>
    <!--<client>
      <endpoint address="http://paymentservices.ms1dev.com/FundTransfer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFundTransfer"
        contract="svcFundTransfer.IFundTransfer" name="BasicHttpBinding_IFundTransfer" />
      <endpoint address="http://locationservices.ms1dev.com/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="wsIP2Loc.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://paymentservices.ms1dev.com/Member.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMember"
        contract="svcPayMember.IMember" name="BasicHttpBinding_IMember" />
      <endpoint address="http://paymentservices.ms1dev.com/Deposit.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeposit"
        contract="svcPayDeposit.IDeposit" name="BasicHttpBinding_IDeposit" />
      <endpoint address="http://paymentservices.ms1dev.com/MS1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMS1"
        contract="svcPayMS1.IMS1" name="BasicHttpBinding_IMS1" />
      <endpoint address="http://paymentservices.ms1dev.com/Withdrawal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWithdrawal"
        contract="svcPayWithdrawal.IWithdrawal" name="BasicHttpBinding_IWithdrawal" />
      <endpoint address="http://ws.ms1dev.com/memberws.asmx" binding="basicHttpBinding"
        bindingConfiguration="memberWSSoap" contract="wsMemberMS1.memberWSSoap"
        name="memberWSSoap" />
    </client>-->
    <client>
      <endpoint address="http://ws.aqzbouat.com/memberws.asmx" binding="basicHttpBinding"
        bindingConfiguration="memberWSSoap" contract="wsMemberMS1.memberWSSoap"
        name="memberWSSoap1" />
      <endpoint address="http://paymentservices.aqzbouat.com/FundTransfer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFundTransfer"
        contract="svcFundTransfer.IFundTransfer" name="BasicHttpBinding_IFundTransfer" />
      <endpoint address="http://paymentservices.aqzbouat.com/Deposit.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeposit"
        contract="svcPayDeposit.IDeposit" name="BasicHttpBinding_IDeposit" />
      <endpoint address="http://paymentservices.aqzbouat.com/MS1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMS1"
        contract="svcPayMS1.IMS1" name="BasicHttpBinding_IMS1" />
      <endpoint address="http://paymentservices.aqzbouat.com/Withdrawal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWithdrawal"
        contract="svcPayWithdrawal.IWithdrawal" name="BasicHttpBinding_IWithdrawal" />
      <endpoint address="http://ws.aqzbouat.com/productWS.asmx" binding="basicHttpBinding"
        bindingConfiguration="productWSSoap" contract="ProductWS.productWSSoap"
        name="productWSSoap" />
      <endpoint address="http://ws.aqzbouat.com/productWS.asmx" binding="basicHttpBinding"
        bindingConfiguration="productWSSoap1" contract="ProductWS.productWSSoap"
        name="productWSSoap1" />
      <endpoint address="http://rewardsservices.aqzbouat.com/RewardsServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRewardsServices"
        contract="RewardsServices.IRewardsServices" name="BasicHttpBinding_IRewardsServices" />
      <endpoint address="http://locationservices.aqzbouat.com/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="wsIP2Loc.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://paymentservices.aqzbouat.com/Member.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMember"
        contract="svcPayMember.IMember" name="BasicHttpBinding_IMember" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </modules>
    <handlers>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <staticContent>
      <!--<mimeMap fileExtension=".html" mimeType="text/html"/>-->
      <!-- <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest"/> -->
      <!-- <mimeMap fileExtension=".json" mimeType="application/json"/> -->
    </staticContent>
	<httpProtocol>
	  <customHeaders>
		  <add name="Access-Control-Allow-Origin" value="*" />
	  </customHeaders>
	</httpProtocol>
  </system.webServer>
</configuration>
