<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <sectionGroup name="OperatorGroupSettings">
            <section name="W88" type="System.Configuration.NameValueSectionHandler"/>
            <section name="W88_Iovation" type="System.Configuration.NameValueSectionHandler"/>
        </sectionGroup>

        <sectionGroup name="WalletGroupSettings">
            <section name="main" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
            <section name="asports" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
            <section name="lottery" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
            <section name="casino" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
            <section name="playtech" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
            <section name="binary" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
            <section name="poker" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
            <section name="sbtech" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
            <section name="netent" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
            <section name="pmahjong" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
        </sectionGroup>
    </configSections>

    <WalletGroupSettings>
        <main walletId="0" orderBy="1"/>
        <lottery walletId="1" orderBy="3"/>
        <asports walletId="2" orderBy="2"/>
        <casino walletId="3" orderBy="4"/>
        <playtech walletId="4" orderBy="5"/>
        <binary walletId="5" orderBy="6"/>
        <poker walletId="6" orderBy="7"/>
        <sbtech walletId="7" orderBy="8"/>
        <netent walletId="12" orderBy="10"/>
        <pmahjong walletId="8" orderBy="11"/>
    </WalletGroupSettings>

    <OperatorGroupSettings>
        <W88>
            <add key="OperatorId" value="1"/>
            <add key="LanguageSelection" value="en-us | zh-cn | id-id | ja-jp | km-kh | ko-kr | th-th | vi-vn "/>
            <add key="DefaultSelectedLanguage" value="en-us"/>
            <add key="BlockedCountries" value="- | HK | PH | SG | TW | US | FR"/>
            <add key="Products" value="main | asports | netent | sbtech | casino | playtech | lottery | poker | pmahjong"/>
            <add key="Currencies" value="IDR | MYR | RMB | THB | USD | VND | KRW | JPY"/>
            <add key="DemoDomains" value=".w88bet.com | .w88uat.com | .bet8uat.com | .w88dev.com | .bet8dev.com"/>

            <add key="LPNumber" value="P19506071"/>
            <add key="LPAppKey" value="a9OZlNl2/fx9yk+ERIxOWEmSRiDQzOKDJD3a1BPcAsFXYsVoDH2+ZpUflmx4Mo52YLvr3y8E1dt/ch9YBQbyvSMLxeEhTCYw2TuVm7ZlpQeYEOTXGuzxNbaTk87MdZGT4ZPESY6P39M="/>
            <add key="IndexPromoPageSize" value="3"/>

            <add key="ASportsUrl" value="http://ismart.w88id.com/Deposit_ProcessLogin.aspx?lang={LANG}&amp;st={TOKEN}"/>
            <add key="ESportsUrl" value="http://mobile.w88.testing.agent1818.com/?LangID={LANG}&amp;ExternalToken={TOKEN}&amp;oddsstyleid=1"/>
            <add key="VSportsUrl-Basketball" value="http://casino.w88uat.com/sportbooks/rgsMobile?op=W88&amp;token={TOKEN}&amp;gameType=VBL&amp;oddType=Dec&amp;language={LANG}"/>
            <add key="VSportsUrl-Tennis" value="http://casino.w88uat.com/sportbooks/rgsMobile?op=W88&amp;token={TOKEN}&amp;gameType=VTO&amp;oddType=Dec&amp;lang={LANG}"/>
            <add key="VSportsUrl-HorseRacing" value="http://casino.w88uat.com/sportbooks/rgsMobile?op=W88&amp;token={TOKEN}&amp;gameType=VHC&amp;oddType=Dec&amp;lang={LANG}"/>
            <add key="VSportsUrl-Football" value="http://casino.w88uat.com/sportbooks/rgsMobile?op=W88&amp;token={TOKEN}&amp;gameType=VFL&amp;oddType=Dec&amp;language={LANG}"/>
            <add key="VSportsUrl-DogRacing" value="http://casino.w88uat.com/sportbooks/rgsMobile?op=W88&amp;token={TOKEN}&amp;gameType=VDR&amp;oddType=Dec&amp;lang={LANG}"/>
            <add key="xSportsFunUrl" value="http://mobile.sb5.w88uat.com/auth.aspx?lang={LANG}&amp;templatename=blue"/>
            <add key="xSportsRealUrl" value="http://mobile.sb5.w88uat.com/auth.aspx?lang={LANG}&amp;user={USER}&amp;token={TOKEN}&amp;currency={CURR}&amp;templatename=blue"/>

            <add key="GPIFunUrl" value="http://{TYPE}.gpiuat.com/{GAME}/?fun=1&amp;domainlink={DOMAIN}&amp;lang={LANG}&amp;op=w88&amp;config=//m.{DOMAIN}/config/config.json"/>
            <add key="GPIRealUrl" value="http://{TYPE}.gpiuat.com/{GAME}/?fun=0&amp;domainlink={DOMAIN}&amp;s={TOKEN}&amp;lang={LANG}&amp;op=w88&amp;config=//m.{DOMAIN}/config/config.json"/>
            <add key="GPIGameLauncherCN" value="gp2club"/>
            <add key="GPIGameLauncherDefault" value="gp2play"/>
            
            <add key="MGSFunUrl" value="http://casinointegration1.installprogram.eu/MobileWebServices/casino/game/launch/W88/{GAME}/{LANG}?casinoID=2712&amp;loginType=VanguardSessionToken&amp;isRGI=true&amp;authToken=&amp;isPracticePlay=true&amp;bankingURL=//m.{DOMAIN}/{CASHIER}&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}"/>
            <add key="MGSRealUrl" value="http://casinointegration1.installprogram.eu/MobileWebServices/casino/game/launch/W88/{GAME}/{LANG}?casinoID=3710&amp;loginType=VanguardSessionToken&amp;isRGI=true&amp;bankingURL=//m.{DOMAIN}/{CASHIER}&amp;authToken={TOKEN}&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}"/>

            <add key="BSFunUrl" value="http://lobby-w88.discreetgaming.com/cwguestlogin.do?bankId=613&amp;gameId={GAME}&amp;lang={LANG}&amp;homeUrl=//m.{DOMAIN}/{LOBBY}"/>
            <add key="BSRealUrl" value="http://lobby-w88.discreetgaming.com/cwstartgamev2.do?bankId=613&amp;mode=real&amp;gameId={GAME}&amp;lang={LANG}&amp;token={TOKEN}&amp;homeUrl=//m.{DOMAIN}/{LOBBY}&amp;cashierUrl=//m.{DOMAIN}.com/{CASHIER}"/>

            <add key="CTXMFunUrl" value="http://staging-asia-2.ctxm.com/mobile-games/launcher.htm?code={GAME}&amp;mode=fun&amp;language=EN&amp;merch_id=CVN2&amp;ticket={TOKEN}"/>
            <add key="CTXMRealUrl" value="http://staging-asia-2.ctxm.com/mobile-games/launcher.htm?code={GAME}&amp;mode=real&amp;language=EN&amp;merch_id=CVN2&amp;ticket={TOKEN}"/>

            <add key="ISBFunUrl" value="http://casino.w88uat.com/sportbooks/isb?op=W88&amp;game_code={GAME}&amp;language={LANG}&amp;playmode=fun&amp;cur={CURRENCY}&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}"/>
            <add key="ISBRealUrl" value="http://casino.w88uat.com/sportbooks/isb?op=W88&amp;game_code={GAME}&amp;language={LANG}&amp;ticket={TOKEN}&amp;playmode=real&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}"/>

            <add key="PNGFunUrl" value="https://caocwstage.playngonetwork.com/casino/playmobile?pid=168&amp;gid={GAME}&amp;lang={LANG}&amp;practice=1&amp;lobby=//m.{DOMAIN}/{LOBBY}"/>
            <add key="PNGRealUrl" value="https://caocwstage.playngonetwork.com/casino/playmobile?pid=168&amp;gid={GAME}&amp;lang={LANG}&amp;ticket={TOKEN}&amp;lobby=//m.{DOMAIN}/{LOBBY}"/>

            <add key="UC8FunUrl" value="http://casino.w88uat.com/sportbooks/sgs?platformId=2&amp;op=W88&amp;playmode=fun&amp;game_code={GAME}&amp;language={LANG}&amp;lobbyURL=https://m.{DOMAIN}/{LOBBY}"/>
            <add key="UC8RealUrl" value="http://casino.w88uat.com/sportbooks/sgs?platformId=2&amp;op=W88&amp;playmode=real&amp;game_code={GAME}&amp;ticket={TOKEN}&amp;lobbyURL=https://m.{DOMAIN}/{LOBBY}&amp;cashierURL=https://m.{DOMAIN}.com/{CASHIER}"/>

            <add key="QTFunUrl" value="http://casino.w88uat.com/sportbooks/qt?op=W88&amp;game_code={GAME}&amp;language={LANG}&amp;playmode=fun&amp;cur={CURRENCY}&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}&amp;device=mobile"/>
            <add key="QTRealUrl" value="http://casino.w88uat.com/sportbooks/qt?op=W88&amp;game_code={GAME}&amp;language={LANG}&amp;ticket={TOKEN}&amp;playmode=real&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}&amp;device=mobile"/>

            <add key="PTFunUrl" value="http://hub.gf175488.com/igaming/?gameId={GAME}&amp;real=0&amp;lang={LANG}&amp;nolobby=1&amp;tempToken={TOKEN}" />
            <add key="PTRealUrl" value="http://hub.gf175488.com/igaming/?gameId={GAME}&amp;real=1&amp;username={USER}&amp;lang={LANG}&amp;nolobby=1&amp;tempToken={TOKEN}&amp;lobby=//m.{DOMAIN}/{LOBBY}&amp;support=//m.{DOMAIN}/{SUPPORT}&amp;logout=//m.{DOMAIN}/{LOGOUT}&amp;deposit=https://m.{DOMAIN}/deposit" />
            <add key="PTAccountPrefix" value="W88UAT" />

            <add key="PPFunUrl" value="http://casino.w88uat.com/mini/PragmaticPlay.html?symbol={GAME}&amp;cashierUrl=//m.{DOMAIN}.com/{CASHIER}&amp;lobbyUrl=//m.{DOMAIN}/{LOBBY}&amp;platform=mobile&amp;language={LANG}&amp;mode=fun"/>
            <add key="PPRealUrl" value="http://casino.w88uat.com/mini/PragmaticPlay.html?token={TOKEN}&amp;symbol={GAME}&amp;cashierUrl=//m.{DOMAIN}.com/{CASHIER}&amp;lobbyUrl=//m.{DOMAIN}/{LOBBY}&amp;platform=mobile&amp;language={LANG}&amp;mode=real"/>

            <add key="GNSFunUrl" value="http://ugc.star9ad.com/{GAME}/HTML5/index.html?partner=caaaaf44-e81f-447b-b044-028da306ea98&amp;language={LANG}&amp;mode=fun&amp;device=mobile"/>
            <add key="GNSRealUrl" value="http://ugc.star9ad.com/{GAME}/HTML5/index.html?partner=caaaaf44-e81f-447b-b044-028da306ea98&amp;session={TOKEN}&amp;language={LANG}&amp;mode=real&amp;device=mobile"/>

            <add key="PLSFunUrl" value="https://cdn.ps-gamespace.com/gm/index.html?&amp;gameName={GAME}&amp;key=TEST5000&amp;partner=pangea2-preprod-w88&amp;lang={LANG}&amp;exit_url=//m.{DOMAIN}/{LOBBY}&amp;force_white_list=true"/>
            <add key="PLSRealUrl" value="https://cdn.ps-gamespace.com/gm/index.html?&amp;gameName={GAME}&amp;key={TOKEN}&amp;partner=pangea2-preprod-w88&amp;lang={LANG}&amp;exit_url=//m.{DOMAIN}/{LOBBY}&amp;force_white_list=true"/>

            <add key="TTGFunUrl" value="http://pff.ttms.co/casino/default/game/casino5.html?playerHandle=999999&amp;account=FunAcct&amp;gameName={GAMENAME}&amp;gameType={GAMETYPE}&amp;gameId={GAME}&amp;lang={LANG}&amp;lsdId=zero&amp;deviceType=mobile&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}"/>
            <add key="TTGRealUrl" value="http://club8api.w88uat.com/ms/loadingAGSMobile.xml?merch_id=ms&amp;merch_pwd=123456&amp;ticket={TOKEN}&amp;operator=W88&amp;gameName={GAMENAME}&amp;gameType={GAMETYPE}&amp;gameId={GAME}&amp;lang={LANG}&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}"/>

            <add key="KenoUrl" value="http://keno.gpiuat.com/Login"/>

            <add key="OperatorKey" value="63FAD31B-DF81-355B-E95F-90ECE455411C"/>
            <add key="DailySlotPromoService" value="http://ws2.aqzbouat.com/SlotPromoService.svc/REST"/>

            <add key="FishingWorld_UAT_Url" value="http://integration.aqzbouat.com/internalApis/fishing3/login.aspx?operatorId={OP}&amp;memberId={ID}&amp;currencyCode={CURR}&amp;gameType=101&amp;languageCode={LANG}&amp;memberIp={IP}"/>
            <add key="FishingWorld_PROD_Url" value="http://integration.aqzbo.tw/internalApis/fishing3/login.aspx?operatorId={OP}&amp;memberId={ID}&amp;currencyCode={CURR}&amp;gameType=101&amp;languageCode={LANG}&amp;memberIp={IP}"/>

            <add key="GPIAddOtheClubs" value="true"/>

            <add key="MaintenanceService" value="http://ws2.aqzbouat.com/MaintenanceService.svc/REST"/>
            <add key="MaintenanceAllPage" value="/_Static/Pages/enhancement-all.aspx"/>
            <add key="MaintenancePage" value="/_Static/Pages/enhancement.aspx"/>
            <add key="MaintenanceAllPages" value="false"/>
            <add key="MaintenanceDeposit" value="false"/>
            <add key="MaintenanceFundTransfer" value="false"/>
            <add key="MaintenanceWidrawal" value="false"/>
            <add key="MaintenanceRebates" value="false"/>
        </W88>
        <W88_Iovation>
            <add key="CheckTransactionUrl" value="https://ci-snare.iovation.com/api/CheckTransaction"/>
            <add key="GetEvidenceUrl" value="https://ci-snare.iovation.com/api/GetEvidenceDetails"/>
            <add key="AccountPrefix" value="W88_"/>
            <add key="SubscriberId" value="952002"/>
            <add key="SubscriberAccount" value="OLTP"/>
            <add key="SubscriberPassCode" value="2WTGH4X1"/>
            <add key="ServiceDays" value="30"/>
            <add key="ServiceEnabled" value="false"/>
            <add key="Exceptions" value="office"/>
        </W88_Iovation>
    </OperatorGroupSettings>

    <appSettings>
        <add key="Operator" value="W88"/>

        <add key="scriptVersion" value="1.1.01"/>
        <add key="httpsOnly" value="0"/>
        <add key="sessionInterval" value="30000"/>

        <add key="APIUrl" value="/_secure/ajax"/>
        <add key="AssetsPath" value="/_static/v2"/>

        <add key="AuditLog" value="yes"/>
        <add key="AuditLogFolder" value="D:\WebServerLogs\W88.m"/>

        <add key="PrivateKey" value="wg8TaLcIGXwT"/>
        <add key="PaymentPrivateKey" value="6USIJ9xT"/>
        <add key="EncryptionKey" value="M41n$YsT3mVone"/>
        <add key="PrivateKeyToken" value="/rfD/fRNhwqt2RaEq+NV9JVaYpzTMKUb1Q/ajlowLlKNNuCIcuUaQTv/auPCv6Ye"/>

        <add key="ClearWebCache" value="true"/>

        <add key="DisplayDateFormat" value="dd/MM/yyyy"/>
        <add key="DisplayDateTimeFormat" value="dd/MM/yyyy HH:mm:ss"/>
        <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
        <add key="DecimalFormat" value="###,###,###,##0.00"/>

        <add key="CheckPromoUrl" value="http://integration.aqzbouat.com/internalApis/Promotion/checkPromo.aspx"/>
        <add key="CheckClaimUrl" value="http://integration.aqzbouat.com/internalApis/Promotion/checkClaim.aspx"/>

        <add key="SMTPHOST" value="192.168.86.191"/>

        <add key="WebHandler" value="http://www.{0}.com/common/livechat.ashx?url="/>
        <add key="WebHandler2" value="http://www.{0}.{1}/common/livechat.ashx?url="/>
        <add key="LivePersonMobile" value="https://m.{0}.com/LivePerson/Default.aspx"/>
        <add key="LivePersonMobile2" value="https://m.{0}.{1}/LivePerson/Default.aspx"/>

        <add key="CN_domain" value="(.w88cn|.88vv.asia|.w88wcn|.w88vipcn|.w88top)"/>
        <add key="country_domain_cn" value=".w88vipcn.com,.w88asia.com,.w88cn.com,.w88chn.com,.w88wasia.com,.w88wcn.com,.w88wchn.com,.W88981.com,.W88982.com,.W88983.com,.W88984.com,.W88985.com,.W88986.com,.W88987.com,.W88989.com"/>
        <add key="country_domain_vn" value=".w88vipvn.com,.w88ap.com,.w88vn.com,.w88vnm.com,.w88play.com,.w88wvn.com,.w88wap.com,.w88wvnm.com,.w88goal.com"/>
        <add key="country_domain_th" value=".w88vipth.com,.w88top.com,.w88th.com,.w88tha.com,.w88ok.com,.w88club.com,.w88wth.com,.w88wtop.com,.w88wtha.com,.w88ka.com,.w88kub.com,.w88wow.com,.w88bkk.com"/>
        <add key="country_domain_id" value=".w88vipid.com,.w88world.com,.w88id.com,.w88idn.com,.w88asyik.com,.w88bagus.com,.vv88id.com,.vv88world.com,.w88wid.com,.w88wworld.com,.w88widr.com,.w88yes.com,.w88d.com"/>
        <add key="country_domain_my" value=".w88uat.com,.w88vipmy.com,.w88my.com,.w88mys.com,.w88boleh.com,.w88wmys.com,.w8890.com"/>
        <add key="country_domain_kr" value=".w88vipkr.com,.w88kr.com,.w88hankook.com,.w88kor.com,.w88wkr.com,.w88wkor.com,.w88fin.com,.w88cup.com,.88vv.asia,.vv88vv.asia"/>
        <add key="country_domain_kh" value=".w88vipkh.com,localhost"/>
        <add key="country_domain_jp" value=".w88win.com,.w88nihon.com,.w88nippon.com,.w88jp.com"/>

        <add key="palazzo_url_real" value="http://hub.gf175488.com/igaming/?gameId={0}&amp;real=1&amp;username={1}&amp;lang={2}&amp;tempToken=&quot;+ temptoken"/>
        <add key="palazzo_url_fun" value="http://hub.gf175488.com/igaming/?gameId={0}&amp;real=0&amp;username={1}&amp;lang={2}&amp;nolobby=1&amp;tempToken=&quot;+ temptoken"/>
        <add key="palazzo_account_prefix" value="W88UAT"/>

        <add key="Poker_AndroidURL_EN" value="http://dlportal.good-game-network.com/mobile/installer/android/W88"/>
        <add key="Poker_AndroidURL_CN" value="http://dlportal.good-game-network.com/mobile/installer/android/W88"/>
        <add key="Poker_AndroidURL_ID" value="http://dlportal.good-game-network.com/mobile/installer/android/W88"/>
        <add key="Poker_AndroidURL_JA" value="http://dlportal.good-game-network.com/mobile/installer/android/W88"/>

        <add key="Poker_IOSURL_EN" value="itms-services://?action=download-manifest&amp;url=http://dlportal.good-game-network.com/mobile/installer/ios/W88"/>
        <add key="Poker_IOSURL_CN" value="itms-services://?action=download-manifest&amp;url=http://dlportal.good-game-network.com/mobile/installer/ios/W88"/>
        <add key="Poker_IOSURL_ID" value="itms-services://?action=download-manifest&amp;url=http://dlportal.good-game-network.com/mobile/installer/ios/W88"/>
        <add key="Poker_IOSURL_JA" value="itms-services://?action=download-manifest&amp;url=http://dlportal.good-game-network.com/mobile/installer/ios/W88"/>

        <add key="ClubMassimoDL" value="http://resigner.qfcontent.com/w88.apk"/>
        <add key="ClubWAPK" value="http://casino.w88uat.com/mob/download.html?op=w88"/>

        <add key="TexasMahjongIOS_URL" value="https://tm.gp2play.com/mobile/ios/install.html"/>
        <add key="TexasMahjongAndroid_URL" value="https://tm.gp2play.com/mobile/android/install.html"/>
        
        <add key="SuperBull_Android_URL" value="https://tm.gp2play.com/mobileNiuniu/android/install.html"/>
        <add key="SuperBull_Android_URL_EN" value="https://tm.gp2play.com/mobileNiuniu/android/install_en.html"/>
        <add key="SuperBull_IOS_URL" value="https://tm.gp2play.com/mobileNiuniu/ios/install.html"/>
        <add key="SuperBull_IOS_URL_EN" value="https://tm.gp2play.com/mobileNiuniu/ios/install_en.html"/>

        <add key="w88iOS_URL" value="itms-services://?action=download-manifest&amp;url=https://casino.gp2api.com/ios/manifest.plist"/>

        <add key="AllDebit_merchantid" value="20751"/>
        <add key="AllDebit_Visa" value="HntgrErxmqYlD99GdBr0YKLOSA07Wxbeu7IKkBmP318="/>
        <add key="AllDebit_Master" value="OFVKWYA1oJ2hLWG08LAE9xmhH1ZJOm6jLUvHgOnzvqA="/>
        <add key="AllDebit_posturl" value="https://online-safest.com/DirectInterface"/>
        <add key="AllDebit_callbackURL" value="http://callbackuat.luxhall.com/secure/AllDebit.ashx"/>

        <add key="ProductionSettings" value="false"/>

        <add key="VipUrl" value=" /_Secure/VIP/login.aspx"/>
        <add key="VIP_Domains" value="m.ude818.com|m.ude858.com|m.ude881.com|m.ude891.com|m.ude898.com|m.ude899.com|m.udevip.com|m.ude896.com"/>
        <add key="VIP_Allowed" value="VIPG|VIPP|VIPD"/>
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.5" >
            <assemblies>
                <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
            </assemblies>
        </compilation>
        <httpRuntime targetFramework="4.5" maxRequestLength="3145728"/>
        <customErrors mode="Off"/>
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFundTransfer"/>
                <binding name="BasicHttpBinding_IMember" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                    <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000"/>
                </binding>
                <binding name="BasicHttpBinding_IMS1"/>
                <binding name="BasicHttpBinding_IDeposit"/>
                <binding name="BasicHttpBinding_IWithdrawal"/>
                <binding name="BasicHttpBinding_IRewardsServices"/>
                <binding name="memberWSSoap"/>
                <binding name="ServiceSoap"/>
                <binding name="dummyWSSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://paymentservices.aqzbouat.com/FundTransfer.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFundTransfer"
              contract="svcFundTransfer.IFundTransfer" name="BasicHttpBinding_IFundTransfer"/>
            <endpoint address="http://paymentservices.aqzbouat.com/Member.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMember"
              contract="svcPayMember.IMember" name="BasicHttpBinding_IMember"/>
            <endpoint address="http://paymentservices.aqzbouat.com/MS1.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMS1"
              contract="svcPayMS1.IMS1" name="BasicHttpBinding_IMS1"/>
            <endpoint address="http://paymentservices.aqzbouat.com/Deposit.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeposit"
              contract="svcPayDeposit.IDeposit" name="BasicHttpBinding_IDeposit"/>
            <endpoint address="http://paymentservices.aqzbouat.com/Withdrawal.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWithdrawal"
              contract="svcPayWithdrawal.IWithdrawal" name="BasicHttpBinding_IWithdrawal"/>
            <endpoint address="http://rewardsservices.aqzbouat.com/RewardsServices.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRewardsServices"
              contract="RewardsServices.IRewardsServices" name="BasicHttpBinding_IRewardsServices"/>
            <endpoint address="http://ws.aqzbouat.com/memberws.asmx"
              binding="basicHttpBinding" bindingConfiguration="memberWSSoap"
              contract="wsMemberMS1.memberWSSoap" name="memberWSSoap"/>
            <endpoint address="http://locationservices.aqzbouat.com/service.asmx"
              binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
              contract="wsIP2Loc.ServiceSoap" name="ServiceSoap"/>
            <endpoint address="http://ws.aqzbouat.com/dummyWS.asmx"
              binding="basicHttpBinding" bindingConfiguration="dummyWSSoap"
              contract="wsDummy.dummyWSSoap" name="dummyWSSoap"/>
        </client>
    </system.serviceModel>

    <location inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </handlers>
            <httpProtocol>
                <customHeaders>
                    <add name="Access-Control-Allow-Origin" value="*"/>
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="UrlRoutingModule"/>
            <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        </modules>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.01:00:00"/>
            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/json"/>
        </staticContent>
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files\W88Mobile.main">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9"/>
            <dynamicTypes>
                <add mimeType="*/*" enabled="false"/>
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true"/>
                <add mimeType="message/*" enabled="true"/>
                <add mimeType="application/javascript" enabled="true"/>
                <add mimeType="application/x-javascript" enabled="true"/>
                <add mimeType="application/atom+xml" enabled="true"/>
                <add mimeType="application/xaml+xml" enabled="true"/>
                <add mimeType="*/*" enabled="false"/>
            </staticTypes>
        </httpCompression>
        <urlCompression doStaticCompression="true" doDynamicCompression="false"/>
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="400"/>
            <error statusCode="400" path="/400" responseMode="ExecuteURL"/>
            <remove statusCode="403"/>
            <error statusCode="403" path="/403" responseMode="ExecuteURL"/>
            <remove statusCode="404"/>
            <error statusCode="404" path="/404" responseMode="ExecuteURL"/>
            <remove statusCode="408"/>
            <error statusCode="408" path="/408" responseMode="ExecuteURL"/>
            <remove statusCode="500"/>
            <error statusCode="500" path="/500" responseMode="ExecuteURL"/>
            <remove statusCode="502"/>
            <error statusCode="502" path="/502" responseMode="ExecuteURL"/>
        </httpErrors>
    </system.webServer>
</configuration>
