.logo_1, .logo_2, .logo_3, .logo_4, .logo_5, .logo_6, .logo_7, .logo_8, .logo_9, .logo_10, .logo_11, .logo_12, .logo_13, .logo_14, .logo_15, .logo_16, .logo_17, .logo_18, .logo_19, .logo_20, .logo_21, .logo_22, .logo_23, .logo_24, .logo_25, .logo_26, .logo_27, .logo_28, .logo_29, .logo_30, .logo_31, .logo_32, .logo_33, .logo_34, .logo_35, .logo_36, .logo_37, .logo_38, .logo_39, .logo_40, .logo_41, .logo_42, .logo_43, .logo_44, .logo_45, .logo_46, .logo_47, .logo_48, .logo_49, .logo_50, .logo_51, .logo_52, .logo_53, .logo_54, .logo_55, .logo_56, .logo_57, .logo_58, .logo_59, .logo_60, .logo_61, .logo_62 {
    display: inline-block;
    width: 92px;
    height: 42px;
    background-image: url("/_static/v2/assets/images/banklogo.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    padding: 0px;
}
.logo_1 {
    background-position: -10px -57px;
}
.logo_2 {
    background-position: -10px -104px;
}
.logo_3 {
    background-position: -10px -151px;
}
.logo_4 {
    background-position: -10px -198px;
}
.logo_5 {
    background-position: -10px -245px;
}
.logo_6 {
    background-position: -10px -292px;
}
.logo_7 {
    background-position: -10px -339px;
}
.logo_8 {
    background-position: -10px -386px;
}
.logo_9 {
    background-position: -10px -433px;
}
.logo_10 {
    background-position: -10px -480px;
}
.logo_11 {
    background-position: -10px -527px;
}
.logo_12 {
    background-position: -10px -574px;
}
.logo_13 {
    background-position: -10px -621px;
}
.logo_14 {
    background-position: -10px -668px;
}
.logo_15 {
    background-position: -10px -715px;
}
.logo_16 {
    background-position: -10px -762px;
}
.logo_17 {
    background-position: -10px -809px;
}
.logo_18 {
    background-position: -10px -856px;
}
.logo_19 {
    background-position: -10px -903px;
}
.logo_20 {
    background-position: -10px -950px;
}
.logo_21 {
    background-position: -10px -997px;
}
.logo_22 {
    background-position: -10px -1044px;
}
.logo_23 {
    background-position: -10px -1091px;
}
.logo_24 {
    background-position: -10px -1138px;
}
.logo_25 {
    background-position: -10px -1185px;
}
.logo_26 {
    background-position: -10px -1232px;
}
.logo_27 {
    background-position: -10px -1279px;
}
.logo_28 {
    background-position: -10px -1326px;
}
.logo_29 {
    background-position: -10px -1373px;
}
.logo_30 {
    background-position: -10px -1420px;
}
.logo_31 {
    background-position: -10px -1467px;
}
.logo_32 {
    background-position: -10px -1514px;
}
.logo_33 {
    background-position: -10px -1561px;
}
.logo_34 {
    background-position: -10px -1608px;
}
.logo_35 {
    background-position: -10px -1655px;
}
.logo_36 {
    background-position: -10px -1702px;
}
.logo_37 {
    background-position: -10px -1749px;
}
.logo_38 {
    background-position: -10px -1796px;
}
.logo_39 {
    background-position: -10px -1843px;
}
.logo_40 {
    background-position: -10px -1890px;
}
.logo_41 {
    background-position: -10px -1937px;
}
.logo_42 {
    background-position: -10px -1984px;
}
.logo_43 {
    background-position: -10px -2031px;
}
.logo_44 {
    background-position: -10px -2078px;
}
.logo_45 {
    background-position: -10px -2125px;
}
.logo_46 {
    background-position: -10px -2172px;
}
.logo_47 {
    background-position: -10px -2219px;
}
.logo_48 {
    background-position: -10px -2266px;
}
.logo_49 {
    background-position: -10px -2313px;
}
.logo_50 {
    background-position: -10px -2360px;
}
.logo_51 {
    background-position: -10px -2407px;
}
.logo_52 {
    background-position: -10px -2454px;
}
.logo_53 {
    background-position: -10px -2501px;
}
.logo_54 {
    background-position: -10px -2548px;
}
.logo_55 {
    background-position: -10px -2595px;
}
.logo_56 {
    background-position: -10px -2642px;
}
.logo_57 {
    background-position: -10px -2689px;
}
.logo_58 {
    background-position: -10px -2736px;
}
.logo_59 {
    background-position: -10px -2783px;
}
.logo_60 {
    background-position: -10px -2830px;
}
.logo_61 {
    background-position: -10px -2877px;
}
.logo_62 {
    background-position: -10px -2924px;
}
.logo_1.on, .logo_2.on, .logo_3.on, .logo_4.on, .logo_5.on, .logo_6.on, .logo_7.on, .logo_8.on, .logo_9.on, .logo_10.on, .logo_11.on, .logo_12.on, .logo_13.on, .logo_14.on, .logo_15.on, .logo_16.on, .logo_17.on, .logo_18.on, .logo_19.on, .logo_20.on, .logo_21.on, .logo_22.on, .logo_23.on, .logo_24.on, .logo_25.on, .logo_26.on, .logo_27.on, .logo_28.on, .logo_29.on, .logo_30.on, .logo_31.on, .logo_32.on, .logo_33.on, .logo_34.on, .logo_35.on, .logo_36.on, .logo_37.on, .logo_38.on, .logo_39.on, .logo_40.on, .logo_41.on, .logo_42.on, .logo_43.on, .logo_44.on, .logo_45.on, .logo_46.on, .logo_47.on, .logo_48.on, .logo_49.on, .logo_50.on, .logo_51.on, .logo_52.on, .logo_53.on, .logo_54.on, .logo_55.on, .logo_56.on, .logo_57.on, .logo_58.on, .logo_59.on, .logo_60.on, .logo_61.on, .logo_62.on {
	background-position-x: -107px; 
}