
.btn{
	font-size: 0.875rem;
	text-transform: uppercase;
	font-family: $dinpro;
	&:active,
	&:focus,
	&:hover{
		outline: 0 none !important;
		@include box-shadow(none);
	}
	&.btn-xs{
		font-size: 0.750rem;
	}
	&.btn-lg{
		font-size: 1rem;
	}
}
.btn-default{
	&:focus,
	&:hover{
		background-color: darken($brand-default, 5%) !important;
		border-color: darken($brand-default, 5%) !important;
	}
}
.btn-line{
		color: $btn-line-color;
		background-color: transparent;
		border-color: $btn-line-border;
	&:focus,
	&:hover{
		color: $btn-line-color;
		background-color: transparent;
		border-color: darken($btn-line-border, 10%);
	}
}
.btn-gray{
		color: $brand-primary;
		background-color: $gray-light;
		border-color: $gray-light;
	&:focus,
	&:hover{
		color: $brand-primary;
		background-color: darken($gray-light, 10%);
		border-color: darken($gray-light, 10%);
	}
}