.download-banner{
	padding: 15px;
	background-color: $download-bg;
	.media-left{
		width: 25%;
		text-align: right
	}
	.icon{
		font-size: 2.750rem;
		&.icon-apple{
			color: $download-apple-color;
		}
		&.icon-android{
			color: $download-android-color;
		}
	}
	.media-heading{
		font-family: $dinpro;
		font-size: 1rem;
		color: $download-header-color;
		margin-bottom: 0;
	}
	p{
		color: $download-text-color;
	}
}