.form-help-text,
.help-block{
  color: $help-block-color;
  font-size: 0.750rem;
  margin-bottom: 0;
}
.form-help-text{
    margin-left: 48px;
    margin-top: 5px;
    display: block;
}

.form-group.form-group-line{
  label{
    color: $form-label-color;
    font-size: 0.857em;
    margin-bottom: 0;
    font-weight:normal;
    pointer-events:none;
  }
  .form-control{
    color: $form-input-text-color;
    font-size: 1rem;
    padding: 4px 0;
    height: 35px;
    border:none;
    background-color: transparent;
    border-bottom:1px solid $form-input-border-color;
    @include border-radius(0);
    @include box-shadow(none);
    @include transition(all 600ms ease);
    > option{
        color: $white;
        background-color: $gray-darker;
    }
    &:focus{
      outline:none;
    }
    &.ng-dirty.ng-valid{
      border-bottom:1px solid $brand-primary;
    }
    &.ng-dirty.ng-invalid{
      border-bottom:1px solid $brand-danger;
    }
  }
}

.form-container{
	padding-top: 15px;
	padding-bottom: 15px;
}

.form-group{
  margin-bottom: 20px;
	> label{
		font-weight: 400;
		font-size: 0.875rem;
		color: $brand-alt;
		margin-bottom: 0;
	}
}

.form-control{
  padding-left: 0;
  padding-right: 0;
  color: $text-color;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid darken($text-color ,50%);
  @include box-shadow(none);
  &:focus {
      border-color: $brand-primary;
      outline: 0 none;
      @include box-shadow(0 1px 0px 0 $brand-primary);
  }
}

.form-group-icon{
  width: 100%;
  display: table;
  .form-icon,
  .form-input{
    display: table-cell;
    vertical-align: top;
  }
  .form-icon{
    padding-top: 22px;
    padding-right: 15px;
    span[class^="icon-"],
    span[class*=" icon-"] {
      font-size: 2rem;
      color: $brand-primary;
    }
  }
  .form-input{
    width: 10000px;
    > label{
      font-weight: 400;
      font-size: 0.875rem;
      color: $brand-alt;
      margin-bottom: 0;
    }
  }
}

.form-control[disabled], 
fieldset[disabled] .form-control {
  opacity: 0.5;
  background-color: transparent;
}

select.form-control{
  background: url('../images/select-arrow.png') center right no-repeat;
  @include appearance(none);
  option {
      background-color: $body-bg;
      color: $text-color;
      text-shadow: none;
  }

}
.input-group{
  .form-control{
      background-color: transparent;
      color: $text-color;
      border-bottom: 1px solid darken($text-color ,50%);
  }
  .input-group-addon{
      color: $text-color;
      padding: 11px 5px;
      background-color: transparent;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid darken($text-color ,50%);
  }
  &:focus {
    .form-control,
    .input-group-addon{
      border-color: $brand-primary;
      outline: 0 none;
      @include box-shadow(0 1px 0px 0 $brand-primary);
    }
  
  }
}


.radio,
.checkbox{
  label{
    color: $text-color;
    font-size: 0.875rem;
  }
  input[type="radio"], 
  input[type="checkbox"] {
      margin-top: 3px;
  }
}


.radio-custom,
.checkbox-custom{
  label{
    padding-left: 0;
  }
  span{
    color: $brand-alt;
    padding-left: 6px;
    &:before{
      color: $text-color;
      font-family: 'icomoon';
      font-size: 1.313em;
      top: 3px;
      left: -6px;
      position: relative;
    }
  }
  input[type="radio"],
  input[type="checkbox"]{
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  input[type="radio"] + span:before{
    content: '\e923';
  }
  input[type="radio"]:checked + span:before{
    content: '\e922';
  }
  input[type="checkbox"] + span:before{
    content: '\e921';
  }
  input[type="checkbox"]:checked + span:before{
    content: '\e920';
  }
  input[type="radio"]:checked + span:before,
  input[type="checkbox"]:checked + span:before{
    color: $text-color !important;
  }
}

.has-error .form-control {
  border-color: $brand-danger;
  @include box-shadow(0 1px 0px 0 $brand-danger);
  &:focus{
    border-color: lighten($brand-danger, 7%);
    @include box-shadow(0 1px 0px 0 lighten($brand-danger, 7%));
  }

}
.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline, 
.has-error.radio label, 
.has-error.checkbox label, 
.has-error.radio-inline label, 
.has-error.checkbox-inline label {
  color: $brand-danger;
}

.ui-datebox-container.dropdown-menu{
  max-width: 315px;
  padding: 0;
  border: none;
  background-color: darken($brand-primary, 35%);
 .modal-header {
      padding: 8px;
  }
  .modal-title{
    .closer{
      color: $text-alt;
    }
  }
}
.datetime-left .ui-datebox-container{
  left: 0 !important;
  right: auto;
}
.ui-datebox-flipcenter {
    width: 100%;
    height: 40px;
    border: none;
    @include box-shadow(none);
}
.ui-datebox-header{
  h4{
    font-size: 0.875rem;
  }
}
.ui-datebox-flipcontent{
  padding-top: 10px;
  margin-bottom: -45px;
  background-color: darken($brand-primary, 32%);
  li{
    border-color: transparent;
    span{
      margin-top: 6px;
      color: darken($text-color, 40%);
    }
    &.bg-success {
      border: 1px solid rgba($white, 0.3);
      background-color: darken($brand-primary, 23%);
      span{
        color: $text-color;
      }
    }
  }
  div{
    width: 31%;
  }
}

.ui-datebox-controls{
  padding: 5px;
  .btn-default{
    color: $white;
    padding: 10px;
    background-color: $brand-primary;
    border-color: $brand-primary;
    &:focus,
    &:hover{
      background-color: darken($brand-primary, 10%);
      border-color: darken($brand-primary, 10%);
    }
    .glyphicon {
      display: none;
    }
  }
}
.ui-datebox-datebox-group.col-xs-3, 
.ui-datebox-datebox-group.col-xs-4{
    padding-left: 1px;
    padding-right: 1px;
}

.pay-note {
  margin-bottom: 15px;
  .pay-note-label{
      color: $brand-danger;
      font-weight: 700;
  }
}
.payment-info{
  margin-bottom: 30px;
}

@media (max-width: 320px){
  .payment-info{
    p{
      font-size: 0.750rem;
    }
  }
}

@media (max-width: 470px){
  .payment-info{
    .payment-label{
      font-size: 0.750rem;
    }
  }
}

