.home-banner{
	background-color: $home-banner-bg;
	overflow: hidden;
	a{
		display: block;
	}
	img{
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}
	.slick-dots{
		height: 22px;
		text-align: center;
		margin: 0 auto;
		padding: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		@include box-shadow(inset 0 -10px 10px 0 rgba(0,0,0,0.075));
		li{
			margin: 0 4px;
			display: inline-block;
			button{
				padding: 0;
				width: 7px;
				height: 7px;
				text-indent: -9999px;
				border: none;
				display: block;
				@include border-radius(50%);
				background-color: $text-color;
				opacity: 0.9;
			}
			&.slick-active button{
				background-color: $brand-primary;

			}
		}
	}
}

.home-footer{
	padding: 30px;
	text-align: center;
	img{
		width: 200px;
		margin-bottom: 15px;
	}
	p{
		color: rgba($text-color, 0.65);
		font-size: 10px;
	}
}
