//
// Language
// -------------------------------

.language-flag {
    padding-bottom: 10px;
    img {
    	width: 70%;
        max-width: 100px;
        margin-bottom: 10px;
    }
    p{
      font-size: 0.750rem;
      &.active{
      	color: $brand-primary;
      }
    }
}
