.modal {
  text-align: center;
  padding: 0!important;

	&.modal-fullscreen{
		@include linearGradient($brand-dark, #1f1f1f);
		.modal-header{
			padding: 9px 15px;
			background-color: $header-bg-color;
		}
		.modal-backdrop {
		    opacity: 1 !important;
		}
		.modal-dialog {
		    vertical-align: top;
		    width: 100%;
		    max-width: 100%;
		    margin: 0;
		}
		.modal-content{
			margin: -1px -1px 0;
			border-color: transparent;
			background-color: transparent;
			@include box-shadow(none);
			.modal-header{
				border-bottom: none;
			}
			.modal-footer{
				border-top: none;
			}
			.close{
				margin-top: 0;
			}
		}
		&:before{
			display: none;
		}

	}
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-header{
	border-bottom: none;
	position: relative;
	z-index: 1052;
	&.mheader-notitle{
		margin-bottom: -30px;
	}
}
.modal-title{
	color: $brand-alt;
	font-weight: 700;
}
.modal-footer{
	border-top: none;
}
.modal-backdrop {
    opacity: 0.95 !important;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  width: 90%;
  max-width: 460px;
	.close{
		opacity: 0.75;
		color: $text-color;
		font-size: 1.5rem;
		text-shadow: none;
		&:focus,
		&:active,
		&:hover{
			opacity: 1;
		}
	}
}

.modal-content{
	border-color: $modal-bg-color;
	background-color: $modal-bg-color;
	&.modal-alt{
		border-color: $modal-bg-color-alt;
		background-color: $modal-bg-color-alt;
	}
	&.modal-transparent{
		border-color: transparent;
		background-color: transparent;
		@include box-shadow(none);
	}
}

.modal-game{
	.modal-body{
		h4{
			color: $modal-title-color;
			font-weight: 700;
			margin-bottom: 30px;
		}

		.modal-game-thumb{
			background-color: $slots-card-bg;
			padding: $slots-card-padding;
			margin: 0 auto 30px;
			width: 110px;
			@include border-radius(6px);
			@include box-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
			img{
				@include border-radius(4px);
				width: 100%;
				display: block;
			}
		}
	}
}

@media only screen and (orientation: landscape) {
	.modal-game .modal-body h4 {
	    margin-bottom: 15px;
	}
	.modal-game-row{
		.modal-game-col{
			float: left;
			&.modal-game-col-thumb{
				width: 35%;
				.modal-game-thumb{
					max-width: 100%;
				}
			}
			&.modal-game-col-btns{
				width: 65%;
			}
		}
	}

}