.header{
	.popover {
		background-color: darken($brand-default, 4.5%);
		border-color: darken($brand-default, 4.5%);
		.arrow:after{
			border-bottom-color: darken($brand-default, 4.5%);
		}
		&.bottom {
		    margin-top: 14px;
		}
		.popover-content{
			color: $brand-alt;
			font-size: 12px;
		}
	}
}