.fit-screen-language{
  .fit-screen-col{
    height: 25%;
  }

  img{
    width: 60%;
    max-width: 65px;
    margin: 0 auto 5px;
    display: block;
  }

  p{
    margin-bottom: 0;
  }

  span{
    color: $text-alt;
    font-size: 0.786em;
    display: inline-block;
  }
}

@media (min-width: 360px){
  .fit-screen-language img {
      max-width: 75px;
  }
}

@media (min-width: $screen-sm-min){
    .fit-screen-language img {
        max-width: 110px;
    }
}