.promotion-box{
	margin-bottom: 16px;
	background: $promo-box-bg;
    @include box-shadow(0px 1px 2px rgba(0,0,0,0.1));
	.promotion-image{
		background-color: $promo-box-image-bg;
		background-image: url('../../assets/images/img-bg.png');
		background-position: center center;
		background-repeat: no-repeat;
		height: 0;
		padding-bottom: 20.8%;
		display: block;
		img{
			width: 100%;
			display: block;
		}
	}
	.promotion-details{
		padding: 16px;
		h4{
			color: $promo-box-title;
			text-transform: uppercase;
		}
	}
	.promotion-buttons{
		padding:16px;
	}

}
.promotion-detail-box{
	margin: -16px -16px 0;
	.promotion-image{
		background: lighten($body-bg, 6%) url('../../assets/images/img-bg.png') center center no-repeat;
		height: 0;
		padding-bottom: 20.8%;
		display: block;
		img{
			width: 100%;
			display: block;
		}
	}
	.promotion-details{
		padding: 16px;
		h4{
			color: $brand-alt;
			text-transform: uppercase;
		}
	}
	.promotion-countdown{
		font-family: $dinpro;
		padding: 16px;
		margin: 16px 16px 0;
		text-align: center;
		background: lighten($body-bg, 2%);
		p{
			font-size: 1.714em;
			line-height: 1.714em;
			color: $brand-primary;	
			margin-bottom: 0;
			display: block;	
		}
		span{
			color: $text-color;
			display: block;
			line-height: 1em;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		div[class^="col-"],
		div[class*=" col-"] {
			border-right: 1px solid lighten($body-bg, 4%);
			&:last-child{
				border-right: none;
			}
		}	
	}
	.promotion-information{
		color: darken($text-alt,24%);
		padding: 30px 16px;
		h1,h2,h3,h4,h5{
			color: $text-alt;
		}
		strong{
			color: $text-alt;
		}
		p{
			color: darken($text-alt,24%);
		}
	}

}