.footer{
	width: 100%;
	height: 65px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	position: absolute;
	overflow-y: hidden;
    overflow-x: scroll;
	@include box-shadow(0 -2px 4px 0 rgba(0,0,0,0.3));
	.btn{
		font-weight: 700;
		height: 65px;
		padding: 20px 14px;
		position: relative;
	}
	.btn-group-sliding{
	    width: auto;
	    .btn-group{
	    	min-width: 150px;
			.btn{
				width: 100%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
	    }
	}
}

.footer-generic{
	.btn{
		font-size: 0.875rem;
		color: $footer-button-color;
		> span {
			font-size: 1.750rem;
			color:$footer-icon-color;
			display: block;
		}
	}
	.btn-group{
		border-right: 1px solid $footer-generic-border;
		&:last-child{
			border-right: none;
		}
		.btn{
            &.btn-icon{
		        padding-top: 10px;
            }
			color: $footer-generic-color;
			border-color: $footer-generic-bg;
			background-color: $footer-generic-bg;
			padding-top: 20px;
			&:focus,
			&:hover{
				color: $footer-generic-active-color;
				background-color: $footer-generic-active-bg;
				border-color: $footer-generic-active-bg;
			}
		}
		&.active{
			.btn{
				color: $footer-generic-active-color;
				background-color: $footer-generic-active-bg;
				border-color: $footer-generic-active-bg;
				border-bottom: 1px solid $footer-generic-active-border;
				&:after{
					content: '';
					bottom: -1px;
					left: 0;
					width: 100%;
					height: 4px;
					background: $footer-generic-active-border;
					position: absolute;
				}
			}
		}
	}
	&.footer-wallets{
		.btn{
			padding-top: 14px;
			font-size: 0.875rem;
			small{
				font-size: 0.750rem;
				font-weight: 500;
				color: $text-color;
				display: block;
			}
		}
	}
}

.footer-message{
	padding: 6px;
	background-color: rgba($black, 0.45);
	left: 0;
	right: 0;
	bottom: 65px;
	z-index: 25;
	position: fixed;
	text-align: center;
	.icon, p{
		color: $text-alt;
	}
	.icon{
		font-size: 1.714em;
		bottom: -4px;
		position: relative;
	}
	p{
		font-size: 0.857em;
		margin-bottom: 5px;
        &.small{
            font-size: 0.750rem;
        }
	}
    &.footer-error {
        background: $brand-danger;
    }
    &.footer-default{
	    background-color: $body-bg;
    }
}