*/cache/*
.sass-cache
.DS_Store
*.suo
*.db
style.css
style.css.map
style.min.css
W88Mobile.GameXmlGenerator/bin/**
W88Mobile.GameXmlGenerator/obj/**
W88.m/_Static/v2/**/*.css
W88.m/_Static/v2/assets/**/*.css.map
