*/cache/*
.sass-cache
.DS_Store
*.suo
*.db
style.css
style.css.map
style.min.css
W88.m/_Static/v2/assets/css/scss/styles.css
**/_Static/v2/assets/css/*.css
W88.m/_Static/v2/assets/css/*.css
**/scss/*.css
