<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRewardsServices" />
                <binding name="memberWSSoap" />
                <binding name="BasicHttpBinding_IMember" />
                <binding name="ServiceSoap" />
                <binding name="BasicHttpBinding_IFundTransfer" />
                <binding name="BasicHttpBinding_IMS1" />
                <binding name="BasicHttpBinding_IDeposit" />
                <binding name="BasicHttpBinding_IWithdrawal" />
                <binding name="dummyWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rewardsservices.aqzbouat.com/RewardsServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRewardsServices"
                contract="RewardsServices.IRewardsServices" name="BasicHttpBinding_IRewardsServices" />
            <endpoint address="http://ws.aqzbouat.com/memberws.asmx" binding="basicHttpBinding"
                bindingConfiguration="memberWSSoap" contract="wsMemberMS1.memberWSSoap"
                name="memberWSSoap1" />
            <endpoint address="http://locationservices.aqzbouat.com/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="wsIP2Loc.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://paymentservices.aqzbouat.com/FundTransfer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFundTransfer"
                contract="svcFundTransfer.IFundTransfer" name="BasicHttpBinding_IFundTransfer" />
            <endpoint address="http://paymentservices.aqzbouat.com/Withdrawal.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWithdrawal"
                contract="svcPayWithdrawal.IWithdrawal" name="BasicHttpBinding_IWithdrawal" />
            <endpoint address="http://ws.aqzbouat.com/dummyWS.asmx" binding="basicHttpBinding"
                bindingConfiguration="dummyWSSoap" contract="wsDummy.dummyWSSoap"
                name="dummyWSSoap" />
            <endpoint address="http://paymentservices.aqzbouat.com/MS1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMS1"
                contract="svcPayMS1.IMS1" name="BasicHttpBinding_IMS1" />
            <endpoint address="http://paymentservices.aqzbouat.com/Member.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMember"
                contract="svcPayMember.IMember" name="BasicHttpBinding_IMember" />
            <endpoint address="http://paymentservices.aqzbouat.com/Deposit.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeposit"
                contract="svcPayDeposit.IDeposit" name="BasicHttpBinding_IDeposit" />
        </client>
    </system.serviceModel>
</configuration>