<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="OperatorGroupSettings">
            <section name="W88" type="System.Configuration.NameValueSectionHandler" />
            <section name="W88_Iovation" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
        <sectionGroup name="WalletGroupSettings">
            <section name="main" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true" />
            <section name="asports" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true" />
            <section name="lottery" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true" />
            <section name="casino" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true" />
            <section name="playtech" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true" />
            <section name="binary" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true" />
            <section name="poker" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true" />
            <section name="sbtech" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true" />
            <section name="netent" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true" />
            <section name="pmahjong" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true" />
        </sectionGroup>
        <section name="throttlePolicy" type="WebApiThrottle.ThrottlePolicyConfiguration, WebApiThrottle" />
    </configSections>
    <throttlePolicy limitPerSecond="10"
                  limitPerMinute="50"
                  ipThrottling="true"
                  clientThrottling="false"
                  endpointThrottling="true">
        <rules>
            <!--Ip rules-->
            <add policyType="1" entry="::1/10"
                 limitPerSecond="20"
                 limitPerMinute="100"/>
            <!--Client rules-->
            <!--<add policyType="2" entry="api-client-key-1"
                 limitPerHour="60" />-->
            <!--Endpoint rules-->
            <add policyType="3" entry="api/game"
                 limitPerSecond="15"
                 limitPerMinute="50" />
        </rules>
        <whitelists>
            <!--Ip whitelist-->
            <!--<add policyType="1" entry="127.0.0.1" />
            <add policyType="1" entry="192.168.0.0/24" />-->
            <!--Client whitelist-->
        </whitelists>
    </throttlePolicy>

    <WalletGroupSettings>
        <main walletId="0" orderBy="1" />
        <lottery walletId="1" orderBy="3" />
        <asports walletId="2" orderBy="2" />
        <casino walletId="3" orderBy="4" />
        <playtech walletId="4" orderBy="5" />
        <binary walletId="5" orderBy="6" />
        <poker walletId="6" orderBy="7" />
        <sbtech walletId="7" orderBy="8" />
        <netent walletId="12" orderBy="10" />
        <pmahjong walletId="8" orderBy="11" />
    </WalletGroupSettings>
    <OperatorGroupSettings>
        <W88>
            <add key="LanguageSelection" value="en-us | zh-cn | vi-vn | th-th | km-kh | id-id | ko-kr | ja-jp" />
            <add key="DefaultSelectedLanguage" value="en-us" />
            <add key="BlockedCountries" value="- | HK | PH | SG | TW | US | FR" />
            <add key="Products" value="main | asports | netent | sbtech | casino | playtech | lottery | poker | pmahjong" />
            <add key="Currencies" value="AUD | IDR | MYR | RMB | THB | USD | VND" />

            <add key="LPNumber" value="P19506071" />
            <add key="LPAppKey" value="a9OZlNl2/fx9yk+ERIxOWEmSRiDQzOKDJD3a1BPcAsFXYsVoDH2+ZpUflmx4Mo52YLvr3y8E1dt/ch9YBQbyvSMLxeEhTCYw2TuVm7ZlpQeYEOTXGuzxNbaTk87MdZGT4ZPESY6P39M=" />
            <add key="IndexPromoPageSize" value="3" />

            <add key="OperatorKey" value="63FAD31B-DF81-355B-E95F-90ECE455411C" />
            <add key="DailySlotPromoService" value="http://ws2.aqzbouat.com/SlotPromoService.svc/REST" />

            <add key="GamePath" value="/_Static/Images/Games/" />

            <add key="GPIFunUrl" value="http://{TYPE}.gpiuat.com/{GAME}/?fun=1&amp;domainlink={DOMAIN}&amp;lang={LANG}&amp;op=w88&amp;config=//m.{DOMAIN}/config/config.json" />
            <add key="GPIRealUrl" value="http://{TYPE}.gpiuat.com/{GAME}/?fun=0&amp;domainlink={DOMAIN}&amp;s={TOKEN}&amp;lang={LANG}&amp;op=w88&amp;config=//m.{DOMAIN}/config/config.json" />

            <add key="MGSFunUrl" value="http://mobile22.gameassists.co.uk/MobileWebServices/casino/game/launch/W88/{GAME}/{LANG}?casinoID=2712&amp;loginType=VanguardSessionToken&amp;isRGI=true&amp;authToken=&amp;isPracticePlay=true&amp;bankingURL=&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}" />
            <add key="MGSRealUrl" value="http://mobile22.gameassists.co.uk/MobileWebServices/casino/game/launch/W88/{GAME}/{LANG}?casinoID=3710&amp;loginType=VanguardSessionToken&amp;isRGI=true&amp;bankingURL=//m.{DOMAIN}/{CASHIER}&amp;authToken={TOKEN}&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}" />

            <add key="BSFunUrl" value="http://lobby-w88.discreetgaming.com/cwguestlogin.do?bankId=613&amp;gameId={GAME}&amp;lang={LANG}&amp;homeUrl=//m.{DOMAIN}/{LOBBY}" />
            <add key="BSRealUrl" value="http://lobby-w88.discreetgaming.com/cwstartgamev2.do?bankId=613&amp;mode=real&amp;gameId={GAME}&amp;lang={LANG}&amp;token={TOKEN}&amp;homeUrl=//m.{DOMAIN}/{LOBBY}&amp;cashierUrl=//m.{DOMAIN}/{CASHIER}" />

            <add key="CTXMFunUrl" value="https://crescendo.w88.com/mobile-games/launcher.htm?code={GAME}&amp;mode=fun&amp;language=EN&amp;merch_id=CVN2&amp;ticket={TOKEN}" />
            <add key="CTXMRealUrl" value="https://crescendo.w88.com/mobile-games/launcher.htm?code={GAME}&amp;mode=real&amp;language=EN&amp;merch_id=CVN2&amp;ticket={TOKEN}" />

            <add key="ISBFunUrl" value="http://casino.{DOMAIN}/sportbooks/isb?op=W88&amp;game_code={GAME}&amp;language={LANG}&amp;playmode=fun&amp;cur={CURRENCY}&amp;lobbyURL={LOBBY}" />
            <add key="ISBRealUrl" value="http://casino.{DOMAIN}/sportbooks/isb?op=W88&amp;game_code={GAME}&amp;language={LANG}&amp;ticket={TOKEN}&amp;playmode=real&amp;lobbyURL={LOBBY}" />

            <add key="PNGFunUrl" value="https://caostage.playngonetwork.com/casino/playmobile?pid=168&amp;gid={GAME}&amp;lang={LANG}&amp;practice=1&amp;lobby=//m.{DOMAIN}/{LOBBY}" />
            <add key="PNGRealUrl" value="https://caostage.playngonetwork.com/casino/playmobile?pid=168&amp;gid={GAME}&amp;lang={LANG}&amp;ticket={TOKEN}&amp;lobby=//m.{DOMAIN}/{LOBBY}" />

            <add key="QTFunUrl" value="http://sb.gpiops.com/qt?op=W88&amp;game_code={GAME}&amp;language={LANG}&amp;playmode=fun&amp;cur={CURRENCY}&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}&amp;clientType=html5" />
            <add key="QTRealUrl" value="http://sb.gpiops.com/qt?op=W88&amp;game_code={GAME}&amp;language={LANG}&amp;ticket={TOKEN}&amp;playmode=real&amp;lobbyURL=//m.{DOMAIN}/{LOBBY}&amp;clientType=html5" />

            <add key="PTFunUrl" value="http://hub.gf175488.com/igaming/?gameId={GAME}&amp;real=0&amp;lang={LANG}&amp;nolobby=1&amp;tempToken={TOKEN}" />
            <add key="PTRealUrl" value="http://hub.gf175488.com/igaming/?gameId={GAME}&amp;real=1&amp;username={USER}&amp;lang={LANG}&amp;nolobby=1&amp;tempToken={TOKEN}&amp;lobby=//m.{DOMAIN}/{LOBBY}&amp;support=//m.{DOMAIN}/{SUPPORT}&amp;logout=//m.{DOMAIN}/{LOGOUT}" />
            <add key="PTAccountPrefix" value="W88UAT" />

            <add key="UC8FunUrl" value="http://casino.{DOMAIN}/sportbooks/sgs?platformId=2&amp;op=W88&amp;playmode=fun&amp;game_code={GAME}&amp;language={LANG}&amp;lobbyURL=https://m.{DOMAIN}/{LOBBY}" />
            <add key="UC8RealUrl" value="http://casino.{DOMAIN}/sportbooks/sgs?platformId=2&amp;op=W88&amp;playmode=real&amp;game_code={GAME}&amp;ticket={TOKEN}&amp;lobbyURL=https://m.{DOMAIN}/{LOBBY}&amp;cashierUrl=https://m.{DOMAIN}.com/{CASHIER}" />

            <add key="SDPay_MerchantAccount" value="rV6rVAYjTiVQ5RjpV/+Ct/TygyH5mvmV" />
            <add key="SDPay_ServerReturnUrl" value="http://callbackuat.luxhall.com/api/SdPay.ashx" />
            <add key="SDPay_PostUrl" value="http://api.m.sdpay.officenewline.org:11403/PMToService.aspx" />
            <add key="SDPay_Key1" value="Au0rclR74j5lpfpHyVPV6PTSKnOiWrfe5HUM54aP9mZl3jWmAzTj4yyE08VDND7Q" />
            <add key="SDPay_Key2" value="xf9FnCe+9Rwbdl/QxWEIsDl3nXuGS0Xi48KdQmH2mlI0GH9yy46PWjaxpYdfXPEr" />
            <add key="SDPay_MD5" value="Ljqsi4fGTjP1PwZS2BEOWyJliEt5TBxO1F7NDjey6Fodwf5hIuZAyDmUjpeAZU2QeRXKUJJv3DdI0/lnQSYwkcheY+lCk03DY6JCEXHKyCzFy/TfvekRA8iswcTtUMxgIWg33Sf3//0=" />

            <add key="Help2Pay_ip" value="61.14.177.254|61.64.48.206|209.9.49.214" />
            <add key="Help2Pay_check_url" value="http://api.racethewind.net/Services/Merchants/{0}/TransferStatus/{1}" />
            <add key="Help2Pay_merchantaccount" value="2VP2mlOURjZGA2H02Drvaw==" />
            <add key="Help2Pay_posturl" value="http://api.besthappylife.biz/MerchantTransfer" />
            <add key="Help2Pay_serverreturnurl" value="http://callback.luxhall.com/api/Help2Pay.ashx" />
            <add key="Help2Pay_key" value="PkisDuCpeY3tKQKhLfLIX7QJtPmc7Uascz6oBKkOOQYaA1kYFxFEUzUXN2pVsMMI" />

            <add key="BofoPay_postUrl" value="https://tgw.baofoo.com/wapmobile" />
            <add key="BofoPay_serverreturnurl" value="http://callback.luxhall.com/api/BofoPay.ashx" />
            <add key="Baofo_InterfaceVersion" value="4.0" />

            <add key="NextPay_callbackurl" value="http://www.merchantwebsite.com/return.asp" />
            <add key="NextPay_posturl" value="http://www.chinapnr.asia/payment/ppay.aspx" />

            <add key="AllDebit_posturl" value="https://online-safest.com/DirectInterface" />
            <add key="AllDebit_returnURL" value="http://payment.{DOMAIN}/ajax/Pay120236Callback.ashx" />

            <add key="EGHL_postUrl" value="https://www.alldebit.com/pgw/paydirect.aspx" />

            <add key="SDAPayAlipayBankUrl" value="https://www.alipay.com/" />

            <add key="NganLuong_redirectUrl" value="http://vlogin.maogong88.com/" />

        </W88>
        <W88_Iovation>
            <add key="CheckTransactionUrl" value="https://ci-snare.iovation.com/api/CheckTransaction" />
            <add key="GetEvidenceUrl" value="https://ci-snare.iovation.com/api/GetEvidenceDetails" />
            <add key="AccountPrefix" value="W88_" />
            <add key="SubscriberId" value="952002" />
            <add key="SubscriberAccount" value="OLTP" />
            <add key="SubscriberPassCode" value="2WTGH4X1" />
            <add key="ServiceDays" value="30" />
            <add key="ServiceEnabled" value="true" />
            <add key="Exceptions" value="office | office2" />
        </W88_Iovation>
    </OperatorGroupSettings>

    <appSettings>
        <add key="AuditLog" value="yes" />
        <add key="AuditLogFolder" value="C:\WebServerLogs\W88.m" />

        <add key="PrivateKey" value="wg8TaLcIGXwT" />
        <add key="privateKey_daddyPay" value="6USIJ9xT" />
        <add key="privateKey_nextPay" value="6USIJ9xT" />
        <add key="PaymentPrivateKey" value="6USIJ9xT" />
        <add key="EncryptionKey" value="M41n$YsT3mVone" />
        <add key="PrivateKeyToken" value="/rfD/fRNhwqt2RaEq+NV9JVaYpzTMKUb1Q/ajlowLlKNNuCIcuUaQTv/auPCv6Ye" />
        <add key="AllowedUrl" value="http://mv3.w88dev.com" />
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.5">
            <assemblies>
                <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
            </assemblies>
        </compilation>
        <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFundTransfer" />
                <binding name="BasicHttpBinding_IMember" />
                <binding name="BasicHttpBinding_IMS1" />
                <binding name="BasicHttpBinding_IDeposit" />
                <binding name="BasicHttpBinding_IWithdrawal" />
                <binding name="BasicHttpBinding_IRewardsServices" />
                <binding name="memberWSSoap" />
                <binding name="ServiceSoap" />
                <binding name="dummyWSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://paymentservices.aqzbouat.com/FundTransfer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFundTransfer" contract="svcFundTransfer.IFundTransfer" name="BasicHttpBinding_IFundTransfer" />
            <endpoint address="http://paymentservices.aqzbouat.com/Member.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMember" contract="svcPayMember.IMember" name="BasicHttpBinding_IMember" />
            <endpoint address="http://paymentservices.aqzbouat.com/MS1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMS1" contract="svcPayMS1.IMS1" name="BasicHttpBinding_IMS1" />
            <endpoint address="http://paymentservices.aqzbouat.com/Deposit.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeposit" contract="svcPayDeposit.IDeposit" name="BasicHttpBinding_IDeposit" />
            <endpoint address="http://paymentservices.aqzbouat.com/Withdrawal.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWithdrawal" contract="svcPayWithdrawal.IWithdrawal" name="BasicHttpBinding_IWithdrawal" />
            <endpoint address="http://rewardsservices.aqzbouat.com/RewardsServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRewardsServices" contract="RewardsServices.IRewardsServices" name="BasicHttpBinding_IRewardsServices" />
            <endpoint address="http://ws.aqzbouat.com/memberws.asmx" binding="basicHttpBinding" bindingConfiguration="memberWSSoap" contract="wsMemberMS1.memberWSSoap" name="memberWSSoap" />
            <endpoint address="http://locationservices.aqzbouat.com/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="wsIP2Loc.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://ws.aqzbouat.com/dummyWS.asmx" binding="basicHttpBinding" bindingConfiguration="dummyWSSoap" contract="wsDummy.dummyWSSoap" name="dummyWSSoap" />
        </client>
    </system.serviceModel>

    <location inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
                <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
                <remove name="OPTIONSVerbHandler" />
                <remove name="TRACEVerbHandler" />
                <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            </handlers>
        </system.webServer>
    </location>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="UrlRoutingModule" />
            <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </modules>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.01:00:00" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
            <dynamicTypes>
                <add mimeType="*/*" enabled="false" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimeType="application/atom+xml" enabled="true" />
                <add mimeType="application/xaml+xml" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
        <urlCompression doStaticCompression="true" doDynamicCompression="false" />
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin"/>
            </customHeaders>
        </httpProtocol>
        <!--<httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="400" />
            <error statusCode="400" path="/400" responseMode="ExecuteURL" />
            <remove statusCode="403" />
            <error statusCode="403" path="/403" responseMode="ExecuteURL" />
            <remove statusCode="404" />
            <error statusCode="404" path="/404" responseMode="ExecuteURL" />
            <remove statusCode="408" />
            <error statusCode="408" path="/408" responseMode="ExecuteURL" />
            <remove statusCode="500" />
            <error statusCode="500" path="/500" responseMode="ExecuteURL" />
            <remove statusCode="502" />
            <error statusCode="502" path="/502" responseMode="ExecuteURL" />
        </httpErrors>-->
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

</configuration>
