html,
body{
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5{
	font-family: $dinpro;
}
p{
	font-size: 0.875rem;
	color: $text-alt;
}
.text-alt{
	color: $brand-alt;
}
small,
.small{
	font-size: 0.750rem;
}
.primary-link{
	color: $brand-primary;
	&:focus,
	&:hover{
		text-decoration: none;
		color: darken($brand-primary, 10%);
	}
}
.btn{
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	font-family: $dinpro;
	&:active,
	&:focus,
	&:hover{
		outline: 0 none !important;
		@include box-shadow(none);
	}
	&.btn-xs{
		font-size: 0.750rem;
	}
	&.btn-lg{
		font-size: 1rem;
	}
}
.btn-default{
	&:focus,
	&:hover{
		background-color: darken($brand-default, 5%) !important;
		border-color: darken($brand-default, 5%) !important;
	}
}
.btn-line{
		color: $btn-line-color;
		background-color: transparent;
		border-color: $btn-line-border;
	&:focus,
	&:hover{
		color: $btn-line-color;
		background-color: transparent;
		border-color: darken($btn-line-border, 10%);
	}
}
.btn-ghost{
		color: $text-color;
		background-color: transparent;
		border-color: desaturate(darken($text-color, 20%), 20%);
	&:focus,
	&:hover{
		background-color: transparent;
		border-color: desaturate(darken($text-color, 10%), 20%);
	}
}
.btn-gray{
		color: $brand-primary;
		background-color: $gray-light;
		border-color: $gray-light;
	&:focus,
	&:hover{
		color: $brand-primary;
		background-color: darken($gray-light, 10%);
		border-color: darken($gray-light, 10%);
	}
}

.screen{
	margin-left: -16px;
	margin-right: -16px;
}

.body{
    width: 100%;
    overflow: auto;
    top: 47px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
	&.has-tab{
		top: 94px;
	}
	&.has-footer{
		bottom: 60px;
	}
	&.main-content-full{
		padding: 0;
	}
}
.main-content{
    padding: 16px 0;
	background: #023144; 
	background: -moz-linear-gradient(top,  $brand-dark 1%, #1f1f1f 100%);
	background: -webkit-linear-gradient(top,  $brand-dark 1%,#1f1f1f 100%);
	background: linear-gradient(to bottom,  $brand-dark 1%,#1f1f1f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-dark', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-9 */
}

.no-gutter{
    margin-left: 0;
    margin-right: 0;
	div[class^="col-"],
	div[class*=" col-"] {
	    padding-left: 0;
	    padding-right: 0;
	}	
}

.thin-gutter{
    margin-left: -4px;
    margin-right: -4px;
	div[class^="col-"],
	div[class*=" col-"] {
	    padding-left: 4px;
	    padding-right: 4px;
	}	
}
@media (min-width: $screen-xs-min){
	html,
	body{
		font-size: 14px;
	}
	
}