#levelBar {
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: none;
    ul>li {
        float: left;
        list-style: none;
        position: absolute;
    }
    ul>li:nth-child(1) {
        top: -1px;
        left: 0;
        right: 217px;
        bottom: 0;
        z-index: 2;
    }
    ul>li:nth-child(2) {
        left: 0;
        right: 0;
        top: 2px;
        bottom: 0;
    }
    ul>li:nth-child(3) {
        top: -1px;
        left: 213px;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
} 
.barBackground {
    position: relative;
    margin: 0 auto;
    height: 23px;
    width: 200px;
    border-bottom-style:groove;
    border-top-style:ridge; 
    border-width: 6px;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 0, #45484d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#000000), color-stop(100%,#45484d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #000000 0,#45484d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #000000 0,#45484d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #000000 0,#45484d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #000000 0,#45484d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d', GradientType=0 ); /* IE6-9 */
    border-color: grey;
}
.PointsLevelBar {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
.levelDesc {
    width: 262px;
    padding: 7px 0 0;
    margin: 0 auto;
}
#bar {
    max-width: 344px;
    text-align: center;
    height: 30px;
    position: relative;
    margin: 0 auto;
}
.rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.rotate90 {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotate135 {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.rotate180 {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate225 {
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
.rotate270 {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.rotate315 {
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}
.ui-page-theme-b {
    background-image: url("/_Static/Images/spinwheel/BG.jpg") !important;
    background-repeat: repeat;
}
canvas {
    display: block;
    position: absolute;
}
#spinWheelContainer {
    width: 100%;
    position: relative;
    color: #a6a6a6;
    margin: 0 auto;
    font-family: dinpro;
    display: block;
    p {
        color: #a6a6a6;
    }
    hr {
        border-top: 1px solid #a6a6a6;
    }
}
#spinWheelHeader {
    text-align: center;
    top: -95px;
    position: relative;
    margin: 0 auto;
    h3 {
        color: #46b3ff;
    }
    h3, h5 {
        font-weight: bolder;
    }
}
#spinWheelContent {
    text-align: center;
    position: absolute;
    margin: 0 auto;
    top: 60px;
    left: 0;
    right: 0;
}
#roulette, #wheelPointer {
    max-width: 604px;
    max-height: 604px;
    height: auto;
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
}
#prizes p {
    color: #fff;
    z-index: 1000;
    position: absolute;
    text-align: center;
    word-break: break-word;
    padding: 0 7px;
}
.spinWheel {
    max-width: 604px;
    max-height: 604px;
    margin: 0 auto;
    position: absolute;
    top: 59px;
    left: 0;
    right: 0;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
#swc {
    z-index: 1;
    position: relative;
    margin: 0 auto;
}
#disclaimer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}
#spinButton {
    max-width: 240px;
    display: block;
    padding: 12px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
}
#spinsLeft, #spinButton, #claimButton, #okButton {
    display: none;
}
#spinsLeft {
    max-height: 65px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    span {
        font-size: inherit;
        font-family: inherit;
    }
}
#countdownContainer {
    width: 160px;
    height: 90px;
    background-color: #2f2e2e;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
}
#nextSpinLabel {
    color: #3799ec;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 60px;
    font-weight: bolder;
    background-color: #484747;
    height: 30px;
    line-height: 29px;
    width: inherit;
}
.countdownElement {
    position: relative;
    float: left;
    text-align: center;
    padding: 0 5px;
    width: 40px;
    top: 9px;
    border-right: 1px solid grey;
    height: 42px;
}
div#countdownContainer>div.countdownElement:nth-child(4) {
    border-right: none;
}
.countdownElement {
    p:nth-child(1) {
        margin-bottom: 0;
        color: #3799ec;
        position: relative;
        top: 0;
        font-size: 20px;
    }
    p:nth-child(2) {
        color: grey;
        position: relative;
        top: 0;
        font-size: 10px;
    }
}
#spinMessage {
    z-index: 2;
    top: 120px;
    span {
        position: relative;
        text-align: center;
        max-width: 370px;
        margin: 0 auto;
    }
}
#spinWheelContent a.button_login:enabled:hover {
    background: #35a8db !important;
}
#pic {
    z-index: 1;
    position: absolute;
}
.prizeModal {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    top: 195px;
    width: 100%;
    height: 100%;
}
#prizeContainer img {
    left: 3px;
    position: relative;
    margin: 0 auto;
    max-width: 406px;
    max-height: 327px;
}
#claimButton, #okButton {
    max-width: 120px;
    padding: 8px;
    margin: 0 auto;
    top: -65px;
    z-index: 1051;
}
#prizeContainer p {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #e1ebef;
    max-width: 366px;
    max-height: 130px;
}
@media only screen and (min-width: 320px) {
    #spinWheelContainer {
        top: 80px;
        min-height: 580px;
    }
    #roulette, #wheelPointer {
        width: 100%
    }
    #spinButton, #countdownContainer {
        top: 380px;
    }
    #prizes {
        position: absolute;
        top: -115px;
        bottom: 0;
        left: -136px;
        right: 0;
        p {
            height: 20px;
            width: 77px;
            font-size: 8px;
        }
    }
    #prize1 {
        top: 187px;
        left: 251px;
    }
    #prize2 {
        top: 207px;
        left: 300px;
    }
    #prize3 {
        top: 258px;
        left: 320px;
    }
    #prize4 {
        top: 307px;
        left: 299px;
    }
    #prize5 {
        top: 327px;
        left: 250px;
    }
    #prize6 {
        top: 307px;
        left: 200px;
    }
    #prize7 {
        top: 257px;
        left: 180px;
    }
    #prize8 {
        top: 207px;
        left: 199px;
    }
    #prizeContainer {
        p {
            top: 100px;
            left: 31px;
            font-size: 11px;
            width: 80%;
        }
        img {
            width: 90%;
        }
    }
    #disclaimer {
        top: 485px;
    }
}
@media only screen and (min-width: 360px) {
    #spinButton, #countdownContainer {
        top: 421px;
    }
    #prizes {
        top: -95px;
        left: -117px;
    }
    #prize1 {
        top: 178px;
        left: 251px;
    }
    #prize2 {
        top: 200px;
        left: 308px;
    }
    #prize3 {
        top: 258px;
        left: 329px;
    }
    #prize4 {
        top: 314px;
        left: 308px;
    }
    #prize5 {
        top: 337px;
        left: 250px;
    }
    #prize6 {
        top: 315px;
        left: 193px;
    }
    #prize7 {
        top: 257px;
        left: 171px;
    }
    #prize8 {
        top: 201px;
        left: 193px;
    }
    #prizeContainer p {
        top: 108px;
        left: 31px;
        font-size: 12px;
        width: 82%;
    }
    #disclaimer {
        top: 530px;
    }
}
@media only screen and (min-width: 375px) {
    #spinButton, #countdownContainer {
        top: 433px;
    }
    #prizes {
        top: -87px;
        left: -109px;
    }
    #prize1 {
        top: 175px;
        left: 251px;
    }
    #prize2 {
        top: 199px;
        left: 309px;
    }
    #prize3 {
        top: 258px;
        left: 331px;
    }
    #prize4 {
        top: 315px;
        left: 308px;
    }
    #prize5 {
        top: 340px;
        left: 250px;
    }
    #prize6 {
        top: 316px;
        left: 191px;
    }
    #prize7 {
        top: 258px;
        left: 169px;
    }
    #prize8 {
        top: 199px;
        left: 191px;
    }
    #prizeContainer p {
        top: 110px;
        left: 35px;
        font-size: 14px;
        width: 80%;
    }
    #disclaimer {
        top: 540px;
    }
}
@media only screen and (min-width: 384px) {
    #spinButton, #countdownContainer {
        top: 437px;
    }
    #prizes {
        top: -83px;
        left: -104px;
    }
    #prizeContainer p {
        top: 110px;
        left: 35px;
        font-size: 14px;
        width: 80%;
    }
}
@media only screen and (min-width: 412px) {
    #spinButton, #countdownContainer {
        top: 473px;
    }
    #roulette, #wheelPointer {
        width: 100.5%;
        right: -2px;
    }
    #spinWheelContent {
        min-height: 571px;
    }
    #prizes {
        top: -69px;
        left: -91px;
        p {
            font-size: 9px;
        }
    }
    #prize1 {
        top: 165px;
        left: 251px;
    }
    #prize2 {
        top: 193px;
        left: 319px;
    }
    #prize3 {
        top: 260px;
        left: 345px;
    }
    #prize4 {
        top: 325px;
        left: 318px;
    }
    #prize5 {
        top: 353px;
        left: 252px;
    }
    #prize6 {
        top: 326px;
        left: 184px;
    }
    #prize7 {
        top: 258px;
        left: 159px;
    }
    #prize8 {
        top: 192px;
        left: 184px;
    }
    #prizeContainer{
        p {
            top: 126px;
            left: 35px;
            font-size: 16px;
            width: 82%;
        }
        img {
            width: 95%;
        }
    } 
    #disclaimer {
        top: 580px;
    }
}
@media only screen and (min-width: 414px) {
    #roulette, #wheelPointer {
        width: 100%;
        right: 0;
    }
}
@media only screen and (min-width: 480px) {
    #spinButton, #countdownContainer {
        top: 545px;
    }
    #prizes {
        top: -37px;
        left: -63px;
        p {
            font-size: 11px;
            width: 90px;
        }
    }
    #prize1 {
        top: 146px;
        left: 250px;
    }
    #prize2 {
        top: 179px;
        left: 332px;
    }
    #prize3 {
        top: 260px;
        left: 364px;
    }
    #prize4 {
        top: 342px;
        left: 332px;
    }
    #prize5 {
        top: 374px;
        left: 251px;
    }
    #prize6 {
        top: 341px;
        left: 169px;
    }
    #prize7 {
        top: 259px;
        left: 137px;
    }
    #prize8 {
        top: 179px;
        left: 169px;
    }
    #disclaimer {
        top: 665px;
    }
    #prizeContainer {
        img {
            width: 68%;
        }
        p {
            top: 112px;
            left: 95px;
            font-size: 13px;
            width: 60%;
        }
    }
    #pic {
        left: 137px;
        top: 10px;
    }
}
@media only screen and (min-width: 568px) {
    #spinWheelContainer {
        top: 70px;
    }
    #roulette, #wheelPointer {
        width: 91.8%;
        left: 22px;
    }
    #spinButton, #countdownContainer {
        top: 605px;
    }
    #prizes {
        top: -26px;
        left: -26px;
        p {
            height: 60px;
            width: 106px;
        }
    }
    #prize1 {
        top: 149px;
        left: 250px;
    }
    #prize2 {
        top: 178px;
        left: 322px;
    }
    #prize3 {
        top: 251px;
        left: 352px;
    }
    #prize4 {
        top: 323px;
        left: 322px;
    }
    #prize5 {
        top: 352px;
        left: 250px;
    }
    #prize6 {
        top: 323px;
        left: 177px;
    }
    #prize7 {
        top: 250px;
        left: 147px;
    }
    #prize8 {
        top: 178px;
        left: 178px;
    }
    #prizeContainer {
        img {
            width: 52.8%;
        }
        p {
            top: 100px;
            left: 149px;
            font-size: 12px;
            width: 47%;
        }
    }
    #disclaimer {
        top: 710px;
    }
    #pic {
        left: 181px;
    }
}
@media only screen and (min-width: 598px) {
    #roulette, #wheelPointer {
        left: 24px;
    }
    #prizes {
        top: -13px;
        left: -12px;
    }
    #pic {
        left: 193px;
        top: 10px;
    }
    #prizeContainer p {
        top: 119px;
        left: 157px;
        font-size: 11px;
    }
}
@media only screen and (min-width: 600px) {
    #prizes {
        top: -12px;
        left: -10px;
    }
    #spinButton, #countdownContainer {
        top: 605px;
    }
    #prizeContainer {
        img {
            width: 67.6%;
        }
        p {
            top: 131px;
            left: 121px;
            font-size: 16px;
            width: 59%;
        }
    } 
    #pic {
        left: 196px;
        top: 15px;
    }
}
@media only screen and (min-width: 640px) {
    #spinWheelContainer {
        top: 70px;
    }
    #roulette, #wheelPointer {
        width: 96.8%;
        left: 10px;
    }
    #spinButton, #countdownContainer {
        top: 675px;
    }
    #prizes {
        top: 13px;
        left: 0;
        p {
            height: 60px;
            width: 106px;
            font-size: 13px;
        }
    }
    #prize1 {
        top: 124px;
        left: 249px;
    } 
    #prize2 {
        top: 163px;
        left: 344px;
    } 
    #prize3 {
        top: 258px;
        left: 384px;
    } 
    #prize4 {
        top: 354px;
        left: 345px;
    } 
    #prize5 {
        top: 393px;
        left: 249px;
    } 
    #prize6 {
        top: 354px;
        left: 154px;
    } 
    #prize7 {
        top: 258px;
        left: 113px;
    } 
    #prize8 {
        top: 162px;
        left: 154px;
    } 
    #prizeContainer {
        p {
            top: 118px;
            left: 170px;
            font-size: 14px;
            width: 47%;
        }
        img {
            width: 52.8%;
        }
    } 
    #disclaimer {
        top: 785px;
    }
    #pic {
        left: 168px;
        top: -10px;
    }
}
@media only screen and (min-width: 667px) {
    #roulette, #wheelPointer {
        width: 92.8%;
        left: 24px;
    }
    #prizeContainer {
        img {
            width: 52.8%;
        }
        p {
            top: 119px;
            left: 178px;
            font-size: 14px;
            width: 47%;
        }
    } 
    #pic {
        left: 181px;
    }
}
@media only screen and (min-width: 684px) {
    #roulette, #wheelPointer {
        left: 32px;
    }
}
@media only screen and (min-width: 732px) {
    #roulette, #wheelPointer {
        width: 83.9%;
        left: 59px;
    }
    #prizeContainer {
        img {
            width: 52.8%;
        }    
        p {
            top: 130px;
            left: 195px;
            font-size: 16px;
            width: 47%;
        }
    } 
    #disclaimer {
        top: 782px;
    }
    #pic {
        left: 215px;
    }
}
@media only screen and (min-width: 768px) {
    #roulette, #wheelPointer {
        width: 80.3%;
        left: 75px;
    }
    #prizeContainer {
        p {
            top: 130px;
            left: 200px;
            font-size: 16px;
            width: 47%;
        }
    }
    #disclaimer {
        top: 785px
    }
    #pic {
        left: 232px
    }
}
@media only screen and (min-width: 800px) {
    #spinWheelContainer {
        top: 80px;
    }
    #roulette, #wheelPointer {
        width: 77%;
        left: 91px;
    }
    #prizes {
        top: 16px;
    }
    #prizeContainer {
        p {
            top: 137px;
            left: 230px;
            font-size: 16px;
            width: 42%;
        }
        img {
            width: 52.8%;
        }
    }
    #pic {
        left: 249px;
        top: 6px;
    }
}
@media only screen and (min-width: 960px) {
    #roulette, #wheelPointer {
        width: 77%;
        left: 170px;
    }
    #prizeContainer p {
        top: 134px;
        left: 300px;
        font-size: 16px;
        width: 37%;
    }
    #pic {
        left: 325px;
        top: 6px;
    }
}
@media only screen and (min-width: 1024px) {
    #roulette, #wheelPointer {
        width: 59.9%;
        left: 202px;
    }
    #prizeContainer {
        p {
            top: 132px;
            left: 331px;
            font-size: 16px;
            width: 35%;
        }
        img {
            width: 39.7%;
        }
    }
    #pic {
        left: 357px
    }
}
@media only screen and (min-width: 1080px) {
    #roulette, #wheelPointer {
        left: 230px;
    }
    #pic {
        left: 382px;
    }
    #prizeContainer p {
        left: 355px;
        font-size: 17px;
    }
}
@media only screen and (min-width: 1280px) {
    #spinWheelContainer {
        top: 80px;
    }
    #roulette, #wheelPointer {
        left: 330px;
    }
    #prizeContainer {
        p {
            top: 132px;
            left: 455px;
            font-size: 16px;
            width: 35%;
        }
        img {
            width: 39.7%;
        }
    }
    #pic {
        left: 486px;
    }
}
@media only screen and (min-width: 1366px) {
    #roulette, #wheelPointer {
        left: 373px;
    }
    #prizeContainer p {
        top: 132px;
        left: 498px;
        font-size: 16px;
        width: 35%;
    }
    #pic {
        left: 529px;
    }
}
@media only screen and (min-width: 1920px) {
    #roulette, #wheelPointer {
        left: 650px;
    }
    #prizeContainer p {
        left: 775px;
    }
    #pic {
        left: 805px;
    }
}