.gateway-restrictions{
    margin: 0 -16px 16px;
    padding: 0 16px 16px;
	text-align: center;
  	border-bottom: 1px solid lighten($body-bg, 4%);
	p{
		text-transform: uppercase;
		font-family: $dinpro;
		color: $min-max-value-color;
		line-height: 1.2;
		margin-bottom: 5px;
		small{
			font-family: $font-family-sans-serif;
			text-transform: none;
			color: $min-max-color;
		}
	}
}

.gateway-select{
	a{
		font-family: $dinpro;
		text-align: center;
		background-color: $brand-default;
		color: $footer-generic-color;
		text-transform: uppercase;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 10px;
		display: block;
		position: relative;
		&:active,
		&:focus,
		&:hover{
			background-color: darken($brand-default, 10%);
		}

		&:after{
			color: lighten($brand-default, 15%);
  			content: "\e917";
		    font-family: 'icomoon' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
		    position: absolute;
		    right: 16px;
		    font-size: 1.5rem;
		}
	}
}