.more-menu{
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: $more-bg-color;
	li{
		display: block;
	}
	.profile-info,
	a{
		font-family: $dinpro;
		padding: 16px;
		display: table;
		table-layout: fixed;
		width: 100%;
		span{
			vertical-align: middle;
			display: table-cell;
			small{
				display: block;
			}
		}
		.icon{
			color: $more-menu-icon-color;
			font-size: 1.5rem;
			width: 2.5rem;
		}
	}
	a{
		border-bottom: 1px solid rgba($white, 0.05);
		span{
			text-transform: uppercase;
			color: $more-menu-color;
			font-size: 0.875rem;
		}
		&:after{
			color: $more-menu-arrow-color;
			font-family: 'icomoon' !important;
			font-size: 1.5rem;
  			content: "\e917";
  			line-height: 1;
  			font-weight: normal;
  			font-style: normal;
  			right: 16px;
  			position: absolute;
		}
	}
	.profile-info{
		background-color: darken($brand-default , 12.5%);
		span{
			color: $brand-primary;
			font-size: 1.125rem;
		}
		small{
			color: $text-color;
		}
	}
}