/*#region Points*/

.lv-Product {
    display: none;
}

.ui-content {
    padding: 0;
    margin: 0;
}

#divContent {
    margin: 0px 10px;
    padding: 10px;
}

#divLevel {
    background-color: #1c6080;
    height: 20pt;
    position: relative;
}


#lblPoint {
    color: white;
    float: right;
    font-family: "Open Sans",sans-serif,helvetica,Tahoma,Arial,Verdana,"Comic Sans MS";
    font-size: smaller;
    font-weight: 700;
    margin-top: 5px;
    position: relative;
    right: 5px;
    padding-right: 3pt;
    text-decoration: underline;
}


#divLevel a:hover   {
    text-decoration: underline;
}

/*#endregion*/


/*#region Category Scroll Bar*/
#categorywrapper {
    background: none repeat scroll 0 0 #252525;
    bottom: 0;
    height: 110px;
    left: 0;
    position: relative;
    width: 100%;
    /*must put 100% for iscroll to work*/
    z-index: 1;
}

#category-nav {
    -moz-text-size-adjust: none;
    -moz-user-select: none;
    overflow: hidden;
    position: relative;
    width: 990px;
 /*adjust scroller length*/
    height: 100px;
    float: left;
    padding: 0;
}

#category-nav ul {
    list-style: none;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}

#category-nav li {
    background-color: #000;
    background-size: contain;
    border-left: 2px solid #252525;
    border-right: 2px solid #252525;
    display: block;
    float: left;
    font-size: 14px;
    height: 100%;
    padding: 0 10px;
    vertical-align: middle;
    width: 84.6px;
    overflow: hidden;
    text-align: center;
}

#categorylist li img {
     max-height: 65px;
    width: 80px;
}

#categorylist li a {
    text-decoration: none;
    display: block;
}

#categorylist li .label {
    color: white;
    display: block;
    font-size: 7.5pt;
    margin-top: 0;
}

/*#endregion*/

/*#region Product Scroll Bar*/

.nodata {
      color: white;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 20px;
}

#resultwrapper {
    position: absolute;
    z-index: 10;
    top: 125px;
    bottom: 5px;
    overflow: scroll;
}

#resultscroller {
    position: absolute;
    margin-top: 0px;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#resultscroller > ul {
    display: block;
    overflow: hidden;
    padding-left: 0;
    max-width: 1000px;
    margin-top: 0px;
}

#resultscroller > ul > li {
    background-color: #252525;
    border: 1px solid #252525;
    display: block;
    float: left;
    margin: 0.5% 0.5%;
    width: 140px;
}

#resultscroller > ul > li > a {
    background-color: transparent;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

#resultscroller > ul > li > a > span {
    display: block;
}

#resultscroller > ul > li .image {
    text-align: center;
}

#resultscroller > ul > li img {
    height: 80px;
}

#resultscroller > ul > li .points {
    background-color: #252525;
    color: #2a8fbd;
    font-size: 12px;
    padding: 0 8px 5px;
    text-align: right;
}

 #resultscroller > ul > li .newpoints {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 12px;
        padding: 0px 5px 0px 5px;
        text-align: right;
    }

#resultscroller > ul > li .description {
    font-size: 12px;
    margin: 3px 5px 0;
    min-height: 32px;
    text-align: right;
    display: block;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: normal;
}

#resultscroller li.hotitem {
    position: relative;
}

.small-label {
    background-color: RED;
    color: WHITE;
    font: 10px arial;
    left: 0;
    margin: 3px 0 0 3px;
    overflow: hidden;
    padding: 0 3px;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: auto;
    z-index: 100;
}

/*#endregion*/




@media all and (min-width:320px) and (max-width: 479px ) {

    .page-content {
        margin: 0 auto;
        max-width: 310px;
    }

    #resultwrapper {
        top: 145px;
        width: 310px;
    }

    #resultscroller > ul {
        width: 310px;
        margin: 0 auto;
    }

    #resultscroller > ul > li {
        height: 152px;
        margin: 9px 2.5%;
        width: 134px;
    }

    #resultscroller > ul > li .image {
        height: 68px;
        margin-top: 5px;
        text-align: center;
    }

    #resultscroller > ul > li .description {
        font-size: 11px;
        margin: 7px 6px 0;
        min-height: 30px;
        text-align: right;
    }

        
           #resultscroller > ul > li .points {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 11px;
        padding: 5px 5px 0px;
        text-align: right;
    }

    #resultscroller > ul > li .newpoints {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 11px;
        padding: 0px 5px 0px 5px;
        text-align: right;
    }






}

@media all and (min-width: 480px) and (max-width: 599px ) {

    .page-content {
        margin: 0 auto;
        max-width: 480px;
    }

    #resultwrapper {
     top: 145px;
        width: 480px;
    }

    #resultscroller > ul {
        width: 480px;
    }

    #resultscroller > ul > li {
        height: 155px;
        margin: 9px 7.5px;
        width: 143px;
    }

    #resultscroller > ul > li .image {
        height: 70px;
        margin-top: 5px;
        text-align: center;
    }

    #resultscroller > ul > li .description {
        font-size: 11px;
        margin: 6px 6px 0;
        min-height: 30px;
        text-align: right;
    }

    
           #resultscroller > ul > li .points {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 11px;
        padding: 5px 5px 0px;
        text-align: right;
    }

    #resultscroller > ul > li .newpoints {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 11px;
        padding: 0px 5px 0px 5px;
        text-align: right;
    }


}

@media all and ( min-width: 600px ) and ( max-width: 767px ) {
    .page-content {
        margin: 0 auto;
        max-width: 580px;;
    }

    #resultwrapper {
      top: 145px;
        width: 580px;
    }

    #resultscroller > ul {
        width: 580px;
        margin: 0 auto;
    }

    #resultscroller > ul > li {
        height: 172px;
        margin: 10px;
        width: 171px;
    }

           #resultscroller > ul > li .points {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 12px;
        padding: 5px 5px 0px;
        text-align: right;
    }

    #resultscroller > ul > li .newpoints {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 12px;
        padding: 0px 5px 0px 5px;
        text-align: right;
    }
}

@media all and ( min-width: 768px ) and ( max-width: 799px ) {
    .page-content {
        margin: 0 auto;
        max-width: 768px;
    }

    #resultwrapper {
      top: 145px;
        width: 768px;
    }

    #resultscroller > ul {
        width: 768px;
    }

    #resultscroller > ul > li {
        height: 172px;
        margin: 10px 1.3%;
        width: 166px;
    }

       #resultscroller > ul > li .points {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 12px;
        padding: 5px 5px 0px;
        text-align: right;
    }

    #resultscroller > ul > li .newpoints {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 12px;
        padding: 0px 5px 0px 5px;
        text-align: right;
    }

}

@media all and ( min-width: 800px ) and ( max-width: 1019px ) {
    .page-content {
        margin: 0 auto;
        max-width: 780px;
    }

    #category-nav li {
    width: 86px;
}

    #resultwrapper {
        top: 145px;
        width: 780px;
    }

    #resultscroller > ul {
        max-width: 780px;
        margin: 0 auto;
    }

 
    #resultscroller > ul li {
        height: 166px;
        margin: 10px;
        width: 173px;
    }

    #resultscroller > ul > li .points {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 12px;
        padding: 5px 5px 0px;
        text-align: right;
    }

    #resultscroller > ul > li .newpoints {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 12px;
        padding: 0px 5px 0px 5px;
        text-align: right;
    }
}

@media all and ( min-width: 1020px ) {

    .page-content {
        margin: 0 auto;
        max-width: 1000px;
    }

    
#category-nav li {
    width: 87px;
}

    #resultwrapper {
        top: 145px;
        width: 1000px;
    }

    #category-nav {
        width: 1000px;
    }

    #resultscroller > ul {
        max-width: 1000px;
        margin: 0 auto;
    }

    #resultscroller > ul li {
        height: 166px;
        margin: 10px;
        width: 178px;
    }

    #resultscroller > ul > li .points {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 12px;
        padding: 5px 5px 0px;
        text-align: right;
    }

    #resultscroller > ul > li .newpoints {
        background-color: #252525;
        color: #2a8fbd;
        font-size: 12px;
        padding: 0px 5px 0px 5px;
        text-align: right;
    }
}
