.page-content {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#divDepositDateTime > div:nth-child(1) {
    width: 60%;
}
#divDepositDateTime > div:nth-child(1) span{
}

#divDepositDateTime > div:nth-child(2) {
    width: 20%;
}

#divDepositDateTime > div:nth-child(3) {
    width: 20%;
}

.page-content div:first-child ul li {
    border-right: 1px solid #1f1f1f;
}


.div-fastdeposit-depositdatetime {
    display:table;
    width:100%;
}
.div-fastdeposit-depositdatetime > div {
    display:table-cell;
}
    .div-fastdeposit-depositdatetime > div:nth-child(n+2) {
        padding-left:.5em;
    }

