.page-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #252525;
}

    .page-content > div > div {
        /*padding: 0 1em;*/
    }

    .page-content > div > form input, textarea {
        font-size: .8em;
    }

    .page-content > div > form > div {
        /*padding: 0 1em;*/
    }

.div-profile-avatar {
    /*width:100%;
    table-layout:fixed;
    display:table;*/
    background-color: #1f1f1f;
    padding: .6em;
}

    .div-profile-avatar > div {
        vertical-align: top;
        /*width:100%;*/
        display: table-cell;
        padding: 0 20px 0 0;
        font-weight: 700;
    }

        .div-profile-avatar > div:first-child {
        }

            .div-profile-avatar > div:first-child > img {
                max-height: 90px;
                display:block;
            }

        .div-profile-avatar > div:last-child {
            text-align: right;
            width: 100%;
            padding-right: 0;
        }

            .div-profile-avatar > div:last-child > div {
                padding-bottom: 0;
            }

                .div-profile-avatar > div:last-child > div > a > img {
                    max-height: 42px;
                }

        .div-profile-avatar > div > div {
            padding-bottom: .5em;
            white-space: nowrap;
            font-size: .75em;
        }

        .div-profile-avatar > div:nth-child(2) > div:first-child {
        }

.div-password-change {
    background-color: #252525;
    /*margin-bottom: 1em;*/
    padding: .8em .8em 0;
}
    .div-password-change > div > div > label {
    font-size: .8em;
    }

.div-password-submit {
    background-color: #252525;
    padding: .8em .8em;
}
    .div-password-submit > div {
    }
    .div-password-submit > div > div > label {
        font-size: .8em;
    }
