<div class="table-container">
    <table class="table">
        <tbody>
            {% _.each(history.result, function(item) { %}
            <tr>
                <td>
                    <span class="table-entry-type">{%-item.TransactionId%}</span>
                    <span class="table-date">{%-item.DateTime%}</span>
                </td>
                <td>
                    <span class="table-status">{%-item.Type%}</span>
                    <span class="table-status">{%-item.Status%}</span>
                </td>
                <td>
                    <span class="table-status">{%-item.Category%}</span>
                    <span class="table-status">{%-item.Product%}</span>
                    <span class="table-status">{%-item.Message%}</span>
                    <span class="table-status">{%-item.ReceivedAmount%}</span>
                </td>
            </tr>
            {% }); %}
        </tbody>
    </table>
</div>