<div class="history-data">
    {% _.each(history.result, function(item) { %}
    <div class="history-data-row">
        <div>
            <h5 class="h-title">{%-item.SubjectCode%}</h5>
            <p class="h-date"><small>{%-item.SubmissionDate%}</small></p>
        </div>
    </div>
    {% }); %}
</div>
<!-- 
<div class="table-container">
    <table class="table">
        <tbody>
            {% _.each(history.result, function(item) { %}
            <tr>
                <td>
                    <span class="table-date">{%-item.SubmissionDate%}</span>
                </td>
                <td>
                    <span class="table-status">{%-item.SubjectCode%}</span>
                </td>
            </tr>
            {% }); %}
        </tbody>
    </table>
</div> -->