<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AuditLog" value="yes"/>
    <add key="AuditLogFolder" value="D:\WebServerLogs\W88.m" />
    <add key="PrivateKey" value="wg8TaLcIGXwT"/>
    <add key="EncryptionKey" value="M41n$YsT3mVone"/>
    <add key="Operator" value="W88" />
    <add key="ClearWebCache" value="true" />
    <add key="DisplayDateFormat" value="dd/MM/yyyy"/>
    <add key="DisplayDateTimeFormat" value="dd/MM/yyyy  HH:mm:ss"/>
    <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="DecimalFormat" value="###,###,###,##0.00" />
    <add key="CheckPromoUrl" value="http://integration.ms1dev.com/internalApis/Promotion/checkPromo.aspx" />
    <add key="CheckClaimUrl" value="http://integration.ms1dev.com/internalApis/Promotion/checkClaim.aspx" />
  </appSettings>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
