<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="OperatorGroupSettings">
      <section name="W88" type="System.Configuration.NameValueSectionHandler"/>
      <section name="W88_Iovation" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>

    <sectionGroup name="WalletGroupSettings">
      <section name="main" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="asports" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="lottery" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="casino" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="playtech" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="binary" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="poker" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="sbtech" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>

  <WalletGroupSettings>
    <main walletId="0" orderBy="1" />
    <lottery walletId="1" orderBy="3" />
    <asports walletId="2" orderBy="2" />
    <casino walletId="3" orderBy="4" />
    <playtech walletId="4" orderBy="5" />
    <binary walletId="5" orderBy="6" />
    <poker walletId="6" orderBy="7" />
    <sbtech walletId="7" orderBy="8" />
  </WalletGroupSettings>
  <OperatorGroupSettings>
    <W88>
      <add key="OperatorId" value="1"/>
      <add key="LanguageSelection" value="en-us | zh-cn | vi-vn | th-th | km-kh | id-id | ko-kr | ja-jp"/>
      <add key="DefaultSelectedLanguage" value="en-us"/>
      <add key="BlockedCountries" value="- | HK | PH | SG | TW | US | FR"/>
      <add key="Products" value="main | asports | lottery | casino | playtech | binary | poker" />
      <add key="Currencies" value="IDR | MYR | RMB | THB | USD | VND" />
  
      <add key="DemoDomains" value=".w88bet.com | .w88uat.com | .bet8uat.com | .w88dev.com | .bet8dev.com" />
      <add key="LPNumber" value="P19506071" />
      <add key="LPAppKey" value="a9OZlNl2/fx9yk+ERIxOWEmSRiDQzOKDJD3a1BPcAsFXYsVoDH2+ZpUflmx4Mo52YLvr3y8E1dt/ch9YBQbyvSMLxeEhTCYw2TuVm7ZlpQeYEOTXGuzxNbaTk87MdZGT4ZPESY6P39M=" />
      <add key="IndexPromoPageSize" value="3"/>
      <add key="SplashUrl" value="http://m.w88.com" />
    </W88>
    <W88_Iovation>
      <add key="CheckTransactionUrl" value="https://ci-snare.iovation.com/api/CheckTransaction" />
      <add key="GetEvidenceUrl" value="https://ci-snare.iovation.com/api/GetEvidenceDetails" />
      <add key="AccountPrefix" value="W88_" />
      <add key="SubscriberId" value="952002" />
      <add key="SubscriberAccount" value="OLTP" />
      <add key="SubscriberPassCode" value="2WTGH4X1" />
      <add key="ServiceDays" value="30" />
      <add key="ServiceEnabled" value="true" />
      <add key="Exceptions" value="office | office2" />
    </W88_Iovation>
  </OperatorGroupSettings>
  <appSettings>
    <add key="AuditLog" value="yes"/>
    <add key="AuditLogFolder" value="D:\WebServerLogs\W88.m" />
    <add key="PrivateKey" value="wg8TaLcIGXwT"/>
    <add key="EncryptionKey" value="M41n$YsT3mVone"/>
    <add key="Operator" value="W88" />
    <add key="ClearWebCache" value="true" />
    <add key="DisplayDateFormat" value="dd/MM/yyyy"/>
    <add key="DisplayDateTimeFormat" value="dd/MM/yyyy HH:mm:ss"/>
    <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="DecimalFormat" value="###,###,###,##0.00" />
    <add key="CheckPromoUrl" value="http://integration.ms1dev.com/internalApis/Promotion/checkPromo.aspx" />
    <add key="CheckClaimUrl" value="http://integration.ms1dev.com/internalApis/Promotion/checkClaim.aspx" />
    <add key="SMTPHOST" value="192.168.1.199" />
    <add key="ImagesDirectoryPath" value="../_static/Images/"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="3145728" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFundTransfer" />
        <binding name="ServiceSoap" />
        <binding name="BasicHttpBinding_IMember" />
        <binding name="BasicHttpBinding_IDeposit" />
        <binding name="BasicHttpBinding_IMS1" />
        <binding name="BasicHttpBinding_IWithdrawal" />
        <binding name="memberWSSoap" />
        <binding name="BasicHttpBinding_IRewardsServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://paymentservices.ms1dev.com/FundTransfer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFundTransfer"
        contract="svcFundTransfer.IFundTransfer" name="BasicHttpBinding_IFundTransfer" />
      <endpoint address="http://locationservices.ms1dev.com/service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="wsIP2Loc.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://paymentservices.ms1dev.com/Member.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMember"
        contract="svcPayMember.IMember" name="BasicHttpBinding_IMember" />
      <endpoint address="http://paymentservices.ms1dev.com/Deposit.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeposit"
        contract="svcPayDeposit.IDeposit" name="BasicHttpBinding_IDeposit" />
      <endpoint address="http://paymentservices.ms1dev.com/MS1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMS1"
        contract="svcPayMS1.IMS1" name="BasicHttpBinding_IMS1" />
      <endpoint address="http://paymentservices.ms1dev.com/Withdrawal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWithdrawal"
        contract="svcPayWithdrawal.IWithdrawal" name="BasicHttpBinding_IWithdrawal" />
      <endpoint address="http://ws.ms1dev.com/memberws.asmx" binding="basicHttpBinding"
        bindingConfiguration="memberWSSoap" contract="wsMemberMS1.memberWSSoap"
        name="memberWSSoap" />
      <endpoint address="http://rewardsservices.ms1dev.com/RewardsServices.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRewardsServices"
      contract="RewardsServices.IRewardsServices" name="BasicHttpBinding_IRewardsServices" />
    </client>


    <!--<client>
      <endpoint address="http://ws.aqzbouat.com/memberWS.asmx" binding="basicHttpBinding"
      bindingConfiguration="memberWSSoap" contract="ws_member.memberWSSoap"
      name="memberWSSoap" />
      <endpoint address="http://locationservices.aqzbouat.com/Service.asmx"
      binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
      contract="ws_location.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://staging-asia-2.ctxm.com/xbase-service/services/MarketingService"
      binding="basicHttpBinding" bindingConfiguration="MarketingServiceSoapBinding"
      contract="ws_jackpot.MarketingService" name="MarketingService" />
      <endpoint address="http://ws.aqzbouat.com/announcementWS.asmx"
      binding="basicHttpBinding" bindingConfiguration="announcementWSSoap"
      contract="ws_announcement.announcementWSSoap" name="announcementWSSoap" />
      <endpoint address="http://msgservices.aqzbouat.com/PMessage.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPMessage"
      contract="PMessageServices.IPMessage" name="BasicHttpBinding_IPMessage" />
      <endpoint address="http://paymentservices.aqzbouat.com/Member.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMember"
      contract="MemberServices.IMember" name="BasicHttpBinding_IMember" />
      <endpoint address="http://rewardsservices.aqzbouat.com/RewardsServices.svc"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRewardsServices"
      contract="RewardsServices.IRewardsServices" name="BasicHttpBinding_IRewardsServices" />
      <endpoint address="http://paymentservices.aqzbouat.com/Member.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMember1"
        contract="PaymentServices.IMember" name="BasicHttpBinding_IMember1" />
    </client>-->
    
    
    
    
    
    
    
    
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </modules>
    <handlers>
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
</configuration>