<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="OperatorGroupSettings">
      <section name="W88" type="System.Configuration.NameValueSectionHandler"/>
      <section name="W88_Iovation" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <section name="throttlePolicy" type="WebApiThrottle.ThrottlePolicyConfiguration, WebApiThrottle" />
  </configSections>
  <OperatorGroupSettings>
    <W88>
      <add key="OperatorId" value="1"/>
      <add key="LanguageSelection" value="en-us | zh-cn | vi-vn | th-th | km-kh | id-id | ko-kr | ja-jp"/>
      <add key="DefaultSelectedLanguage" value="en-us"/>
      <add key="BlockedCountries" value="- | HK | PH | SG | TW | US | FR"/>
      <add key="Products" value="main | asports | lottery | casino | playtech | binary | poker" />
      <add key="Currencies" value="IDR | MYR | RMB | THB | USD | VND" />
      <add key="DemoDomains" value=".w88bet.com | .w88uat.com | .bet8uat.com | .w88dev.com | .bet8dev.com" />
      <add key="LPNumber" value="P19506071" />
      <add key="LPAppKey" value="a9OZlNl2/fx9yk+ERIxOWEmSRiDQzOKDJD3a1BPcAsFXYsVoDH2+ZpUflmx4Mo52YLvr3y8E1dt/ch9YBQbyvSMLxeEhTCYw2TuVm7ZlpQeYEOTXGuzxNbaTk87MdZGT4ZPESY6P39M=" />
      <add key="IndexPromoPageSize" value="3"/>
      <add key="SplashUrl" value="http://m.w88.com" />
      <add key="list_language_translation" value="en=English,cn=简体中文,vn=Tiếng Việt,th=ไทย,id=Bhs Indonesia,kh=ខ្មែរ,kr=한국어,jp=日本語" />
    </W88>
    <W88_Iovation>
      <add key="CheckTransactionUrl" value="https://ci-snare.iovation.com/api/CheckTransaction" />
      <add key="GetEvidenceUrl" value="https://ci-snare.iovation.com/api/GetEvidenceDetails" />
      <add key="AccountPrefix" value="W88_" />
      <add key="SubscriberId" value="952002" />
      <add key="SubscriberAccount" value="OLTP" />
      <add key="SubscriberPassCode" value="2WTGH4X1" />
      <add key="ServiceDays" value="30" />
      <add key="ServiceEnabled" value="true" />
      <add key="Exceptions" value="office | office2" />
    </W88_Iovation>
  </OperatorGroupSettings>
  <appSettings>
    <add key="AuditLog" value="yes"/>
    <add key="AuditLogFolder" value="D:\WebServerLogs\MRewards" />
    <add key="PrivateKey" value="wg8TaLcIGXwT"/>
    <add key="EncryptionKey" value="M41n$YsT3mVone"/>
    <add key="Operator" value="W88" />
    <add key="ClearWebCache" value="true" />
    <add key="DisplayDateFormat" value="dd/MM/yyyy"/>
    <add key="DisplayDateTimeFormat" value="dd/MM/yyyy HH:mm:ss"/>
    <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss"/>
    <add key="DecimalFormat" value="###,###,###,##0.00"/>
    <add key="SMTPHOST" value="192.168.1.199" />
    <add key="ImagesDirectoryPath" value="../_static/Images/"/>
    <add key="AutoFreebets" value="1"/>
    <!--email-->
    <add key="sender_address" value="no-reply@w88.com" />
    <add key="sender_name" value="Rewards" />
    <add key="bcc_addresses" value="gb.celinetrapeze@gmail.com" />
    <add key="mail_port" value="25" />
    <add key="mail_host" value="retail.smtp.com" />
    <add key="mail_username" value="dev@w88.com" />
    <add key="mail_password" value="2NDbr0isFAT!" />
    <!--VIP-->
    <add key="vip_aging" value="12" />
    <add key="vipCategoryId" value="59" />
    <!--alternative smtp-->
    <add key="smtp_alternative" value="@qq.com|@mail.com|@126|@128|@yahoo.|@gmail." />
    <!--risk category to include in expiration-->
    <add key="riskId" value="VIPG|VIPP|VIPD"/>
    <add key="CN_domain" value="(.w88uat|.w88cn|.88vv.asia|.w88wcn|.w88vipcn|.w88top|localhost)"/>
    <add key="ProductWS" value="http://ws.aqzbo.com/productWS.asmx"/>
    <add key="W88_Operator" value="1"/>
    <add key="WebHandler" value="http://www.{0}.com/common/livechat.ashx?url={1}"/>
    <add key="LivePersonMobile" value="https://mrewards.{0}.com/LivePerson/Default.aspx"/>
    <add key="country_domain_cn" value=".w88vipcn.com,.w88asia.com,.w88cn.com,.w88chn.com,.w88wasia.com,.w88wcn.com,.w88wchn.com,.W88981.com,.W88982.com,.W88983.com,.W88984.com,.W88985.com,.W88986.com,.W88987.com,.W88989.com" />
    <add key="country_domain_vn" value=".w88vipvn.com,.w88ap.com,.w88vn.com,.w88vnm.com,.w88play.com,.w88wvn.com,.w88wap.com,.w88wvnm.com,.w88goal.com" />
    <add key="country_domain_th" value=".w88vipth.com,.w88top.com,.w88th.com,.w88tha.com,.w88ok.com,.w88club.com,.w88wth.com,.w88wtop.com,.w88wtha.com,.w88ka.com,.w88kub.com,.w88wow.com,.w88bkk.com" />
    <add key="country_domain_id" value=".w88vipid.com,.w88world.com,.w88id.com,.w88idn.com,.w88asyik.com,.w88bagus.com,.vv88id.com,.vv88world.com,.w88wid.com,.w88wworld.com,.w88widr.com,.w88yes.com,.w88d.com" />
    <add key="country_domain_my" value=".w88vipmy.com,.w88my.com,.w88mys.com,.w88boleh.com,.w88wmys.com,.w8890.com" />
    <add key="country_domain_kr" value=".w88vipkr.com,.w88kr.com,.w88hankook.com,.w88kor.com,.w88wkr.com,.w88wkor.com,.w88fin.com,.w88cup.com,.88vv.asia,.vv88vv.asia" />
    <add key="country_domain_kh" value=".w88vipkh.com" />
    <add key="country_domain_jp" value=".w88win.com,.w88nihon.com,.w88nippon.com,.w88jp.com,localhost" />
    <add key="AllowedUrl" value="http://mrewards.w88local.com" />
    <add key="httpsOnly" value="0"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Http, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="3145728" requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <!--dev-->
        <!--<network host="192.168.1.199" port="25"/>-->
        <!--uat-->
        <network host="192.168.1.191" port="25" />
        <!--staging-->
        <!--<network host="192.168.1.131" port="25"/>-->
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRewardsServices" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" />
        <binding name="memberWSSoap" />
        <binding name="BasicHttpBinding_IMember" />
        <binding name="ServiceSoap" />
        <binding name="BasicHttpBinding_IFundTransfer" />
        <binding name="BasicHttpBinding_IMS1" />
        <binding name="BasicHttpBinding_IDeposit" />
        <binding name="BasicHttpBinding_IWithdrawal" />
        <binding name="dummyWSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://rewardsservices.aqzbouat.com/RewardsServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRewardsServices" contract="RewardsServices.IRewardsServices" name="BasicHttpBinding_IRewardsServices" />
      <endpoint address="http://paymentservices.aqzbouat.com/Member.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMember" contract="svcPayMember.IMember" name="BasicHttpBinding_IMember" />
      <endpoint address="http://locationservices.aqzbouat.com/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="wsIP2Loc.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://paymentservices.aqzbouat.com/MS1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMS1" contract="svcPayMS1.IMS1" name="BasicHttpBinding_IMS1" />
      <endpoint address="http://paymentservices.aqzbouat.com/Deposit.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeposit" contract="svcPayDeposit.IDeposit" name="BasicHttpBinding_IDeposit" />
      <endpoint address="http://paymentservices.aqzbouat.com/Withdrawal.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWithdrawal" contract="svcPayWithdrawal.IWithdrawal" name="BasicHttpBinding_IWithdrawal" />
      <endpoint address="http://ws.aqzbouat.com/dummyWS.asmx" binding="basicHttpBinding" bindingConfiguration="dummyWSSoap" contract="wsDummy.dummyWSSoap" name="dummyWSSoap" />
      <endpoint address="http://ws.aqzbouat.com/memberws.asmx" binding="basicHttpBinding" bindingConfiguration="memberWSSoap" contract="wsMemberMS1.memberWSSoap" name="memberWSSoap" />
      <endpoint address="http://paymentservices.aqzbouat.com/FundTransfer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFundTransfer" contract="svcFundTransfer.IFundTransfer" name="BasicHttpBinding_IFundTransfer" />
    </client>
  </system.serviceModel>
  <location inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="UrlRoutingHandler" />
        <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
    </system.webServer>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>