.page-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #252525;
}

    .page-content > div > div {
        /*padding: 0 1em;*/
    }

    .page-content > div > form input, textarea {
        font-size: .8em;
    }

    .page-content > div > form > div {
        /*padding: 0 1em;*/
    }

.div-profile-avatar {
    /*width:100%;
    table-layout:fixed;
    display:table;*/
    background-color: #1f1f1f;
    padding: .6em;
}

    .div-profile-avatar > div {
        vertical-align: top;
        /*width:100%;*/
        display: table-cell;
        padding: 0 20px 0 0;
        font-weight: 700;
    }

        .div-profile-avatar > div:first-child {
        }

            .div-profile-avatar > div:first-child > img {
                max-height: 90px;
                display:block;
            }

        .div-profile-avatar > div:last-child {
            text-align: right;
            width: 100%;
            padding-right: 0;
        }

            .div-profile-avatar > div:last-child > div {
                padding-bottom: 0;
            }

                .div-profile-avatar > div:last-child > div > a > img {
                    max-height: 42px;
                }

        .div-profile-avatar > div > div {
            padding-bottom: .5em;
            white-space: nowrap;
            font-size: .75em;
        }

        .div-profile-avatar > div:nth-child(2) > div:first-child {
        }

.div-profile-personal {
    background-color: #252525;
    /*margin-bottom: 1em;*/
    font-size: .8em;
    padding: 0 1em;
}

    .div-profile-personal > div {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

        .div-profile-personal > div > div {
            display: table-cell;
            padding: .5em 0;
            border-bottom: 1px solid #1f1f1f;
        }

            .div-profile-personal > div > div:first-child {
                text-align: left;
                /*padding-left:1em;*/
                padding-right: 2em;
            }

            .div-profile-personal > div > div:last-child {
                font-weight: 700;
            }

.div-profile-preferred {
    /*background-color: #252525;
    display: table;
    table-layout: fixed;
    width: 100%;*/
}

.div-profile-preferred {
    background-color: #252525;
    padding: .8em .8em 0;
}

    .div-profile-preferred > div > div > label {
        font-size: .8em;
    }

    .div-profile-preferred > div:first-child {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

        .div-profile-preferred > div:first-child > div {
            display: table-cell;
            padding-bottom:.5em;
        }

    .div-profile-preferred > div:nth-child(n+2) {
        display: inline-block;
    }

    .div-profile-preferred > div:nth-child(2) {
        width: 49%;
    }

    .div-profile-preferred > div:nth-child(3) {
        float: right;
        width: 48%;
    }

    .div-profile-preferred .ui-flipswitch {
        background-color: #56A5EC;
        color: #000;
        text-shadow: none;
        width: 7.875em;
        margin:0;
    }

        .div-profile-preferred .ui-flipswitch .ui-btn.ui-flipswitch-on {
            text-indent: -4.5em;
        }

        .div-profile-preferred .ui-flipswitch .ui-flipswitch-off {
            text-indent: 1em;
        }

        .div-profile-preferred .ui-flipswitch.ui-flipswitch-active {
            padding-left: 6em;
            width: 1.875em;
            background-color: #F778A1;
            color: #000;
}

.div-profile-address {
    background-color: #252525;
    padding: 1em .8em 0;
}

    .div-profile-address > div > div > label {
        font-size: .8em;
    }

    .div-profile-address > div:first-child {
        /*padding-top: 1em;*/
    }

    .div-profile-address > div:nth-child(n+2) {
        display: inline-block;
    }

    .div-profile-address > div:nth-child(2) {
        width: 49%;
    }

    .div-profile-address > div:nth-child(3) {
        float: right;
        width: 48%;
    }

    .div-profile-address textarea {
        resize:none;
    }

.div-profile-security {
    background-color: #252525;
    padding: 1em .8em 0;
}

    .div-profile-security > div > div > label {
        font-size: .8em;
    }

    .div-profile-security > div:first-child {
        /*padding-top: 1em;*/
    }

.div-profile-submit {
    background-color: #252525;
    padding: .8em .8em;
}
    .div-profile-submit > div {
        padding-bottom: .8em;
    }
    .div-profile-submit > div > div > label {
        font-size: .8em;
    }
