body {
	margin:0;
	padding:0;
	font-family: Tahoma, Arial, Helvetica, SimSun, sans-serif; font-size:12px; color:#808080;
	background:url(../images/header_bg.gif) repeat-x #1f1f1f;
}
a img {
	border: none;
}
a:link, a:visited {
	color: #2a8fbd; 
	text-decoration: none;
}
a:hover, a:active {
	color: #38c0ff; 
	text-decoration: none;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
#container {
	width: 760px;
	margin: 0 auto;
}
.header {
	height:85px;
	background:url(../images/logo.gif) no-repeat left center;
}
.navBar {
	height:30px;
}
.content {
	width:550px;
	float:left;
	margin-top:10px;
	margin-left:10px;
}
.contentTitle {
	height:25px;
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	color:#2a8fbd;
	background:#333333;
	padding-left:10px;
	/*border-radius:2px 2px 0px 0px;*/
}
.contentArticle {
	border:1px solid #1f1f1f;
	padding:0px 10px 10px;
	background:#252525;
	line-height: 1.8;
}
.subTitle {
	font-weight:bold;
	color:#2a8fbd;
}
.sectionLink {
	color:#2a8fbd;
}
.section-header {
	color:#bfbfbf;
	cursor:pointer;
	font-weight:bold;
	background:#333333;
	padding-left:5px;
	line-height:25px;
	margin-top:10px;
	margin-bottom:10px;
	/*border-radius: 2px;*/
}
.section-header:hover {
	background:#1c6080;
}
.section-selected {
	background:#1c6080;
}
.section-unselected {
	background:#333333;
}
.section-content { 
	padding:0px 5px;
}
.sectionLine {
	border-bottom:#333333 solid 1px;}


/* Table row color */
.rowHeader {
	background:#404040;
	font-weight:bold;
}
.row1 {
	background:#333333;
}
.row2 {
	background:#333333;
}
.delete {
	color:#F00;
}
.add {
	color:#00F;
}

/* For Sports rules sections padding */
.title2		{}
.title3		{padding-left:25px; }
.title4		{padding-left:55px; }
.title5		{padding-left:105px; }
.title6		{padding-left:165px; }

/* T&C list */
.TClist {
	list-style:none;
	margin:0;
	padding:0;
}
.TClist li span {
	display: block;
	float: left;
}
.TClist li {
	clear:both;
}
.TClist li p {
	float: left;
	margin: 0px 0px 10px 10px;
	width: 480px;
}
.TClist li ol {
	list-style:none;
}
.TClist li ol li p {
	width: 430px;
}
.TClist li ol li ol li p {
	width: 400px;
}

/* Back to top */
#gotop{position: fixed; right:10px; bottom:10px; display:none; _position: absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,20)||0)-(parseInt(this.currentStyle.marginBottom,20)||0)));}	