.page-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.div-register-dob {
    /*display: table-row;*/
    display: table;
    width: 100%;
}

    .div-register-dob > div {
        display: table-cell;
    }

        .div-register-dob > div:first-child {
            width: 40%;
            vertical-align: middle;
            display: table;
            float: left;
            text-align:right;
        }

            .div-register-dob > div:first-child > label {
                color: #fff;
                padding: 0 5px;
                height: 43px;
                vertical-align: middle;
                display: table-cell;
                width: 100%;
                white-space: nowrap;
                /*font-weight:700;*/
                font-size:1em;
            }

        .div-register-dob > div:last-child {
            table-layout: fixed;
            display: table;
            /*width: 73%;*/
             width: 60%;
            float: right;
        }

            .div-register-dob > div:last-child .ui-select {
                margin: 0;
            }

            .div-register-dob > div:last-child > div {
                display: table-cell;
            }

                .div-register-dob > div:last-child > div:first-child {
                    padding-right: .5em;
                }

                .div-register-dob > div:last-child > div:nth-child(2) {
                    padding-right: .5em;
                }

                .div-register-dob > div:last-child > div:nth-child(3) {
                }

/*.chk-disclaimer {
    border:1px solid red;
}


.div-country {
    padding-top:1em;
}

.div-language {
    padding-top:1em;
}

.div-name {
    padding-top:1em;
}*/

.div-register-websiteUrl {
    /*display: table-row;*/
    display: table;
    width: 100%;
}

    .div-register-websiteUrl > div {
        display: table-cell;
    }

        .div-register-websiteUrl > div:first-child {
            width: 40%;
            vertical-align: middle;
            display: table;
            float: left;
            text-align:right;
        }

            .div-register-websiteUrl > div:first-child > label {
                color: #fff;
                padding: 0 5px;
                height: 43px;
                vertical-align: middle;
                display: table-cell;
                width: 100%;
                white-space: nowrap;
                /*font-weight:700;*/
                font-size:1em;
            }

        .div-register-websiteUrl > div:last-child {
            table-layout: fixed;
            display: table;
            /*width: 73%;*/
            width: 60%;
            float: right;
        }

            .div-register-websiteUrl > div:last-child .ui-select {
                margin: 0;
            }

            .div-register-websiteUrl > div:last-child > div {
                display: table-cell;
            }

                .div-register-websiteUrl > div:last-child > div:first-child {
                    padding-right: .5em;
                }

                .div-register-websiteUrl > div:last-child > div:nth-child(2) {
                    padding-right: .5em;
                }

                .div-register-websiteUrl > div:last-child > div:nth-child(3) {
                }




.div-register-normal {
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .div-register-normal > div {
        display: table-cell;
    }

        .div-register-normal > div:first-child {
            /*padding-right: 1em;*/
            padding: 0 5px;
            width:40%;
            text-align:right;
        }

                .div-register-normal > div:last-child > div:nth-child(2) {
                   
                }

        .div-register-normal > div:last-child {
            /*padding-right: 1em;*/
            /*padding: 0 10px;*/
        }

.div-register-normal2 {
    /*display: table-row;*/
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .div-register-normal2 > div {
        display: table-cell;
    }

        .div-register-normal2 > div:first-child {
            width: 40%;
            vertical-align: middle;
            display: table;
            float: left;
            text-align:right;
        }

            .div-register-normal2 > div:first-child > label {
                color: #fff;
                padding: 0 5px;
                height: 43px;
                vertical-align: middle;
                display: table-cell;
                width: 100%;
                white-space: nowrap;
                /*font-weight:700;*/
                font-size:1em;
            }

        .div-register-normal2 > div:last-child {
            table-layout: fixed;
            display: table;
            /*width: 73%;*/
             width: 60%;
            float: right;
        }

            .div-register-normal2 > div:last-child .ui-select {
                margin: 0;
            }

            .div-register-normal2 > div:last-child > div {
                display: table-cell;
            }

                .div-register-normal2 > div:last-child > div:first-child {
                    padding-right: .5em;
                }

                .div-register-normal2 > div:last-child > div:nth-child(2) {
                    /*padding-right: .5em;*/
                }

                /*.div-register-normal2 > div:last-child > div:nth-child(3) {
                }*/

.div-register-normal3 {
    /*display: table-row;*/
    display: table;
    width: 100%;
}

    .div-register-normal3 > div {
        display: table-cell;
    }

        .div-register-normal3 > div:first-child {
            width: 40%;
            vertical-align: middle;
            display: table;
            float: left;
            text-align:right;
        }

            .div-register-normal3 > div:first-child > label {
                color: #fff;
                padding: 0 5px;
                height: 43px;
                vertical-align: middle;
                display: table-cell;
                width: 100%;
                white-space: nowrap;
                /*font-weight:700;*/
                font-size:1em;
            }

        .div-register-normal3 > div:last-child {
            table-layout: fixed;
            display: table;
            /*width: 73%;*/
            width: 60%;
            float: right;
        }

            .div-register-normal3 > div:last-child .ui-select {
                margin: 0;
            }

            .div-register-normal3 > div:last-child > div {
                display: table-cell;
                width: 5px;
            }

                .div-register-normal3 > div:last-child > div:first-child {
                    padding-right: .5em;
                }

                .div-register-normal3 > div:last-child > div:nth-child(2) {
                    /*padding-right: .5em;*/
                }

                /*.div-register-normal3 > div:last-child > div:nth-child(3) {
                }*/

.div-account-subAff {
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .div-account-subAff > div {
        display: table-cell;
       padding: 0 5px;
    }

        .div-account-subAff > div:first-child {
            /*padding-right: 1em;*/
            /*padding: 0 5px;*/
            width:20%;
            text-align:right;
        }

                .div-account-subAff > div:last-child > div:nth-child(2) {
                   
                }

        .div-account-subAff > div:last-child {
            /*padding-right: 1em;*/
            /*padding: 0 10px;*/
        }

.div-account-message {
    display: table;
    table-layout: fixed;
    width: 100%;
}

    .div-account-message > div {
        display: table-cell;
       padding: 0 5px;
    }

        .div-account-message > div:first-child {
            /*padding-right: 1em;*/
            /*padding: 0 5px;*/
            width:20%;
            text-align:right;
            vertical-align: top;
        }

                /*.div-account-message > div:last-child > div:nth-child(2) {
                   
                }*/

        .div-account-message > div:last-child {
            /*padding-right: 1em;*/
            /*padding: 0 10px;*/
        }