.ui-table-reflow.ui-responsive {
    display: table;
}

    .ui-table-reflow.ui-responsive thead th {
        border-bottom: 1px solid #a6a6a6;
    }

    .ui-table-reflow.ui-responsive tbody tr {
        border-bottom: 1px solid #555 !important;
        font-size: 0.9em;
        margin-bottom: 10px;
    }

    .ui-table-reflow.ui-responsive tbody td:first-child {
        margin-top: 10px;
    }

    .ui-table-reflow.ui-responsive tbody td:last-child {
        margin-bottom: 10px;
    }

    .ui-table-reflow.ui-responsive tbody td {
        vertical-align:middle;
    }


.ui-table-cell-label {
    color: #fff;
}

.ui-btn {
    margin:0;
}