[class^="sprite_"], [class*=" sprite_"] {
    background-image: url("images/sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align: middle;
	padding: 0 1px;
}

.sprite_announcement{ background-position: 0 0; width: 26px; height: 22px; } 
.sprite_announcement_on{ background-position: -36px 0; width: 26px; height: 22px; } 
.sprite_blue_arrow{ background-position: -72px 0; width: 5px; height: 14px; } 
.sprite_content_divider{ background-position: -87px 0; width: 3px; height: 16px; } 
.sprite_correct{ background-position: -100px 0; width: 16px; height: 16px; } 
.sprite_dark_blue_arrow{ background-position: -126px 0; width: 5px; height: 14px; } 
.sprite_down{ background-position: -141px 0; width: 11px; height: 8px; } 
.sprite_error{ background-position: -162px 0; width: 16px; height: 16px; } 
.sprite_grey_arrow{ background-position: -188px 0; width: 5px; height: 14px; } 
.sprite_header_divider{ background-position: -203px 0; width: 469px; height: 16px; } 
.sprite_light_blue_arrow{ background-position: -682px 0; width: 5px; height: 14px; } 
.sprite_live_help{ background-position: -697px 0; width: 26px; height: 22px; } 
.sprite_logo{ background-position: -733px 0; width: 162px; height: 52px; } 
.sprite_private_message{ background-position: -905px 0; width: 26px; height: 22px; } 
.sprite_private_message_on{ background-position: -941px 0; width: 26px; height: 22px; } 
.sprite_timer_divider{ background-position: -977px 0; width: 1px; height: 17px; } 
.sprite_up{ background-position: -988px 0; width: 11px; height: 8px; } 
.sprite_white_arrow{ background-position: -1009px 0; width: 5px; height: 14px; } 

.sprite_blue_arrow, .sprite_dark_blue_arrow, .sprite_grey_arrow, .sprite_light_blue_arrow,.sprite_white_arrow {
	margin-left: 2px;
	background-position-y: -1px;
	*background-position-y: 2px;
}

.sprite_header_divider{ background-position: -203px -5px; width: 469px; height: 11px; } 

.sprite_content_divider{ margin: 0 2px;} 
.sprite_content_divider.right_no_padding{ margin: 0;} 

[class^="c_"], [class*=" c_"] { background: url('/_static/_css/img/cd.png')  no-repeat  top left;
    display: inline-block;
	vertical-align: middle;
	width: 17px; height: 17px; 
}
.c_1 { background-position: 0px 0px; }
.c_2 { background-position: -18px 0px; }
.c_3 { background-position: -36px 0px; }
.c_4 { background-position: -54px 0px; }
.c_5 { background-position: -72px 0px;}
.c_6 { background-position: -90px 0px; }
.c_7 { background-position: -108px 0px; }
.c_8 { background-position: -126px 0px; }
.c_9 { background-position: 0px -18px; }
.c_10 { background-position: -18px -18px; }
.c_11 { background-position: -36px -18px; }
.c_12 { background-position: -54px -18px; }
.c_13 { background-position: -72px -18px; }
.c_14 { background-position: -90px -18px; }
.c_15 { background-position: -108px -18px; }
.c_16 { background-position: -126px -18px; }
.c_17 { background-position: 0px -36px; }
.c_18 { background-position: -18px -36px; }
.c_19 { background-position: -36px -36px; }
.c_20 { background-position: -54px -36px; }
.c_21 { background-position: -72px -36px; }
.c_22 { background-position: -90px -36px; }
.c_23 { background-position: -108px -36px; }
.c_24 { background-position: -126px -36px; }
.c_25 { background-position: 0px -54px; }
.c_26 { background-position: -18px -54px; }
.c_27 { background-position: -36px -54px; }
.c_28 { background-position: -54px -54px; }
.c_29 { background-position: -72px -54px; }
.c_30 { background-position: -90px -54px; }
.c_31 { background-position: -108px -54px; }
.c_32 { background-position: -126px -54px; }



[class^="flag_"], [class*=" flag_"] {
    background-image: url("/_static/_css/img/flag.png");
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align: middle;
	padding: 0 1px;
}
.flag_en-us{ background-position: 0 0; width: 16px; height: 16px; } 
.flag_id-id{ background-position: -66px 0; width: 16px; height: 16px; } 
.flag_ja-jp{ background-position: -132px 0; width: 16px; height: 16px; } 
.flag_km-kh{ background-position: -198px 0; width: 16px; height: 16px; } 
.flag_ko-kr{ background-position: -264px 0; width: 16px; height: 16px; } 
.flag_th-th{ background-position: -330px 0; width: 16px; height: 16px; } 
.flag_vi-vn{ background-position: -396px 0; width: 16px; height: 16px; } 
.flag_zh-cn{ background-position: -462px 0; width: 16px; height: 16px; } 



/*Affiliate CSS*/

#affiliate-logo {
    background-image:url('img/logo_affiliate_EN.png');
    display:block;width: 375px; height: 49px;
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align: middle;
	padding: 0 1px;
    margin:20px 0;
}
#affiliate-logo_en-us {
    background-image:url('img/logo_affiliate_EN.png');
    display:block;width: 378px; height: 47px;
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align: middle;
	padding: 0 1px;
    margin:20px 0;
}
#affiliate-logo_zh-cn {
    background-image:url('img/logo_affiliate_CN.png');
    display:block;width: 378px; height: 47px;
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align: middle;
	padding: 0 1px;
    margin:20px 0;
}
#affiliate-logo_id-id {
    background-image:url('img/logo_affiliate_ID.png');
    display:block;width: 378px; height: 47px;
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align: middle;
	padding: 0 1px;
    margin:20px 0;
}
#affiliate-logo_vi-vn {
    background-image:url('img/logo_affiliate_VN.png');
    display:block;width: 378px; height: 47px;
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align: middle;
	padding: 0 1px;
    margin:20px 0;
}
#affiliate-logo_km-kh {
    background-image:url('img/logo_affiliate_KH.png');
    display:block;width: 378px; height: 47px;
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align: middle;
	padding: 0 1px;
    margin:20px 0;
}
#affiliate-logo_th-th {
    background-image:url('img/logo_affiliate_TH.png');
    display:block;width: 378px; height: 47px;
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align: middle;
	padding: 0 1px;
    margin:20px 0;
}

#affiliate-logo_ko-kr {
    background-image:url('img/logo_affiliate_KR.png');
    display:block;width: 378px; height: 47px;
    background-repeat: no-repeat;
    display: inline-block;
	vertical-align: middle;
	padding: 0 1px;
    margin:20px 0;
}
