@font-face {
    font-family: 'dinpro';
    src: url('/_static/fonts/din-pro-reg/din-regular-webfont.eot');
    src: url('/_static/fonts/din-pro-reg/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_static/fonts/din-pro-reg/din-regular-webfont.woff') format('woff'),
         url('/_static/fonts/din-pro-reg/din-regular-webfont.ttf') format('truetype'),
         url('/_static/fonts/din-pro-reg/din-regular-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body{
    height: 100%;
}

body{
    font-family: sans-serif,"Helvetica Neue",Helvetica,Arial;
	line-height: 1.6;
	color: #aaa;
    background: #070707 url('../../Images/errors/error-bg.jpg') center center no-repeat;
}

a{
	color: #aaa;
	text-decoration: none;
	&:focus,
	&:hover{
		color: lighten(#aaa, 10%);
		text-decoration: none;
	}
}

p{
	font-size: 0.875rem;
	margin-top: 0;
	margin-bottom: 10px;
}

img{
	max-width: 100%;
}

header{
	text-align: center;
	width: 100%;
	padding-top: 15px;
	top: 0;
	left: 0;
	position: absolute;
}

footer{
	text-align: center;
	width: 100%;
	padding-bottom: 15px;
	bottom: 0;
	left: 0;
	position: absolute;
	p{
		color: #999;
		margin-bottom: 0;
	}
}
section{
	max-width: 72%;
	margin: 0 auto;
    height: 100%;
}


.error-container{
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
	.error-content {
		display: table-cell;
		vertical-align: middle;
		h1{
    		font-family: 'dinpro';
    		font-weight: normal;
			font-size: 6.750rem;
			color: #e8e7e7;
			line-height: 1;
			margin-top: 0;
			margin-bottom: 5px;
			letter-spacing: -6px;
		}
		h3{
    		font-family: 'dinpro';
    		font-weight: normal;
    		font-size: 1.188rem;
			color: #e8e7e7;
			line-height: 1;
			margin-top: 0;
			margin-bottom: 16px;
		}
		p{
			color: #aaa;
		    max-width: 310px;
		    margin: 0 auto 16px;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				text-align: center;
				margin: 0 15px;
				padding: 0;
				display: inline-block;
				img{
					margin: 0 auto;
					display: block;
				}
				a{
    				font-family: 'dinpro';
					font-size: 0.688rem;
					text-transform: uppercase;
					&:focus,
					&:hover{
						color: darken(#999, 10%);
						> img{
							opacity: 0.75;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 320px) and (max-height: 480px){
	header img{
		width: 140px;
	}
	footer img{
		width: 140px;
	}
	.error-container .error-content{
		h1 {
	    	font-size: 5.500rem;
		}
		h3 {
	    	font-size: 1.063rem;
		}

	}
}

@media (min-width: 768px) {
	header {
	    padding-top: 30px;
	}
	footer {
	    padding-bottom: 30px;
	}
	p{
		margin-bottom: 16px;
	}
	.error-container .error-content{
		p {
	    margin: 0 auto 30px;
		}
		h1 {
	    	font-size: 9.250rem;
		}
		h3 {
		    font-size: 1.313rem;
			margin-bottom: 30px;
		}
		ul li {
		    margin: 0 30px;
		}
	}

}