#divPromoHeader {
    background: #1C607F;
    padding: .5em;
    color: #f1f1f1;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.div-promotions-wrapper > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.div-promo-row {
    
    /*new design*/
    width: 100%;
    background-color: #1f1f1f;
    display: table;
    /*background-color: #f1f1f1;*/
}

    .div-promo-row > a {
        text-decoration: none;
    }

        .div-promo-row > a > div {
            /*new design*/
            /*display: table-cell;*/
            /*vertical-align: middle;*/
        }

            .div-promo-row > a > div:last-child {
                padding-left: .5em;
                
                background-repeat:no-repeat;
                background-position:97% 50%;
                background-size:1em;
                /*new design*/
                /*width: 100%;*/
                /*border-bottom: 1px dashed #ccc;*/
                /*background-image:url('/_Static/Images/arrow-down.png');*/
            }

                .div-promo-row > a > div:last-child > div {
                     /*new design*/
                    /*white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;*/
                }

.div-promo-img > img {
    display: block;

    /*new design*/
    width: 100%;
    height: 100px;
    max-width: 100%;
}

.div-promo-row-alt {
    /*new design*/

    /*background-color: #ddd;*/
}


.div-promo-second {
    display: table;
    width:100%;
}

.div-promo-header {
    
    text-decoration: none;
    font-size: .9em;

    /*new design*/
    color: #a9a9a9;
    padding-top: 20px;
    vertical-align: middle;
    width:auto;
    height: auto;
    overflow:hidden;
}

.div-promo-header:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

/*.div-promo-header > a {
    display: table;
    width:100%;
}*/

/*new design*/
.div-promo-join {
    float: right;
}

.div-promo-desc {
    color: #000;
    font-size: .75em;
    /*new design*/
    display: none;
    
}

.div-promo-content {
    color: #808080;
    font-size: .8em;
    padding-bottom: 1em;
    display:none;

    /*New Design*/
    border-top: 1px solid #333;
    /*border: 1px solid #333;*/
}

    /*New Design*/
.div-promo-content .subtitle {
    margin-top: 5px;
}

    .div-promo-content > ol {
        padding: 0;
        margin: 0;
        margin-left: 2.5em;
        padding-right: 1em;
    }

    .div-promo-content .ui-btn {
        margin-top: 1em;
    }

.div-promo-content > p {
    padding-left:.5em;
}

.rowHeader {
    background: #404040;
    font-weight: bold;
    font-size: .85em;
}

.row1 {
    background: #333333;
    font-size: .85em;
}

.row2 {
    background: #333333;
}

.div-claim-promo {
    border: 1px solid #333;
    padding: 10px;
    margin: .5em;
}

    .div-claim-promo textarea {
        resize: none;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.div-claim-promo-header {
    font: normal 1.3em Tahoma, Malgun Gothic, Dotum, sans-serif;
}

.div-claim-promo-data > div {
    table-layout: fixed;
    display: table;
    width: 100%;    
}

    .div-claim-promo-data > div > a {
        display: block;
    }

.div-promo-radio {
    text-align:left;
    display:inline-block;
}

    .div-promo-radio > input {
        width:1em;
    }
    .div-promo-radio > label {
        display: inline-block; width: 95%; text-align: left;
    }
.div-promo-radio > input,label {
    /*display:inline-block;*/
}

.p-tnc,.p-tnc + ol{
    display:none;
}