.ui-body-a { padding: 0; margin: 0; }
.ui-collapsible-content { border: none; }

.bkg-game {
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    height: 88px;
    width: 130px;
    margin: 0;
}

.div-links {
    display: table;
    height: 100%;
    left: 93px;
    position: relative;
}

.div-links a { position: absolute; display: table-row; }
.div-links a:last-child { bottom: -5px; }

/*#region ScrollView*/

.div-product {
    display: block;
    position: relative;
    z-index: 1;
    height: 88px;
    width: 100%;
    background: #ccc;
    overflow: hidden;
    -ms-touch-action: none;
    background-color: transparent;
    margin-left: 0;
    margin-right: 1px;
    margin-bottom: 0;
}

    .div-product > div:first-child {
        position: absolute;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        /*width: 2400px;*/
        /*height: 160px;*/
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
    }

        .div-product > div:first-child ul {
            list-style: none;
            width: 100%;
            padding: 0;
            margin: 0;
            white-space: nowrap;
        }

        .div-product > div:first-child li {
            display: inline-block;
            background-color: transparent;
            font-size: 14px;
            overflow: hidden;
            text-align: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

@media all and ( min-width: 600px ) { .bkg-game { width: 150px; } }
