.page-content {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#divDepositDateTime > div:nth-child(1) {
    width: 60%;
}
#divDepositDateTime > div:nth-child(1) span{
}

#divDepositDateTime > div:nth-child(2) {
    width: 20%;
}

#divDepositDateTime > div:nth-child(3) {
    width: 20%;
}

.page-content div:first-child ul li {
    border-right: 1px solid #1f1f1f;
}