//
// Contact
// -------------------------------

.contact-us {
    &, ul {
        @include bg-gradient;
        margin: auto !important;
        overflow: hidden;
    }
    .item {
        position: relative;
        display: block;
        > a {
            display: block;
            padding-left: 80px;
            background-color: transparent !important;
            &:hover, &:focus {
                color: $white !important;
                background-color: $primary-color !important;
                .icon {color: $white}
            }
        }
        &:after {
            content: '';
            position: absolute;
            left: 80px; bottom: 0;
            width: 100%;
            border-bottom: 1px solid $border-color;
        }
    }
}
