//
// Language
// -------------------------------

#language {
    background: url($base-background-image) no-repeat center bottom darken($base-background-color,5.5%); // #111
    @include background-size(cover);
}
#language { &,
    .ui-page-active,
    .ui-content,
    .ui-panel-wrapper {
        // background-color: darken($base-background-color,5.5%); // #111
        background-color: transparent;
    }
    #header {
        background-color: darken($base-background-color,5.5%); // #111
    }
}

.lang-list{
    width: 75%;
    max-width: $grid-responsive-sm-break;
    text-align: center;
    margin: $content-padding auto;
    padding: 0;
    list-style: none;
    display: block;
    li{
        width: 50%;
        float: left;
        display:block;
    }
    a {
        color: $base-color;
        width: 100px;
        height: 60px;
        display: block;
        position: relative;
        margin: $content-padding auto;
        margin-bottom: $content-padding*2+5;
        background-color: $base-background-color;
        @include box-shadow(inset 0 0 0 1px $border-input-color);
        @include background-size(cover);
        &:after {
            font-size: 11px;
            width: 100%;
            position: absolute;
            left: 0; bottom: -$content-padding*2;
        }
    }
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

#diven-us {background: url('/_Static/Images/flags/en.jpg') no-repeat center; background-size: contain;}
#diven-my {background: url('/_Static/Images/flags/my.jpg') no-repeat center; background-size: contain;}
#divzh-cn {background: url('/_Static/Images/flags/cn.jpg') no-repeat center; background-size: contain;}
#divzh-my {background: url('/_Static/Images/flags/my.jpg') no-repeat center; background-size: contain;}
#divid-id {background: url('/_Static/Images/flags/id.jpg') no-repeat center; background-size: contain;}
#divja-jp {background: url('/_Static/Images/flags/jp.jpg') no-repeat center; background-size: contain;}
#divkm-kh {background: url('/_Static/Images/flags/kh.jpg') no-repeat center; background-size: contain;}
#divko-kr {background: url('/_Static/Images/flags/kr.jpg') no-repeat center; background-size: contain;}
#divth-th {background: url('/_Static/Images/flags/th.jpg') no-repeat center; background-size: contain;}
#divvi-vn {background: url('/_Static/Images/flags/vn.jpg') no-repeat center; background-size: contain;}

#diven-us:after {content: 'English'}
#diven-my:after {content: 'English'}
#divzh-cn:after {content: '简体中文'}
#divzh-my:after {content: '简体中文'}
#divvi-vn:after {content: 'Tiếng Việt'}
#divth-th:after {content: 'ไทย'}
#divkm-kh:after {content: 'ខ្មែរ'}
#divid-id:after {content: 'Bhs Indonesia'}
#divko-kr:after {content: '한국어'}
#divja-jp:after {content: '日本語'}