//
// Login / Register
// -------------------------------
#login,
#register {
    .ui-content {
        @include bg-gradient();
    }
    .item-text-wrap {
        font-size: 12px;
    }
}

// -- Login
#login {
    padding: 0;
    .list {
        padding-top: 1.5em;
    }
    #header {
        .ui-btn-right {display: none}
    }
    .ui-dialog-contain {
        width: 100%;
        margin: auto;
        top: 0;
        @include box-shadow(none);
    }

    .ui-field-contain {
        border: none;
    }
}

#myDialogText {
    font-family: 'Tahoma';
    -webkit-font-smoothing: antialiased;
    font-size: medium;
    font-weight: normal;
    text-shadow: none;
    a {
        color: #2A8FBD;
        &:hover {
            color: #2A8FBD;
        }
    }
}

@media screen and (min-width: 100%) {
    .center-me {
      top:50%;
      left: 50%;
      transform: translate3d(-50%,-50%, 0);
      position: fixed;
    }
}


.free-rounds{
    position: relative;
    margin: -10px -10px -15px;
    img{
        width: 100%;
        max-width: 600px;
    }
    .free-round-btns{
        padding-bottom: 2%;
        text-align: center;
        width: 100%;
        left: 0;
        bottom: 0;
        position: absolute;
        .ui-btn{
            font-size: 1.1rem !important;
            min-width: 100px;
            padding-top: 0.15em;
            padding-bottom: 0.15em;
            text-transform: uppercase;
            margin-left: 3px;
            margin-right: 3px;
            display: inline-block;
        }
    }
}

@media screen and (min-width: 375px) {
    .free-rounds{
        .free-round-btns{
            .ui-btn{
                font-size: 1.2rem !important;
                padding-top: 0.25em;
                padding-bottom: 0.25em;
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .free-rounds{
        .free-round-btns{
            .ui-btn{
                font-size: 1.3rem !important;
                padding-top: 0.35em;
                padding-bottom: 0.35em;
            }
        }
    }
}


@media screen and (min-width: 667px) {
    .free-rounds{
        .free-round-btns{
            .ui-btn{
                font-size: 1.4rem !important;
                min-width: 140px;
                padding-top: 0.75em;
                padding-bottom: 0.75em;
            }
        }
    }
}
