// -- Icomoon
@font-face {
    font-family: 'icomoon';
    src:url('#{$icomoon-font-path}/icomoon.eot');
    src:url('#{$icomoon-font-path}/icomoon.eot?#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'),
        url('#{$icomoon-font-path}/icomoon.woff') format('woff'),
        url('#{$icomoon-font-path}/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'dinpro';
	src: url("../../fonts/din-regular-webfont.eot");
	src: url("../../fonts/din-regular-webfont.eot?#iefix") format("embedded-opentype"),
	url("../../fonts/din-regular-webfont.woff") format("woff"),
	url("../../fonts/din-regular-webfont.ttf") format("truetype"),
	url("../../fonts/din-regular-webfont.svg#dinprobold") format("svg");
	font-weight: normal;
	font-style: normal; 
	font-stretch: normal;
}

@import "../../fonts/icomoon/style.css";