$icomoon-font-path: '../../fonts/icomoon/fonts' !default;

$brand-primary: #2a8fbd;
$brand-alt: #dab867;
$white: #ffffff;
$text-color: #888;
$text-color-light: #999;
$error-header-color: #e8e7e7;
$background: #070707 url('../../Images/errors/error-bg.jpg') center center no-repeat;
$enhancement-background: #fff;
$enhancement-background-all: #fff;
$enhancement-icon: #bbb;
$link-icon: #888;

$enhancement-border-color: rgba($text-color, 0.4);