$icomoon-font-path: '../../fonts/icomoon/fonts' !default;

$brand-primary: #2a8fbd;
$brand-alt: #dab867;
$white: #ffffff;
$text-color: #aaa;
$text-color-light: #999;
$error-header-color: #e8e7e7;
$background: #070707 url('../../Images/errors/error-bg.jpg') center center no-repeat;
$enhancement-background: #070707 url('../../Images/errors/enhancement-bg.jpg') center center no-repeat;
$enhancement-background-all: #070707 url('../../Images/errors/enhancement-bg.jpg') center -100px  no-repeat;
$enhancement-icon: #ffffff;
$link-icon: #ccc;

$enhancement-border-color: rgba($white, 0.1);