<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="OperatorGroupSettings">
      <section name="W88" type="System.Configuration.NameValueSectionHandler"/>
      <section name="W88_Iovation" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <sectionGroup name="WalletGroupSettings">
      <section name="main" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="asports" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="lottery" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="casino" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="playtech" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="binary" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="poker" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
      <section name="sbtech" type="customConfig.WalletVariables" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
  </configSections>
  <WalletGroupSettings>
    <main walletId="0" orderBy="1" />
    <lottery walletId="1" orderBy="3" />
    <asports walletId="2" orderBy="2" />
    <casino walletId="3" orderBy="4" />
    <playtech walletId="4" orderBy="5" />
    <binary walletId="5" orderBy="6" />
    <poker walletId="6" orderBy="7" />
    <sbtech walletId="7" orderBy="8" />
  </WalletGroupSettings>
  <OperatorGroupSettings>
    <W88>
      <add key="OperatorId" value="1"/>
      <add key="LanguageSelection" value="en-us | zh-cn | vi-vn | th-th | km-kh | id-id | ko-kr | ja-jp"/>
      <add key="DefaultSelectedLanguage" value="en-us"/>
      <add key="Products" value="main | asports" />
      <add key="ASportsUrl" value="http://wapsbtest.w88.com:807/Deposit_ProcessLogin.aspx?lang={language}&amp;st={token}" />
    </W88>
    <W88_Iovation>
      <add key="CheckTransactionUrl" value="https://ci-snare.iovation.com/api/CheckTransaction" />
      <add key="GetEvidenceUrl" value="https://ci-snare.iovation.com/api/GetEvidenceDetails" />
      <add key="AccountPrefix" value="W88_" />
      <add key="SubscriberId" value="952002" />
      <add key="SubscriberAccount" value="OLTP" />
      <add key="SubscriberPassCode" value="2WTGH4X1" />
      <add key="ServiceDays" value="30" />
      <add key="ServiceEnabled" value="true" />
      <add key="Exceptions" value="office | office2" />
    </W88_Iovation>
  </OperatorGroupSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="AuditLog" value="yes"/>
    <add key="AuditLogFolder" value="D:\WebServerLogs\W88.Wap" />
    <add key="PrivateKey" value="wg8TaLcIGXwT"/>
    <add key="EncryptionKey" value="M41n$YsT3mVone"/>
    <add key="Operator" value="W88" />
    <add key="ClearWebCache" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
        <binding name="BasicHttpBinding_IFundTransfer" />
        <binding name="memberWSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://locationservices.ms1dev.com/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="wsIP2Loc.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://paymentservices.ms1dev.com/FundTransfer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFundTransfer" contract="svcFundTransfer.IFundTransfer" name="BasicHttpBinding_IFundTransfer" />
      <endpoint address="http://ws.ms1dev.com/memberws.asmx" binding="basicHttpBinding" bindingConfiguration="memberWSSoap" contract="wsMemberMS1.memberWSSoap" name="memberWSSoap" />
    </client>
  </system.serviceModel>
</configuration>