<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5
                   " />      
    </system.web>
  <appSettings>
    <add key="OperatorCode" value="w88"/>
    <add key="SlotKeyFunUrl" value="http://slotservice.w88uat.com/common.asmx/getfunplaykey" />
    <add key="SlotKeyRealUrl" value="http://slotservice.w88uat.com/common.asmx/getfunplaykey" />
    <add key="SlotBetUrl" value="http://slotservice.w88uat.com/games/bikinibeach.asmx/getbets"/>
    <add key="SlotSpinUrl" value="http://slotservice.w88uat.com/games/bikinibeach.asmx/spin"/>
    <add key="SlotBalanceUrl" value="http://slotservice.w88uat.com/common.asmx/getbalance"/>
    <add key="SlotBonusUrl" value="http://slotservice.w88uat.com/bikinibeach.asmx/bonusgame"/>
    <add key="SlotAuthLoginUrl" value="http://slotservice.w88uat.com/common.asmx/authorization" />
    <add key="SlotAuthSessionUrl" value="http://slotservice.w88uat.com/common.asmx/authenticate" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://locationservices.ms1dev.com/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="wsIP2Loc.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
