//
// Banner
// -------------------------------

.banner-lists {
    @extend .row-wrap;
    @extend .row-no-padding;
    color: #eee;
    max-width: 640px;
    margin: 0 auto;
    .col {
        width: 100%;
        @include flex(none);
    }
}

.banner-odd-even > li {
    &:nth-child(odd) {
        margin-bottom: 0;
        .banner-caption {
            float: right;
            max-width: 60%;
        }
    }
    &:nth-child(even) {
        .banner-caption {
            max-width: 70%;
        }
    }
    .ui-btn {
        display: inline-block;
        min-width: 130px;
        margin: 0;
    }
}

.banner {
    background-color: darken($base-background-color, 8%); // #0b0b0b
    position: relative;
    overflow: hidden;
    .img-bg {
        position: absolute;
    }
    .banner-caption {
        position: relative;
        z-index: 1;
        padding: $content-padding;
    }
    .title {
        color: $brand-color;
        font-size: 2rem;
        margin-top: 1rem;
    }
}

.banner-slider {
    .slide {
        position: relative;
    }
}

// -- Slick
// Variables
$slick-prev-character: "\f124" !default;
$slick-next-character: "\f125" !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 0.75 !default;
$slick-opacity-not-active: 0.5 !default;

.slick-slider {
    min-height: 100px;
    background-color: $black;
    > button,
    .slick-dots button {
        border: 0;
        outline: none;
        line-height: 0;
        cursor: pointer;
        color: transparent;
        background: transparent;
        display: block;
        padding: 0;
        z-index: 1;
        @include transition(.3s);
        &:hover, &:focus {
            outline: none;
            color: transparent;
        }
    }

    // Arrows
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%; margin-top: -20px;
        width: 40px; height: 40px;
        background-color: rgba(0,0,0,.25);
        &:hover, &:focus {
            &:before {
                @include opacity($slick-opacity-on-hover);
            }
        }
        &.slick-disabled:before {
            @include opacity($slick-opacity-not-active);
        }
    }

    .slick-prev:before,
    .slick-next:before {
        font: 1.5em/1 'ionicons';
        color: $white;
        display: block;
        text-align: center;
        @include opacity($slick-opacity-default);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-prev {
        left: 0;
        [dir="rtl"] & {
            left: auto; right: 0;
        }
        &:before {
            content: $slick-prev-character;
            [dir="rtl"] & {
                content: $slick-next-character;
            }
        }
    }

    .slick-next {
        right: 0;
        [dir="rtl"] & {
            left: 0; right: auto;
        }
        &:before {
            content: $slick-next-character;
            [dir="rtl"] & {
                content: $slick-prev-character;
            }
        }
    }

    // Dots
    .slick-dots {
        list-style: none;
        display: block;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 15px 0 10px;
        z-index: 1;
        @include linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%);
        li {
            display: inline-block;
            button {
                position: relative;
                height: 5px; width: 5px;
                margin: 5px;
                &:before {
                    content: '';
                    background-color: $white;
                    @include overlay;
                    @include transition(.3s);
                    @include border-radius(50%);
                    @include opacity($slick-opacity-not-active);
                }
                &:hover, &:focus {
                    &:before {
                        @include opacity($slick-opacity-on-hover);
                    }
                }
            }
            &.slick-active button:before {
                background-color: $primary-color;
                @include opacity($slick-opacity-default);
            }
        }
    }
}

//
// Media Query
// -------------------------------

.banner-lists {
    @media (min-width: 0) {
        .banner .img-bg {
            height: 100%;
            max-width: none;
        }
    }
    @media (min-width: 356px) {
        .banner .img-bg {
            height: auto;
            max-width: 100%;
        }
    }
    @media (min-width: $grid-responsive-sm-break) { // 567px
        .banner {
            height: 285px;
        }
    }
    @media (min-width: $grid-responsive-md-break) { // 767px
        // ...
    }
    @media (min-width: $grid-responsive-lg-break) { // 1023px
        // ...
    }
}
