//
// Cards
// -------------------------------

.card {
    text-align: center;
    padding: 0 !important;
    background-color: $black;
    display: block;
    width: 100%;
    float: left;
    min-height: 175px;
    .title {
        font-size: 1em;
        color: $energized;
        margin: $content-padding/2 auto;
    }
    small {
        display: block;
        color: $base-color;
    }
    // @include border-radius(2px);
    @include box-shadow(0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0,0,0,.24));
    @include transition(all 450ms cubic-bezier(.23,1,.32,1) 0ms);
}

.play-card {
    width: 94px;
    min-height: 120px;
    font-size: 1em;
    overflow: hidden;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: $content-padding/2;
    margin-right: 0;
    background-repeat: no-repeat;
    background-color: lighten(#000, 80%); // #ccc
    @include border-radius(3px);
    @include background-size(contain);
    @include box-shadow(0 2px 4px rgba(0,0,0,.3));
}
