//
// Footer
// -------------------------------

#footer {
    border: none !important;
    background-color: rgba(29,29,29,.98);
    .tabs {
        width: 60%;
        margin: auto;
    }
    .tab-item {
        background-color: transparent !important;
    }
    .colophon {
        color: darken($base-color, 10%);
        text-align: center;
    }
}
