//
// UI Icons
// -------------------------------

[class^="ui-icon-"], [class*=" ui-icon-"],
[class^="ui-btn-icon-"], [class*=" ui-btn-icon-"] {
    &:after {
        font: 1.5em $ionicons-font;
        color: $strong-color;
        color: rgba(255,255,255,0.5);
        text-indent: 0;
        background: none transparent !important;
    }
}

.ui-icon-carat-d:after {
    content: '\f3d0'; // ion-ios-arrow-down
}
.ui-icon-plus:after {
    content: '\f489'; // ion-ios-plus-empty
}
.ui-icon-minus:after {
    content: '\f489'; // ion-ios-plus-empty
}
.ui-checkbox-on:after {
    content: '\f3fd'; // ion-ios-checkmark-empty
}
.ui-icon-delete:after {
    content: '\f36e'; // ion-android-cancel
    @include opacity(.5);
    @include transition(.3s);
}
.ui-icon-delete {
    &:hover, &:focus {
        &:after {
            color: $assertive;
            @include opacity(.9)
        }
    }
}
