//
// UI Icons
// -------------------------------

[class^="ui-icon-"], [class*=" ui-icon-"],
[class^="ui-btn-icon-"], [class*=" ui-btn-icon-"] {
    &:after {
        font-family: 'icomoon';
        font-size: 1.2em;
        color: $strong-color;
        color: rgba(255,255,255,0.5);
        text-indent: 0;
        background: none transparent !important;
    }
}

.ui-icon-carat-d:after {
    content: '\e915';
}
.ui-icon-plus:after {
    content: '\e928';
}
.ui-icon-minus:after {
    content: '\e927';
}
.ui-checkbox-on:after {
    content: '\e926';
}
.ui-icon-delete:after {
    content: '\e925';
    @include opacity(.5);
    @include transition(.3s);
}
.ui-icon-delete {
    &:hover, &:focus {
        &:after {
            color: $assertive;
            @include opacity(.9)
        }
    }
}
