//
// Slots
// -------------------------------

#slots {
    .ui-icon-minus:after {
        content: '\f3d3'; // ion-ios-arrow-right
        right: $content-padding/2;
        font-size: 1.2em;
    }

    .ui-content {
        @include bg-gradient();
        overflow-x: visible;
    }

    .ui-collapsible {
        margin-bottom: .5em;

        &:first-child {
            margin-top: .5em;
        }

        &-heading {
            .ui-btn {
                color: $energized;
                font-size: 1.1em !important;
                background-color: transparent;
                border: none !important;
                padding: .5em;
            }
        }

        &-collapsed {
            margin: 0;

            .ui-btn {
                color: $strong-color;
                font-size: 1em !important;
                background-color: darken($primary-color, 10%);
                padding: 1em;
            }
        }

        &-content {
            border: none;
            background-color: transparent !important;
        }
    }

    .div-product {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;
        -ms-touch-action: none;

        > div:first-child {
            z-index: 1;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-touch-callout: none;
            @include transform(translateZ(0));
            @include text-size-adjust(none);
            @include user-select(none);
        }

        ul {
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
    // Card
    .bkg-game {

        @extend .play-card;

        > div:first-child {
            padding: 5px;
            border-radius: 10px;
            background-color: $white;
            padding-bottom: 1px;
            min-height: 119px;
            height: 119px;
        }
    }

    .div-links {
        width: 100%;
        height: 30px;
        bottom: 0;
        background-color: $white;

        a {
            color: $strong-color;
            background-color: $primary-color;
            width: 50%;
            position: absolute;
            left: 0;
            padding: .45em;

            &:last-child {
                left: inherit;
                right: 0;
            }
        }
    }
    // New Design (ref. Google Play)
    .bkg-game {
        width: 100px;
        @include border-radius(10px);
        border-radius: 10px;
        padding: 5px 0;
        margin: 0;
        background-color: transparent;

        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            max-height: 83px;
            height: 83px;
        }
    }

    .div-links {
        a {
            font: 11px $primary-font;
            text-transform: uppercase;
            color: $primary-color !important;
            background-color: transparent !important;
            padding: .75em;

            &:first-child {
                padding-right: 0;
            }

            &:last-child {
                padding-left: 0;
                border-left: 1px solid rgba(0,0,0,.1);
            }
        }
    }
}
