//
// Slots
// -------------------------------

#slots {
    .ui-icon-minus:after {
        content: '\e927'; // ion-ios-arrow-right
        right: $content-padding/2;
        font-size: 1.2em;
    }

    .ui-content {
        @include bg-gradient();
        overflow-x: visible;
    }

    .ui-collapsible {
        margin-bottom: .5em;

        &:first-child {
            margin-top: .5em;
        }

        &-heading {
            .ui-btn {
                color: $energized;
                font-size: 1.1em !important;
                background-color: transparent;
                border: none !important;
                padding: .5em;
            }
        }

        &-collapsed {
            margin: 0;

            .ui-btn {
                color: $strong-color;
                font-size: 1em !important;
                background-color: darken($primary-color, 10%);
                padding: 1em;
            }
        }

        &-content {
            border: none;
            background-color: transparent !important;
        }
    }

    .div-product {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1;
        -ms-touch-action: none;

        > div:first-child {
            z-index: 1;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-touch-callout: none;
            @include transform(translateZ(0));
            @include text-size-adjust(none);
            @include user-select(none);
        }

        ul {
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .bkg-game {
        width: 100px;
        background-color: transparent;
        font-size: 1em;
        text-align: center;
        position: relative;
        display: inline-block;
        min-height: auto;
        @include box-shadow(none);
        > div{
            padding: 5px;
            @include border-radius(8px);
            background-color: $white;
            padding-bottom: 1px;
            @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
        }
        img {
            @include border-radius(6px 6px 0 0 );
            max-height: 83px;
            height: 83px;
        }
    }

    .div-links {
        width: 100%;
        background-color: $white;
        display: table;
        a {
            padding: 0.5em 0;
            font: 11px $primary-font;
            color: $strong-color;
            background-color: $primary-color;
            width: 50%;
            text-transform: uppercase;
            color: $primary-color !important;
            background-color: transparent !important;
            display: table-cell;
            &:first-child {
            }

            &:last-child {
                border-left: 1px solid rgba(0,0,0,.1);
            }
        }
    }
} 