//
// Slots
// -------------------------------

// Icons
.icon-play_arrow,
.icon-fullscreen {
    font-family: $ionicons-font;
}
.icon-play_arrow:after {
    content: '\f215'; // ion-play
}
.icon-fullscreen:after {
    content: '\f25e'; // ion-arrow-expand
}

#slots {
    .ui-icon-minus:after {
        content: '\f3d3'; // ion-ios-arrow-right
        right: $content-padding/2;
        font-size: 1.2em;
    }
    .ui-content {
        @include bg-gradient();
    }
    .ui-collapsible {
        margin-bottom: .5em;
        &:first-child {
            margin-top: .5em;
        }
        &-heading {
            .ui-btn {
                color: $energized;
                font-size: 1.1em !important;
                background-color: transparent;
                border: none !important;
                padding: .5em;
            }
        }
        &-collapsed {
            margin: 0;
            .ui-btn {
                color: $strong-color;
                font-size: 1em !important;
                background-color: darken($primary-color, 10%);
                padding: 1em;
            }
        }
        &-content {
            border: none;
            background-color: transparent !important;
        }
    }

    .div-product {
        width: 100%;
        height: 130px;
        display: block;
        position: relative;
        z-index: 1;
        -ms-touch-action: none;
        > div:first-child {
            position: absolute;
            z-index: 1;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-touch-callout: none;
            @include transform(translateZ(0));
            @include text-size-adjust(none);
            @include user-select(none);
        }
        ul {
            width: 100%;
            list-style: none;
            margin: 0; padding: 0;
            white-space: nowrap;
        }
    }

    // Card
    .bkg-game {
        @extend .play-card;
    }
    .div-links {
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;
        background-color: $white;
        a {
            color: $strong-color;
            background-color: $primary-color;
            width: 50%;
            position: absolute;
            left: 0; padding: .45em;
            &:last-child {
                left: inherit; right: 0;
            }
        }
    }

    // New Design (ref. Google Play)
    .bkg-game {
        padding: 5px;
        background-color: $white;
        @include border-radius(2px);
    }
    .div-links {
        margin-left: -5px;
        a {
            color: $primary-color !important;
            background-color: transparent !important;
            // padding: .35em;
            // &:first-child, &:last-child {
            //     border-top: 1px solid rgba(0,0,0,.1);
            // }
            &:first-child {
                padding-right: 0;
            }
            &:last-child {
                padding-left: 0;
                border-left: 1px solid rgba(0,0,0,.1);
            }
        }
    }
    .icon-play_arrow,
    .icon-fullscreen {
        font: 11px $primary-font;
        text-transform: uppercase;
    }
    .icon-play_arrow:after {content: 'Play'}
    .icon-fullscreen:after {content: 'Try'}
}
