//
// Wallets
// -------------------------------

.wallet {
    text-align: center;
    padding: $grid-padding-width*1.5;
    .label {
        font-size: 85%;
        color: darken($base-color, 5%);
        text-transform: uppercase;
    }
    .value {
        font-size: 2rem;
        line-height: 1;
        color: $brand-color;
        margin: 0;
    }
    .currency {
        color: darken($base-color, 25%);
    }
}

.main-wallet {
    background-color: darken($primary-color, 34%);
    .value {
        font-size: 2.5rem;
    }
}

// Rewards
.rewards {
    .value {
        color: $primary-color;
    }
}
