$dinpro-font-path : '../../fonts/din-pro-reg' !default;
$dinpro : 'dinpro', sans-serif !default;

$brand-primary: #2a8fbd;
$brand-default: #01374d;
$brand-dark: #0a242f;
$brand-alt: #dab867;
$text-color: #d3dee3;
$text-dark: #afbdc3;
$white: #fff;