<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AuditLog" value="yes"/>
    <add key="AuditLogFolder" value="D:\WebServerLogs\W88.mServices" />    
    <add key="appName" value="affiliate"/>
    <add key="logPath" value="C:\MS1\WebServerLogs\Affiliate"/>
    <add key="dateFormat" value="dd-MMM-yyyy"/>
    <add key="dateTimeFormat" value="dd-MMM-yyyy HH:mm"/>
    <add key="dateTimeDisplayFormat" value="dd-MMM-yyyy hh:mm:ss tt"/>
    <add key="databasePassword" value="6gSa84xt/E6aJpdlER8j1qaFjKgzwloSoRgwnbc9z/6+/a8Qomt9B/GAdEOTSzrG"/>
    <add key="databasePasswordAffiliate" value="6gSa84xt/E6aJpdlER8j1qaFjKgzwloSoRgwnbc9z/6+/a8Qomt9B/GAdEOTSzrG"/>
  </appSettings>
  <connectionStrings>
    <add name="connAffiliate" connectionString="Data Source=192.168.86.23\UATDB,49163;Initial Catalog=AffiliateMS1;User ID=affiliate_user;Password=[xxx]"/>
    <!--<add name="connCore" connectionString="Data Source=192.168.86.23\UATDB,49163;Initial Catalog=MainMS1;User ID=maindb_user;Password=[xxx]"/>-->
    <add name="connCore" connectionString="Data Source=192.168.1.198;Initial Catalog=MainMS1;User ID=yongxiang;Password=Password123"/>
    <add name="connPayment" connectionString="Data Source=192.168.86.23\UATDB,49163;Initial Catalog=PaymentDBV3;User ID=maindb_user;Password=[xxx]"/>
    <add name="connProduct" connectionString="Data Source=192.168.86.23\UATDB,49163;Initial Catalog=ProductDBV3;User ID=maindb_user;Password=[xxx]"/>
    <add name="connMessage" connectionString="Data Source=192.168.86.23\UATDB,49163;Initial Catalog=MessageDBV3;User ID=maindb_user;Password=[xxx]"/>
  </connectionStrings>  

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
